@use '../../global.scss' as *;

.dynamic-fields-wrapper {
  .dynamic-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .form-group {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      width: 100%;
      background: #fff;
      padding: 1rem;

      .settings-form-label {
        width: 22%;
        overflow-wrap: break-word;

        .title {
          font-size: 0.95rem;
          color: $text-color;
          line-height: 1.125;
        }
      }

      &.vertical {
        flex-direction: column;
        box-sizing: border-box;

        &.settings-input-content {
          width: fit-content;
        }

        .settings-form-label {
          width: 100%;
        }
      }
    }

    .form-group.pro-setting {
      position: relative;
    }

    .form-group.module-enabled {
      position: relative;

      .adminfont-lock {
        color: blue;
      }
    }
  }
}

// metabox description start
.settings-metabox-note {
  background: #fff;
  padding: 1rem;
  width: 100%;  

  .metabox-note-wrapper {
    background: #ece2f991;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: start;
    gap: 0.5rem;
    border: 0.063rem solid $theme-color;
    border-radius: 0.313rem;
    box-sizing: border-box;
  }

    i {
      font-size: 1.313rem;
      color: $theme-color;
    }

    ul,
    li {
      margin: 0;
    }

    .title {
      font-size: 1.2rem;
      font-weight: 500;
      color: $theme-color;
      line-height: 1.5;
    }

    p {
      font-size: 0.875rem;
      margin: 0;
    }

    a {
      color: $theme-color;
    }

    &.notice {
      flex-direction: column;
      align-items: start;
      width: 100%;

      .title {
        display: flex;
        gap: 0.5rem;

        h3 {
          margin: 0;
        }
      }
    }

    &.green {
      background: #d9f5f0d8;
      border-color: #06be9f;

      i {
        color: #06be9f;
      }
    }

    &.yellow {
      background: #fff0e1e3;
      border-color: #ff9f43;

      i {
        color: #ff9f43;
      }
    }  
}

.settings-metabox-description {
  padding-top: 0.45rem;
  color: $sub-text-color;
  width: 100%;
  line-height: 1.625;
  margin: 0;
  font-size: 0.813rem;

  b {
    color: #000000b7;
  }

  p {
    margin-bottom: 0.5rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1rem;
  }

  li {
    list-style-type: number;
    margin: 0;
  }

  code {
    padding: 0.063rem 0.125rem 0.125rem;
    font-size: 0.688rem;
    line-height: 0.5;
  }

  a{
    color: $theme-color;
  }
}

// metabox description end

// file input start
.file-uploader {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 0.125rem dashed #dbdbdb;
  padding: 1rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 8.5rem;

  .upload-icon {
    font-size: 3.313rem;
    color: $theme-color;
  }

  span {
    font-size: 1rem;
    font-weight: 500;
    color: $sub-text-color;
  }

  .title {
    font-size: 1.313rem;
    margin-bottom: 0.4rem;
    line-height: 1;
    text-align: center;
  }

  button {
    margin-top: 0.4rem;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #5007aa0a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    opacity: 0;

    .button-wrapper {
      display: flex;
      gap: 0.5rem;
    }
  }

  &:hover .overlay {
    opacity: 1;
  }

  &.medium {
    width: 50%;
  }

  &.small {
    width: 20%;

    .upload-icon {
      font-size: 1.8rem;
    }

    .title {
      font-size: 0.9rem;
    }

    span {
      font-size: 0.75rem;
    }

    button {
      margin: 0;
    }
  }
}

.uploaded-image {
  display: flex;
  gap: 0.625rem;
  margin-top: 1rem;

  .image {
    height: 5rem;
    position: relative;

    img {
      height: 100%;
    }

    i {
      position: absolute;
      right: 0.125rem;
      top: 0.125rem;
      background: $accent-color;
      border-radius: 50%;
      padding: 0.2rem;
      font-size: 0.625rem;
      color: #fff;
      opacity: 0;
      cursor: pointer;
    }

    &:hover i {
      opacity: 1;
    }
  }
}

// file input end

// radio input start (check catalogx and common)
.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  label {
    font-size: 0.875rem;
    margin-left: 0.313rem;
  }

  // color radio
  .color-radio {
    width: 49%;

    .color-palette {
      display: flex;
      margin-top: 0.5rem;

      div {
        width: 25%;
      }
    }
  }

  .image-radio {
    padding: 0.6rem 1rem 0.8rem;
    border-radius: 0.25rem;
    border: 0.063rem solid #e0e4e9;
    position: relative;
    width: 100%;
    height: 16rem;
    overflow: hidden;
    transition: all 0.5s ease;

    input {
      position: absolute;
      top: 0.9rem;
      right: 0.813rem;
      border-radius: 0.125rem;
      opacity: 0;
      width: 1rem;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .image-radio-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #795b9d;
        color: #fff;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.25rem;
        transition: all 0.3s ease;
      }
    }

    .admin-pro-tag {
      top: 1.425rem;
      right: 1rem;
    }

    &.active {
      input {
        opacity: 1;
      }
    }

    &:hover {
      height: auto;

      .image-radio-overlay {
        opacity: 0.5;
      }
    }
  }
}
// radio input end


// radio input start
.settings-form-group-radio {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    margin-top: 0.5rem;

    .radio-basic-input-wrap {
        display: flex;
        gap: 0.5rem;

        &.radio-select-active {
            input {
                border-color: $theme-color;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    border-radius: 50%;
                    width: 0.5rem;
                    height: 0.5rem;
                    background: $theme-color;
                    left: 0.125rem;
                }
            }
        }
    }
}
// radio input end