@use '../../global.scss' as *;

.dynamic-fields-wrapper {
  padding: 2rem;

  .dynamic-form {
    .form-group {
      margin: 1.25rem 0;
      display: flex;
      align-items: flex-start;

      .settings-form-label {
        width: 27%;
        word-wrap: break-word;
      }

      .settings-input-content {
        flex: 1;
      }
    }

  }
}

@media screen and (width <=61.488rem) {
  .dynamic-fields-wrapper {
    .dynamic-form {
      .form-group {
        flex-direction: column;
        gap: 1rem;

        .settings-form-label,
        .settings-input-content {
          width: 100%;
        }
      }
    }
  }
}