@use '../../global.scss' as *;

.support-card {
  display: flex;
  gap: 1.5rem;
  margin: 1.5rem 0;
  justify-content: center;

  .card-item {
    padding: 2.5rem;
    border-radius: $border-radius-small;
    background: $color-white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    width: 23%;

    &:hover {
      color: $text-color;
    }

    i {
      color: $theme-color;
      font-size: 2rem;
      margin-bottom: .75rem;
      background: $theme-background-color;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 0.5rem;
      border-bottom: 15px;
      border-radius: 8px;
      margin-bottom: 0.625rem;
    }

    span {
      display: block;
      font-size: 1.425rem;
      margin-bottom: .5rem;
      font-weight: 500;
    }
    p{
      text-align: center;
    }
  }
}