@use '../../global.scss' as *;

.dynamic-fields-wrapper {
  padding: 1.5rem 0;

  .dynamic-form {
    display: flex;
    flex-wrap: wrap;

    .form-group {
      margin: 1.25rem 0;
      display: flex;
      align-items: flex-start;
      gap: 0.5rem;
      width: 100%;

      .settings-form-label {
        width: 22%;
        word-wrap: break-word;

        .title{
          font-size: 0.95rem;
          color: $text-color;
          line-height: 0.95rem;
        }
      }
      &.width-50{
        width: 50%;
      }
      &.vertical{
        flex-direction: column;
        margin-bottom: 2rem;
        &.settings-input-content{
          width: fit-content;
        }
        .settings-form-label{
          width: 100%;
        }
      }
    }

  }
}

@media screen and (width <=61.488rem) {
  .dynamic-fields-wrapper {
    .dynamic-form {
      .form-group {
        flex-direction: column;
        gap: 1rem;

        .settings-form-label,
        .settings-input-content {
          width: 100%;
        }
      }
    }
  }
}