@use '../../global.scss' as *;

.sso-key-section {
    display: flex;
    align-items: center;
    position: relative;

    .basic-input{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    .admin-btn{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .clear-btn{
        background: transparent;
        border: 0.063rem solid #e0e4e9;
        min-height: 2.05rem;
        border-left: none;
        border-right: none;
        padding-right: 0.5rem;
        color: #ff00008c;
        font-size: 1.25rem;
    }

    .copy-btn {
        background: $theme-color;
        color: #fff;  
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;    
    }
}