@use '../../global.scss' as *;

.date-picker-section-wrapper {
    position: relative;
    background: $background-white;

    .date {
        width: 14rem;
    }

    .date-label {
        font-size: 1rem;
        padding-bottom: 0.313rem;
    }
}

.date-picker {
    position: absolute;
    right: 0;
    z-index: 100;
    border: $border-light-small;
}

.date-picker.open-bottom {
    top: calc(100% + 0.25rem);
}

.date-picker.open-top {
    bottom: calc(100% + 0.25rem);
}