@use '../../global.scss' as *;

.settings-calender {
    position: relative;

    .rmdp-container {
        width: 16.5rem;
    }

    // without input calendar start
    .calendar-wrapper {
        .rmdp-top-class {
            box-shadow: none;
            border: none;
            width: 100%;

            // left side start
            .rmdp-calendar {
                width: 100%;

                // header
                .rmdp-header {
                    button {
                        i {
                            border-color: $theme-color;
                        }
                    }

                    .rmdp-header-values {
                        span.sd {
                            font-size: 1.125rem;
                        }
                    }
                }

                // date picker
                .rmdp-day-picker div {
                    width: 100%;

                    // date row
                    .rmdp-week {
                        gap: 0.5rem;
                        padding: 0.25rem;
                        box-sizing: border-box;

                        // week name 
                        .rmdp-week-day {
                            font-size: 1.125rem;
                            color: $theme-color;
                        }

                        // day
                        .rmdp-day {
                            height: 6rem;

                            span.sd {
                                border-radius: $border-radius-small;
                                font-size: 1.5rem;

                                &:hover {
                                    background: $theme-background-color;
                                }
                            }

                            &.rmdp-selected span.sd:not(.highlight) {
                                background: $theme-color;
                            }

                            &:not(.rmdp-day-hidden) {
                                background: #efecec;
                            }
                        }
                    }
                }


                // mont picker
                .rmdp-month-picker {
                    .rmdp-day {
                        margin: 0;
                        height: 100%;

                        span.sd {
                            border-radius: $border-radius-small;
                            font-size: 1.25rem;
                        }

                        &.rmdp-selected span.sd {
                            background: $theme-color
                        }

                        &:not(.rmdp-selected):hover span.sd {
                            background: $theme-background-color;
                        }
                    }
                }
            }

            .rmdp-panel.right {
                display: none !important;
            }
        }
    }

    // without input calendar end.

    // today yesterday section start
    .rmdp-wrapper {
        width: 100%;

        .range-picker-wrapper {
            width: 10rem;
            padding-top: 0.625rem;

            div {
                padding: 0.625rem;
                font-size: 0.813rem;
                border-bottom: $border-light-small;
                cursor: pointer;

                &:hover {
                    background: $theme-background-color;
                }
            }
        }

        // today yesterday section end
    }


    // input calendar start

    // tabs 
    .calendar-tabs-container {
        position: absolute;
        z-index: 99;
        background: $background-white;
        width: 25rem;
        right: 0;
        border-radius: $border-radius-small;
        box-shadow: $box-shadow;

        .range-picker-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            justify-content: center;
            padding: 0.85rem;

            div {
                width: calc(50% - 0.5rem);
                padding: 0.625rem;
                box-sizing: border-box;
                background: $theme-background-color;
                border-radius: $border-radius-small;
                color: $theme-color;
                text-align: center;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        // tab
        .tabs-item {
            width: 100%;
            padding-top: 0.45rem;

            .tab {
                width: 50%;
                justify-content: center;
                font-size: 1.063rem;
            }
        }

    }

    .calendar-tabs-container.open-downward {
        top: calc(100% + 0.5rem);
        bottom: auto;
    }

    .calendar-tabs-container.open-upward {
        bottom: calc(100% + 0.5rem);
        top: auto;
    }

    .input-calendar {
        box-shadow: none !important; // for overwrite calender component 

        .rmdp-calendar {
            width: 100%;
        }

        // header
        .rmdp-header {
            .rmdp-header-values {
                font-size: 1.313rem;
                font-weight: 500;

            }

            .rmdp-arrow-container {
                color: $theme-color;

                i {
                    width: 0.45rem;
                    height: 0.45rem;
                    cursor: pointer;
                    border-color: $theme-color;
                }

                &:hover {
                    background: transparent;
                }
            }
        }

        .rmdp-day-picker {

            // week row
            .rmdp-week .rmdp-week-day {
                color: $theme-color;
                width: 3.313rem;
                font-size: 1.125rem;
                padding-bottom: 0.5rem;
            }

            .rmdp-day-picker {
                justify-content: center;
            }

            .rmdp-day {
                width: 3.313rem;
                height: 3.313rem;

                span.sd {
                    font-size: 1.063rem;
                }

                // selected date
                &.rmdp-range {
                    background: $theme-background-color;
                    color: $theme-color;
                    box-shadow: none;
                }

                // today date
                &.rmdp-today span {
                    background: $theme-color;
                    color: #fff;
                }
            }



            .rmdp-day:not(.rmdp-disabled, .rmdp-day-hidden) span:hover {
                background: $theme-background-color;
                color: $theme-color;
            }
        }
    }

    // input calendar end
}