@use '../../global.scss' as *;

.color-setting {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;

    .color-palette-wrapper {
        width: 22%;

        .predefined {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;

            .palette {
                display: flex;
                align-items: center;
                margin-bottom: 0.5rem;

                input {
                    display: none;
                }

                label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    border: 1px solid #ccc;
                    border-radius: 0.375rem;
                    padding: 10px 0.75rem;
                    cursor: pointer;
                    background-color: #fff;
                    width: 100%;
                    transition: all 0.2s ease;

                    &.checked {
                        border: 2px solid #007cba;
                        background-color: #f0faff;
                    }
                }
                &:has(input:checked){
                    label{
                        border: $border-theme-small;
                        background: $theme-background-color;
                    }
                }
                span {
                    font-size: 0.875rem;
                    font-weight: 500;
                }

                .color {
                    display: flex;
                    width: 100%;
                    height: 1.125rem;
                    border: 1px solid #ddd;
                    border-radius: 0.25rem;
                    overflow: hidden;

                    div {
                        width: 100%;
                    }
                }
            }
        }

        .custom {
            .palette {
                display: flex;
                gap: 1rem;
                flex-direction: column;

                .color-wrapper {
                    display: flex;
                    gap: 0.25rem;
                    padding: 0.313rem;
                    border: $border-light-small;

                    input {
                        height: 3rem;
                        width: 3rem;
                        border: none;
                        padding: 0;
                    }

                    label {
                        div {
                            font-size: 0.9rem;
                            font-weight: 500;
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

.form-group-color-setting {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 0.75rem;
}


.image-list {
    width: 25%;

    .image-thumbnail {
        display: flex;
        align-items: center;
        gap: 0.313rem;
        padding: 0.5rem;
        margin-bottom: 0.625rem;
        border: $border-light-small;
        cursor: pointer;
        border-radius: 0.313rem;

        p {
            font-size: 0.95rem;
            font-weight: 500;
        }

        img {
            width: 3rem;
            height: 100%;
        }

        &.active {
            border-color: $theme-color;
            background: $theme-background-color;

            p {
                color: $theme-color;
            }
        }
    }
}

.image-preview {
    max-height: 50rem;
    width: 75%;

    img {
        height: auto;
        width: 100%;
    }
}