.form-group-color-setting {}

.preview-wrapper {
    margin-top: 20px;
        display: flex;
        border: 1px solid #ccc;
        border-radius: 8px;
        width: 500px;
        height: 260px;
        overflow: hidden;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}