@use '../../global.scss' as *;

.color-setting {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
    .color-palette-wrapper {
        width: 22%;
        .predefined {
            display: flex;
            gap: 0.5rem;
            flex-direction: column;

            .palette {
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                input {
                    display: none;
                }

                label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    border: 1px solid #ccc;
                    border-radius: 6px;
                    padding: 10px 12px;
                    cursor: pointer;
                    background-color: #fff;
                    width: 100%;
                    transition: all 0.2s ease;

                    &.checked {
                        border: 2px solid #007cba;
                        background-color: #f0faff;
                    }
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                }

                .color {
                    display: flex;
                    width: 100%;
                    height: 18px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    overflow: hidden;

                    div {
                        width: 100%;
                    }
                }
            }
        }

        .custom {
            .palette {
                display: flex;
                gap: 1rem;
                flex-direction: column;

                .color-wrapper {
                    display: flex;
                    gap: 4px;
                    padding: 0.313rem;
                    border: $border-light-small;

                    input {
                        height: 3rem;
                        width: 3rem;
                        border: none;
                        padding: 0;
                    }

                    label {
                        div {
                            font-size: 0.9rem;
                            font-weight: 500;
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}

.preview-wrapper {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 0.5px;
    width: 78%;
    height: 35rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .tabs-wrapper {
        width: 10rem;
        display: flex;
        flex-direction: column;
        gap: 12px;
        z-index: 999;

        .logo-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.75rem;

            img {
                width: auto;
                height: 1.5rem;
            }
        }

        .dashboard-tabs {
            padding: 0;
            margin: 0;

            li {
                padding: 0 0.75rem;
                position: relative;

                .admin-arrow {
                    position: absolute;
                    top: 25%;
                    right: 1rem;
                    font-size: 1rem;
                    color: #000;
                }

                a.tab {
                    display: flex;
                    position: relative;
                    align-items: center;
                    transition: all 0.3s ease;
                    font-weight: 700;
                    font-size: 0.75rem;
                    letter-spacing: .01em;
                    text-transform: none;
                    line-height: 1.25rem;
                    color: #526484;
                    padding: 0.313rem 0.5rem;
                    border-radius: 0.375rem;
                    gap: 0.5rem;

                    .tab-name {
                        display: flex;
                        gap: 0.875rem;
                        align-items: center;
                    }
                }

                &.active,
                &:hover {
                    a.tab {
                        background-color: #ebeef2;
                    }
                }
            }
        }

        .subtabs {
            list-style-type: none;
            padding: 0;

            li {
                padding: 0;
                margin: 0;

                a {
                    font-size: 0.625rem;
                    letter-spacing: .01em;
                    text-transform: none;
                    line-height: 0.5rem;
                    color: #526484;
                    padding-left: 3rem;
                }
            }
        }
    }

    .tab-wrapper {
        // padding-left: 18.125rem;
        width: calc(100% - 10rem);
        min-height: 100vh;
        background-color: #f5f6fa;
        position: relative;

        .top-navbar {
            width: 96%;
            background: #fff;
            display: flex;
            justify-content: space-between;
            min-height: 2.5rem;
            max-height: 2.5rem;
            align-items: center;
            padding: 0 1rem;
            position: absolute;
            right: 0;
            z-index: 1;
            box-shadow: 0 1px 3px #364a630d;
            border-bottom: 1px solid #e5e9f2;
            top: 0;

            .navbar-rightside {
                .navbar-right {
                    display: flex;
                    gap: 0.75rem;
                    align-items: center;
                    list-style-type: none;

                    li {
                        position: relative;
                        cursor: pointer;

                        .adminlib-icon {
                            color: #526484;
                        }
                    }

                    // user dropdown start
                    .login-user {
                        position: relative;

                        .avatar-wrapper {
                            border-radius: 50%;
                            width: 1rem;
                            height: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;

                            i {
                                font-size: 0.75rem;
                            }
                        }
                    }

                    // user dropdown end
                }
            }
        }

        .content-wrapper {
            margin-top: 4rem;
            padding: 2rem;

            .title-wrapper {
                display: flex;
                justify-content: space-between;
                padding-bottom: 1.75rem;

                h2 {
                    font-size: 2rem;
                    font-weight: 700;
                    color: #364a63;
                }

                .action-wrapper {
                    display: flex;
                    gap: 0.625rem;
                }
            }
        }
    }
}