@use '../../global.scss' as *;

.MuiDialog-container {
    .title-wrapper {
        padding: 1.313rem;
        border-bottom: $border-light-small;
        position: relative;

        .title {
            font-size: 1.313rem;
            color: #000;
            padding-bottom: 0.125rem;

            i {
                color: $theme-color;
                font-size: 1.625rem;
                margin-right: 0.5rem;
            }
        }

        p {
            font-size: 0.85rem;
            margin: 0;
            padding-top: 0.125rem;
            font-weight: 400;
            padding-right: 1rem;
        }

        .icon {
            position: absolute;
            background: #fde8e4;
            padding: 0.125rem;
            font-size: 0.95rem;
            color: #f06b4f;
            border-radius: 50%;
            cursor: pointer;
            top: 1.313rem;
            right: 1.313rem;
        }
    }

    .popup-footer {
        padding: 0.813rem;
        display: flex;
        justify-content: end;
        gap: 0.5rem;
        border-top: $border-light-small;
    }
}