@use '../../global.scss' as *;

.MuiDialog-container {
    .title-wrapper {
        padding: 1.313rem;
        border-bottom: $border-light-small;
        position: relative;
        background: $background-white;

        .title {
            font-size: 1.313rem;
            color: $text-color;
            padding-bottom: 0.125rem;
            line-height: 1.625rem;

            i {
                color: $theme-color;
                font-size: 1.625rem;
                margin-right: 0.5rem;
            }
        }

        p {
            font-size: 0.85rem;
            margin: 0;
            padding-top: 0.125rem;
            font-weight: 400;
            padding-right: 1rem;
        }

        .icon {
            position: absolute;
            background: #fde8e4;
            padding: 0.125rem;
            font-size: 0.95rem;
            color: $accent-color;
            border-radius: 50%;
            cursor: pointer;
            top: 1.313rem;
            right: 1.313rem;
        }
    }

    .popup-footer {
        padding: 0.813rem;
        border-top: $border-light-small;
    }

    .admin-table-header {
        background: $theme-background-color;
        color: $theme-color;
    }

    .admin-table {
        .admin-table-body {
            tr:last-child {
                border-bottom: $border-light-small;
            }
        }
    }
}

.MuiDialog-container {
    .content {
        max-height: 70vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .form-group-wrapper {
            // display: flex;
            // flex-direction: column;

            // .form-group {
            //     display: flex;
            //     flex-direction: column;

            //     label {
            //         font-size: 0.9rem;
            //     }

            //     .tag-wrapper {
            //         display: flex;
            //         gap: 0.313rem;
            //     }
            // }

            .space {
                margin: 3.5rem;
            }

            .available-balance {
                font-size: 1rem;
                border-radius: 0.313rem;
                color: $sub-text-color;
                font-weight: 500;
                text-align: center;

                div {
                    font-weight: 600;
                    color: $theme-color;
                    font-size: 2.5rem;
                    padding-left: 0.313rem;
                    line-height: 3rem;
                }
            }

            .free-wrapper {
                font-size: 0.95rem;
                font-weight: 500;
                padding-top: 0.5rem;
                color: #00000085;

                span {
                    padding-right: 0.5rem;
                }
            }
        }

        .heading {
            font-size: 1.125rem;
            font-weight: 500;
            // margin-bottom: 1.125rem;
        }

        .vendor-details {
            margin-bottom: 1rem;

            .name {
                font-size: 1.313rem;
                font-weight: 500;
                line-height: 2rem;
            }

            .details {
                display: flex;
                gap: 1rem;
                align-items: center;
                font-size: 0.9rem;

                div {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }

        .details-wrapper {
            display: flex;
            border: $border-light-small;
            border-radius: 0.313rem;
            padding: 1rem;
            margin-bottom: 1.125rem;
            gap: 1rem;
            justify-content: space-between;

            .details {
                width: fit-content;

                .name {
                    font-size: 0.95rem;
                    color: $sub-text-color;
                    font-weight: 500;
                }

                .value {
                    font-size: 1rem;
                    padding-top: 0.625rem;
                    display: flex;
                    font-weight: 500;
                    color: $text-color;
                }
            }
        }

        .commission-details {
            .items {
                display: flex;
                align-items: start;
                gap: 0.625rem;
                padding: 0.625rem 0;

                .text {
                    font-size: 0.9rem;
                    font-weight: 500;
                    color: $sub-text-color;
                    width: 60%;
                }

                .value {
                    font-size: 1rem;
                    color: $text-color;
                    font-weight: 500;
                    width: 40%;
                    display: flex;
                }
            }
        }

        &.multi {
            padding: 0;
            display: flex;
            gap: 1.5rem;

            .section {

                &.left {
                    width: 70%;
                    border-right: $border-light-small;
                    padding-right: 1.5rem;
                }

                &.right {
                    width: 30%;
                }
            }
        }

        .popup-divider {
            margin: 1rem 0;
            height: 0.063rem;
            border-bottom: $border-light-small;
        }

        .settings-metabox-note {
            width: 100%;
        }
    }
}

.MuiDialogContent-root:has(.content) {
    background: $background-white;
}