@use '../../global.scss' as *;

.title {
    font-size: 1.125rem;
    font-weight: 500;
    color: $text-color;
}

.desc,
.des {
    font-size: 0.9rem;
    color: $sub-text-color;
    padding: 0;
}

.multivendorx-main-wrapper {
    .col {
        width: 100%;
    }
}

.form-group-title-wrapper {
    padding: 1rem 0 0.5rem;
    border-bottom: $border-light-small;
    margin-bottom: 1rem;
}

.form-group-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .settings-metabox-note {
        margin-bottom: 1rem;
    }

    .payment-method {
        .method {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 0.5rem 0.75rem;
            gap: 0.45rem;
            background: $theme-background-color;
            font-size: 0.95rem;
            font-weight: 500;
            border-radius: 0.313rem;
            color: $theme-color;
            border: 0.063rem solid $theme-color;
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;

        &[data-cols='1'] {
            flex: 1 1 100%;
        }

        &[data-cols='2'] {
            flex: 1 1 calc(50% - 1rem);
        }

        &[data-cols='3'] {
            flex: 1 1 calc(33.333% - 1rem);
        }

        &[data-cols='4'] {
            flex: 1 1 calc(25% - 1rem);
        }

        &.row {
            flex-direction: row;
            gap: 0.5rem;
            align-items: start;

            label:first-child {
                width: 30%;
            }

            .checkbox-list-side-by-side,
            .setting-input {
                width: 70%;
                flex-direction: column;
                align-items: start;
                gap: 0;
            }
        }

        &.align-bottom {
            align-items: end;
        }

        &.border-top {
            padding-top: 1rem;
            border-top: $border-light-small;
        }

        .button-wrapper {
            display: flex;
            justify-content: start;
        }

        label {
            font-size: .95rem;
            font-weight: 500;
            color: $text-color;
            margin-bottom: .5rem;
            // display: flex;
            // gap: 0.625rem;
            line-height: 1;
            // align-items: end;
        }

        .toggle-setting-container label {
            margin: 0;
        }

        .date-field-wrapper {
            display: flex;
            gap: 0.5rem;
        }

        .multi-field {
            display: flex;
            gap: 0.313rem;
        }

        // add membership page 
        .checkbox-list-side-by-side {
            margin-top: 0.625rem;
        }
    }
}

// card styles start

// location map box style start
#location-map {
    height: 18.75rem;
    width: 100%;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    position: relative;

    #store-location-autocomplete-container {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
    }
}

// data card design start
.data-card-wrapper {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;

    .data-card {
        width: 100%;
        background: #fff;
        padding: 1.5rem;
        border-radius: 0.313rem;
        box-sizing: border-box;

        .number {
            font-size: 2rem;
            line-height: 2rem;
            margin-top: 0.813rem;

            // font-weight: 600;
            display: flex;
            justify-content: space-between;
            align-items: end;

            i {
                padding: 0.313rem;
                color: $theme-color;
            }
        }

        .title {
            font-size: 0.95rem;
        }
    }
}

.settings-metabox-description.slug i {
    font-size: 0.813rem;
}

.w-50 {
    width: 50% !important;
}

.admin-pt-2 {
    padding-top: 2rem;
}

// review style
.reviews-wrapper {
    display: flex;
    gap: 0.313rem;
    font-size: 1rem;
    font-weight: 500;

    .review {
        color: #e7b205;
    }

    span {
        padding-left: 0.313rem;
        display: flex;
    }
}

// review start
.review-wrapper {
    display: flex;
    gap: 1.5rem;

    // remove
    .review-box {
        padding: 1rem;
        border: $border-light-small;
        border-radius: 0.313rem;

        .start-wrapper {
            color: #ffc800;
            display: flex;
            font-size: 1.063rem;
            gap: 0.125rem;
        }

        .body {
            .review {
                padding-top: 1.5rem;
                font-size: 1.063rem;
                line-height: 1.5rem;
            }
        }

        .footer {
            border-top: $border-light-small;
            margin-top: 2rem;
            display: flex;
            padding-top: 1rem;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
            }

            .details {
                .name {
                    font-size: 1.125rem;
                    color: $text-color;
                    margin-bottom: 0.313rem;
                }

                .role {
                    color: #868585;
                }
            }
        }
    }

    .review {
        padding: 1rem;
        border: $border-light-small;
        border-radius: 0.313rem;

        .details {
            .title {
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1rem;
                margin-bottom: 0.625rem;
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            .avatar {
                padding: 0.313rem;
                background: $theme-color;
                border-radius: 50%;

                i {
                    font-size: 1.125rem;
                    color: #fff;
                }
            }

            .des {
                padding-top: 0.5rem;
                line-height: 1.25rem;
            }

            .star-wrapper {
                span {
                    color: #0000004a;
                    font-size: 0.813rem;
                    font-weight: 500;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

.rating-details {
    flex-grow: 0;
    min-width: 25rem;

    .rating-details-wrapper {
        .title-wrapper {
            flex-direction: column;
            padding: 0;

            .rating-wrapper {
                padding-bottom: 0.45rem;
            }

            .title {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

    .review {
        padding-top: 0.313rem;
        color: $sub-text-color;
    }
}

.star-icon {
    color: #ffc800;
}

// review end

// no permission section start
.permission-wrapper {
    height: 18rem;
    width: 100%;
    background: $background-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    i {
        padding: 0.5rem;
        font-size: 1.45rem;
        border-radius: 0.313rem;
    }

    .title {
        font-size: 1.25rem;
        margin: 1rem;
    }

    .des {
        margin-bottom: 1rem;
    }
}

// no data found start
// .no-data-found {
//     text-align: center;
//     width: 70%;
//     margin: auto;

//     .icon {
//         padding: 0.5rem;
//         font-size: 1.625rem;
//         border-radius: 0.313rem;
//     }

//     .title {
//         font-size: 1.313rem;
//         font-weight: 600;
//         line-height: 1.5rem;
//         margin-top: 1rem;
//         padding-bottom: 0.75rem;
//     }
// }

.no-data {
    padding: 3rem;
    background: $background-white;
    text-align: center;
    color: $sub-text-color;
}

// no data found end

// notification style start
.notification-wrapper {
    ul {
        margin: 0;
        padding: 0;

        li {
            display: flex;
            padding: 0.625rem;
            border: $border-light-small;
            align-items: start;
            cursor: pointer;
            border-radius: 0.313rem;
            margin-bottom: 1rem;
            gap: 0.5rem;

            .icon-wrapper {
                padding: 0.313rem 0;

                i {
                    font-size: 1.125rem;
                    padding: 0.313rem;
                    border-radius: 0.313rem;
                }
            }

            .details {
                width: 90%;
                position: relative;
                flex-direction: column;
                margin: 0;
                align-items: start;

                .notification-title {
                    font-size: 1.063rem;
                    color: $text-color;
                    padding-bottom: 0.313rem;
                }

                span {
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: $sub-text-color;
                    font-weight: 500;
                }

            }

            &:hover {
                background-color: $background-color;
            }
        }
    }
}

// notification style end

// actively log start
.activity-log {
    .activity {
        padding: 0 0 1.45rem 1.313rem;
        position: relative;
        border-left: 0.063rem solid $theme-color;

        span {
            position: absolute;
            right: 0;
            top: 0;
            color: $sub-text-color;
            font-weight: 500;
        }

        .title {
            font-size: 1.063rem;
            line-height: 1rem;
        }

        .des {
            padding-top: 0.5rem;
        }

        &::before {
            position: absolute;
            content: "";
            width: 0.813rem;
            height: 0.813rem;
            border-radius: 50%;
            background: $theme-color;
            top: 0;
            left: -0.45rem;
            outline: 0.313rem solid $background-white;
        }
    }

    .activity:last-child {
        border-left: 0.063rem solid #fff;
    }
}

// actively log end


// text edit bt icon 
.catalog-visibility {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 0.313rem;
    // margin-bottom: 0.625rem;
    color: $text-color;

    .admin-badge {
        font-size: 0.813rem;
        cursor: pointer;
    }
}

.setting-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    background: $background-white;
    border: $border-light-small;
    z-index: 9;
    width: 100%;
    padding: 0.625rem;
}