@use '../../global.scss' as *;

.title {
    font-size: 1.125rem;
    font-weight: 500;
    color: $text-color;
}

.desc,
.des {
    font-size: 0.9rem;
    color: $sub-text-color;
    padding: 0;
}

.multivendorx-main-wrapper {
    .container-wrapper {
        display: flex;
        gap: 1rem;
        align-items: start;
    }

    .card-wrapper {
        display: flex;
        gap: 1rem;
        width: 100%;
        position: relative;
    }

    .card-wrapper:has(.transaction) {
        margin-bottom: 1rem;
    }

    .column {
        flex-direction: column;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
        border-bottom: $border-light-small;
        align-items: start;

        .icon {
            font-size: 0.95rem;
            padding: 0.313rem;
            border-radius: 50%;
            transition: all 0.4s ease;
            cursor: pointer;
            margin-top: -0.313rem;
            color: $sub-text-color;

            &:hover {
                background: $background-color;
            }
        }

        .left {
            .title {
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            .des {
                padding-top: 0.125rem;
            }
        }

        .right {
            display: flex;
            gap: 0.5rem;
            .field-wrapper{
                .des{
                    padding-top: 0.5rem;
                }
            }
            span {
                font-size: 0.875rem;
                color: #0000009e;
            }

            .admin-btn {
                i {
                    padding: 0;
                    font-size: 1rem;
                }
            }
        }
    }

    .card-content {
        border-radius: 0.313rem;
        box-shadow: $box-shadow;
        background: $background-white;
        width: 100%;
        box-sizing: border-box;

        .table-wrapper {
            border: $border-light-small;
        }

        .card-header {
            margin: 1.5rem;
            margin-bottom: 0;
        }

        .card-body {
            padding: 1.5rem;
            transition: all 0.5s ease;

            .settings-metabox-note {
                padding: 0 0 1rem;
            }
        }

        &.transparent {
            background: transparent;
            box-shadow: none;
            padding: 0;
        }

        &.transaction {
            margin-bottom: 1rem;
        }
    }

    .col {
        width: 100%;
    }
}

.analytics-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .analytics-item {
        display: flex;
        gap: 1rem;
        align-items: start;
        background: $background-white;
        padding: 1rem;
        width: 100%;
        border-radius: 0.313rem;
        box-shadow: $box-shadow;

        .analytics-icon {
            i {
                padding: 0.5rem;
                font-size: 1.625rem;
                border-radius: 0.313rem;
            }
        }

        .details {
            .number {
                font-size: 1.25rem;
                line-height: 0.9;
                font-weight: 600;
                color: $text-color;
            }
        }
    }

    // admin Wallet Transaction table(common)
    &.wallet {
        padding: 0 0 1rem;
        margin-bottom: 1rem;
        border-bottom: $border-light-small;
    }

    // Wallet Transaction table

    // report
    &.report {
        flex-wrap: wrap;

        .analytics-item {
            width: 48%;
            box-sizing: border-box;

            i {
                font-size: 2.5rem;
                padding: 0.625rem;
                line-height: 1.5;
            }

            .details {
                .number {
                    font-size: 2.063rem;
                }
            }
        }
    }

    &.column-3 {
        .analytics-item {
            width: 24%;
        }
    }

    &.dashboard {
        .analytics-item {
            justify-content: space-between;

            .analytics-icon {
                margin-top: 0.45rem;

                i {
                    padding: 0.5rem;
                    font-size: 1.5rem;
                    border-radius: 0.313rem;
                    color: #fff;
                    margin-top: 0.625rem;
                }
            }

            .details {
                .text {
                    font-size: 1.063rem;
                    font-weight: 500;
                    color: $sub-text-color;
                }

                .number {
                    font-size: 1.813rem !important;
                    /* zyra style overwrite */
                    line-height: 2 !important;
                    /* zyra style overwrite */
                    font-weight: 600;
                }

                .report {
                    font-weight: 500;
                    color: $sub-text-color;

                    div {
                        line-height: 1.313rem;
                    }
                }
            }
        }
    }
}

.form-group-title-wrapper {
    padding: 1rem 0 0.5rem;
    border-bottom: $border-light-small;
    margin-bottom: 1rem;
}

.form-group-wrapper {
    display: flex;
    gap: 1rem;

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;

        .button-wrapper {
            display: flex;
            justify-content: start;
        }

        label {
            font-size: .875rem;
            font-weight: 500;
            color: $text-color;
            margin-bottom: .5rem;
            display: flex;
            gap: 0.625rem;
            line-height: 1;
            align-items: end;
        }

        .toggle-setting-container label {
            margin: 0;
        }

        i {
            font-size: 1.125rem;

            &.remove-btn {
                color: $accent-color;
                cursor: pointer;
            }
        }

        .date-field-wrapper {
            display: flex;
            gap: 0.5rem;
        }
    }

    .settings-metabox-note {
        margin-bottom: 1rem;
    }

    .payment-method {
        .method {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 0.5rem 0.75rem;
            gap: 0.45rem;
            background: $theme-background-color;
            font-size: 0.95rem;
            font-weight: 500;
            border-radius: 0.313rem;
            color: $theme-color;
            border: 0.063rem solid $theme-color;
        }
    }
}

// card styles start

// location map box style start
#location-map {
    height: 18.75rem;
    width: 100%;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

// data card design start
.data-card-wrapper {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;

    .data-card {
        width: 100%;
        background: #fff;
        padding: 1.5rem;
        border-radius: 0.313rem;
        box-sizing: border-box;

        .number {
            font-size: 2rem;
            line-height: 2rem;
            margin-top: 0.813rem;

            // font-weight: 600;
            display: flex;
            justify-content: space-between;
            align-items: end;

            i {
                padding: 0.313rem;
                color: $theme-color;
            }
        }

        .title {
            font-size: 0.95rem;
        }
    }
}

.settings-metabox-description.slug i {
    font-size: 0.813rem;
}

.w-10 {
    width: 10% !important;
}

.w-35 {
    width: 35% !important;
}

.w-50 {
    width: 50% !important;
}

.w-65 {
    width: 65% !important;
}


.admin-pt-2 {
    padding-top: 2rem;
}

// review style
.reviews-wrapper {
    display: flex;
    gap: 0.313rem;
    font-size: 1rem;
    font-weight: 500;

    .review {
        color: #e7b205;
    }

    span {
        padding-left: 0.313rem;
        display: flex;
    }
}

// info section start 
.info-item {
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 0;

    &:first-child{
        padding-top: 0;
    }
    &:last-child{
        padding-bottom: 0;
    }
    &.owner {
        flex-direction: column;
    }

    .details-wrapper {
        display: flex;
        gap: 0.75rem;

        .avatar {
            span {
                color: #fff;
                font-size: 1.25rem;
                font-weight: 600;
            }

            img {
                width: 3rem;
                border-radius: 0.313rem;
            }

            i,
            span {
                padding: 0.5rem;
                border-radius: 50%;
                background: $theme-color;
                width: 1.5rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.625rem;
                color: #fff;
            }
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .name {
                font-size: 1.125rem;
                line-height: 1rem;
                color: $text-color;
                font-weight: 500;
                position: relative;
                padding-right: 0.625rem;
                display: flex;
                align-items: end;
                gap: 0.625rem;
            }
            .des{
                font-size: 0.813rem;
            }
            .small-text {
                font-size: 0.875rem;
                color: $sub-text-color;
            }
        }
    }

    .right-details {
        text-align: right;

        .price {
            font-size: 1.063rem;
            font-weight: 600;
            line-height: 1.5rem;
            padding-bottom: 0.125rem;
            color: $text-color;
        }
    }

    .contact-details {
        flex-direction: column;
        gap: 0.5rem;
    }
}

// info section end


// review start
.review-wrapper {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;

    .review-box {
        padding: 1rem;
        border: $border-light-small;
        border-radius: 0.313rem;

        .start-wrapper {
            color: #ffc800;
            display: flex;
            font-size: 1.063rem;
            gap: 0.125rem;
        }

        .body {
            .review {
                padding-top: 1.5rem;
                font-size: 1.063rem;
                line-height: 1.5rem;
            }
        }

        .footer {
            border-top: $border-light-small;
            margin-top: 2rem;
            display: flex;
            padding-top: 1rem;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
            }

            .details {
                .name {
                    font-size: 1.125rem;
                    color: #000;
                    margin-bottom: 0.313rem;
                }

                .role {
                    color: #868585;
                }
            }
        }
    }
}
.star-icon{
     color: #ffc800;;
}
// review end

// no permission section start
.permission-wrapper {
    height: 40vh;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    i {
        padding: 0.5rem;
        font-size: 1.45rem;
        border-radius: 0.313rem;
    }

    .title {
        font-size: 1.625rem;
        margin: 1rem;
        margin-top: 1.5rem;
    }

    .des {
        margin-bottom: 1rem;
    }
}

// no data found start
.no-data-found {
    text-align: center;
    width: 70%;
    margin: auto;

    .icon {
        padding: 0.5rem;
        font-size: 1.625rem;
        border-radius: 0.313rem;
    }

    .title {
        font-size: 1.313rem;
        font-weight: 600;
        line-height: 1.5rem;
        margin-top: 1rem;
        padding-bottom: 0.75rem;
    }
}

// no data found end

// notification style start
.notification-wrapper {
    ul {
        margin: 0;
        padding: 0;

        li {
            display: flex;
            padding: 0.625rem;
            border: $border-light-small;
            cursor: pointer;
            border-radius: 0.313rem;
            margin-bottom: 1rem;
            gap: 0.5rem;

            .icon-wrapper {
                // width: 10%;
                padding-top: 0.313rem;

                i {
                    font-size: 1.125rem;
                    padding: 0.313rem;
                    border-radius: 0.313rem;
                }
            }

            .details {
                width: 90%;
                position: relative;
                flex-direction: column;
                margin: 0;
                align-items: start;

                .notification-title {
                    font-size: 1.063rem;
                    color: $text-color;
                    padding-bottom: 0.313rem;
                }

                span {
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: $sub-text-color;
                    font-weight: 500;
                }
            }

            &:hover {
                background-color: $background-color;
            }
        }
    }
}

// notification style end

// actively log start
.activity-log {
    border-left: 0.063rem solid $theme-color;

    .activity {
        padding: 0 0 1.45rem 1.313rem;
        position: relative;

        span {
            position: absolute;
            right: 0;
            top: 0;
            color: $sub-text-color;
            font-weight: 500;
        }

        .title {
            font-size: 1.063rem;
            line-height: 1rem;
        }

        .des {
            padding-top: 0.5rem;
        }

        &::before {
            position: absolute;
            content: "";
            width: 0.813rem;
            height: 0.813rem;
            border-radius: 50%;
            background: $theme-color;
            top: 0;
            left: -0.45rem;
            outline: 0.313rem solid $background-white;
        }
    }
}

// actively log end