@use '../../global.scss' as *;

.title {
    font-size: 1.125rem;
    font-weight: 500;
    color: $text-color;
}

.desc,
.des {
    font-size: 0.9rem;
    color: $sub-text-color;
    padding: 0;
}

.multivendorx-main-wrapper {
    .container-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &.row{
            flex-direction: row;
        }
    }

    .column-1 {
        flex: 0 0 calc(8.3333% - 1rem);
        max-width: calc(8.3333% - 1rem);
    }

    .column-2 {
        flex: 0 0 calc(16.6667% - 1rem);
        max-width: calc(16.6667% - 1rem);
    }

    .column-3 {
        flex: 0 0 calc(25% - 1rem);
        max-width: calc(25% - 1rem);
    }

    .column-4 {
        flex: 0 0 calc(33.3333% - 1rem);
        max-width: calc(33.3333% - 1rem);
    }

    .column-5 {
        flex: 0 0 calc(41.6667% - 1rem);
        max-width: calc(41.6667% - 1rem);
    }

    .column-6 {
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }

    .column-7 {
        flex: 0 0 calc(58.3333% - 1rem);
        max-width: calc(58.3333% - 1rem);
    }

    .column-8 {
        flex: 0 0 calc(66.6667% - 1rem);
        max-width: calc(66.6667% - 1rem);
    }

    .column-9 {
        flex: 0 0 calc(75% - 1rem);
        max-width: calc(75% - 1rem);
    }

    .column-10 {
        flex: 0 0 calc(83.3333% - 1rem);
        max-width: calc(83.3333% - 1rem);
    }

    .column-11 {
        flex: 0 0 calc(91.6667% - 1rem);
        max-width: calc(91.6667% - 1rem);
    }

    .column-12 {
        flex: 0 0 calc(100% - 1rem);
        max-width: calc(100% - 1rem);
    }

    .card-wrapper:has(.transaction) {
        margin-bottom: 1rem;
    }

    .card-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        margin-bottom: 1.5rem;
        align-items: start;

        .icon {
            font-size: 0.95rem;
            padding: 0.313rem;
            border-radius: 50%;
            transition: all 0.4s ease;
            cursor: pointer;
            margin-top: -0.5rem;
            color: $sub-text-color;

            &:hover {
                background: $background-color;
            }
        }

        .left {
            .title {
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            .des {
                padding-top: 0.125rem;
            }
        }

        .right {
            display: flex;
            gap: 0.5rem;

            .field-wrapper,
            .field-wrapper .des {
                display: flex;
                align-items: center;
                gap: 0.313rem;
            }

            span {
                font-size: 0.875rem;
                color: $sub-text-color;
            }

            .admin-btn {
                i {
                    padding: 0;
                    font-size: 1rem;
                }
            }
        }

        // add product page
        .arrow-icon {
            font-size: 1.313rem;
            transform: rotate(-90deg);
            padding: 0.125rem;
        }
    }

    .card-content {
        border-radius: 0.313rem;
        box-shadow: $box-shadow;
        background: $background-white;
        width: 100%;
        box-sizing: border-box;

        .table-wrapper {
            border: $border-light-small;
        }

        .card-header {
            margin: 1.5rem;
            margin-bottom: 0;
        }

        .card-body {
            padding: 1.5rem;
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .settings-metabox-note {
                padding: 0 0 1rem;
            }

            &.hide-body {
                display: none;
                /*for hide toggle hide body */
            }

            .card-header {
                margin: 0;
                border-bottom: $border-light-small;
                margin-bottom: 1rem;
            }
        }

        &.transparent {
            background: transparent;
            box-shadow: none;

            .card-body {
                padding: 0;
            }
        }

        &.transaction {
            margin-bottom: 1rem;
        }

        &:has(.hide-body) {
            .card-content {
                border: none;
            }
        }

        &:has(.card-header) {
            .card-body {
                border-top: $border-light-small;
            }
        }
    }

    .col {
        width: 100%;
    }
}

.form-group-title-wrapper {
    padding: 1rem 0 0.5rem;
    border-bottom: $border-light-small;
    margin-bottom: 1rem;
}

.form-group-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    .settings-metabox-note {
        margin-bottom: 1rem;
    }

    .payment-method {
        .method {
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 0.5rem 0.75rem;
            gap: 0.45rem;
            background: $theme-background-color;
            font-size: 0.95rem;
            font-weight: 500;
            border-radius: 0.313rem;
            color: $theme-color;
            border: 0.063rem solid $theme-color;
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;

        &[data-cols='1'] {
            flex: 1 1 100%;
        }

        &[data-cols='2'] {
            flex: 1 1 calc(50% - 1rem);
        }

        &[data-cols='3'] {
            flex: 1 1 calc(33.333% - 1rem);
        }

        &[data-cols='4'] {
            flex: 1 1 calc(25% - 1rem);
        }

        &.row {
            flex-direction: row;
            gap: 0.5rem;
            align-items: start;

            label:first-child {
                width: 30%;
            }
            .checkbox-list-side-by-side,
            .setting-form-input {
                width: 70%;
            }
        }

        &.align-bottom {
            align-items: end;
        }
        &.border-top{
            padding-top: 1rem;
            border-top: $border-light-small;
        }
        .button-wrapper {
            display: flex;
            justify-content: start;
        }

        label {
            font-size: .95rem;
            font-weight: 500;
            color: $text-color;
            margin-bottom: .5rem;
            // display: flex;
            // gap: 0.625rem;
            line-height: 1;
            // align-items: end;
        }

        .toggle-setting-container label {
            margin: 0;
        }

        .date-field-wrapper {
            display: flex;
            gap: 0.5rem;
        }

        .multi-field {
            display: flex;
            gap: 0.313rem;
        }

        // add membership page 
        .checkbox-list-side-by-side {
            margin-top: 0.625rem;
        }
    }
}

// card styles start

// location map box style start
#location-map {
    height: 18.75rem;
    width: 100%;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}

// data card design start
.data-card-wrapper {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;

    .data-card {
        width: 100%;
        background: #fff;
        padding: 1.5rem;
        border-radius: 0.313rem;
        box-sizing: border-box;

        .number {
            font-size: 2rem;
            line-height: 2rem;
            margin-top: 0.813rem;

            // font-weight: 600;
            display: flex;
            justify-content: space-between;
            align-items: end;

            i {
                padding: 0.313rem;
                color: $theme-color;
            }
        }

        .title {
            font-size: 0.95rem;
        }
    }
}

.settings-metabox-description.slug i {
    font-size: 0.813rem;
}

.w-50 {
    width: 50% !important;
}

.admin-pt-2 {
    padding-top: 2rem;
}

// review style
.reviews-wrapper {
    display: flex;
    gap: 0.313rem;
    font-size: 1rem;
    font-weight: 500;

    .review {
        color: #e7b205;
    }

    span {
        padding-left: 0.313rem;
        display: flex;
    }
}

// review start
.review-wrapper {
    display: flex;
    gap: 1.5rem;

    // remove
    .review-box {
        padding: 1rem;
        border: $border-light-small;
        border-radius: 0.313rem;

        .start-wrapper {
            color: #ffc800;
            display: flex;
            font-size: 1.063rem;
            gap: 0.125rem;
        }

        .body {
            .review {
                padding-top: 1.5rem;
                font-size: 1.063rem;
                line-height: 1.5rem;
            }
        }

        .footer {
            border-top: $border-light-small;
            margin-top: 2rem;
            display: flex;
            padding-top: 1rem;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
            }

            .details {
                .name {
                    font-size: 1.125rem;
                    color: $text-color;
                    margin-bottom: 0.313rem;
                }

                .role {
                    color: #868585;
                }
            }
        }
    }

    .review {
        padding: 1rem;
        border: $border-light-small;
        border-radius: 0.313rem;

        .details {
            .title {
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1rem;
                margin-bottom: 0.625rem;
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }

            .avatar {
                padding: 0.313rem;
                background: $theme-color;
                border-radius: 50%;

                i {
                    font-size: 1.125rem;
                    color: #fff;
                }
            }

            .des {
                padding-top: 0.5rem;
                line-height: 1.25rem;
            }

            .star-wrapper {
                span {
                    color: #0000004a;
                    font-size: 0.813rem;
                    font-weight: 500;
                    padding-left: 0.5rem;
                }
            }
        }
    }
}

.rating-details {
    flex-grow: 0;
    min-width: 25rem;

    .rating-details-wrapper {
        .title-wrapper {
            flex-direction: column;
            padding: 0;

            .rating-wrapper {
                padding-bottom: 0.45rem;
            }

            .title {
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

    .review {
        padding-top: 0.313rem;
        color: $sub-text-color;
    }
}

.star-icon {
    color: #ffc800;
}

// review end

// no permission section start
.permission-wrapper {
    height: 18rem;
    width: 100%;
    background: $background-white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    i {
        padding: 0.5rem;
        font-size: 1.45rem;
        border-radius: 0.313rem;
    }

    .title {
        font-size: 1.25rem;
        margin: 1rem;
    }

    .des {
        margin-bottom: 1rem;
    }
}

// no data found start
// .no-data-found {
//     text-align: center;
//     width: 70%;
//     margin: auto;

//     .icon {
//         padding: 0.5rem;
//         font-size: 1.625rem;
//         border-radius: 0.313rem;
//     }

//     .title {
//         font-size: 1.313rem;
//         font-weight: 600;
//         line-height: 1.5rem;
//         margin-top: 1rem;
//         padding-bottom: 0.75rem;
//     }
// }

.no-data {
    padding: 3rem;
    background: $background-white;
    text-align: center;
    color: $sub-text-color;
}

// no data found end

// notification style start
.notification-wrapper {
    ul {
        margin: 0;
        padding: 0;

        li {
            display: flex;
            padding: 0.625rem;
            border: $border-light-small;
            cursor: pointer;
            border-radius: 0.313rem;
            margin-bottom: 1rem;
            gap: 0.5rem;

            .icon-wrapper {
                // width: 10%;
                padding-top: 0.313rem;

                i {
                    font-size: 1.125rem;
                    padding: 0.313rem;
                    border-radius: 0.313rem;
                }
            }

            .details {
                width: 90%;
                position: relative;
                flex-direction: column;
                margin: 0;
                align-items: start;

                .notification-title {
                    font-size: 1.063rem;
                    color: $text-color;
                    padding-bottom: 0.313rem;
                }

                span {
                    position: absolute;
                    right: 0;
                    top: 0;
                    color: $sub-text-color;
                    font-weight: 500;
                }
                
            }

            &:hover {
                background-color: $background-color;
            }
        }
    }
}

// notification style end

// actively log start
.activity-log {
    border-left: 0.063rem solid $theme-color;

    .activity {
        padding: 0 0 1.45rem 1.313rem;
        position: relative;

        span {
            position: absolute;
            right: 0;
            top: 0;
            color: $sub-text-color;
            font-weight: 500;
        }

        .title {
            font-size: 1.063rem;
            line-height: 1rem;
        }

        .des {
            padding-top: 0.5rem;
        }

        &::before {
            position: absolute;
            content: "";
            width: 0.813rem;
            height: 0.813rem;
            border-radius: 50%;
            background: $theme-color;
            top: 0;
            left: -0.45rem;
            outline: 0.313rem solid $background-white;
        }
    }
}

// actively log end