@use '../../global.scss' as *;

.section-synchronize-now {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.details-status-row {
  max-width: 18.75rem;
  position: relative;
  padding: 0.5rem 0.5rem 0.75rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #007400;

  .status-meta {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    i{
      font-size: 1.125rem;
    }
  }

  .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0.189rem;
    background-color: #007400;
    width: 100%;
    transition: width 0.3s linear;
  }

  

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.189rem;
    background-color: green;
    content: "";
    animation: loader 3s linear;
  }

  @keyframes loader {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  &.failed{
    color: red;
    background: rgba(227, 79, 71, 0.1254901961);

    &::after{
      background: red;
    }
  }

  &.success{
    color: #007400;

  &::after{
    background-color: green;
  }
  }
}

.fetch-display-output{
  margin: 0.5rem 0;
  padding: 0.5rem 0.5rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.failed {
    color: red;
    background: rgba(227, 79, 71, 0.1254901961);
  }

  &.success {
    color: green;
    background-color: #00800036;
  }
}
.errorlog-link{
    font-weight: 600;
    color: red;
}