@use '../../global.scss' as *;

.repeater-field-wrapper {
    .repeater-field {
        padding: 1rem;
        background: #f7f6f69c;
        border-radius: 0.313rem;
        margin-bottom: 1rem;
        border: $border-light-small;

        .setting-form-input {
            width: 25%;
        }

        &.rule {
            width: fit-content;
        }
    }

    .field {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .location-icon {
            background: #d9f5f0;
            color: #06be9f;
            padding: 0.45rem;
            font-size: 1.313rem;
            border-radius: 0.313rem;
        }

        .delete-icon {
            font-size: 1.125rem;
            color: #f06b4f;
            cursor: pointer;
        }

        .basic-input {
            background: #fff !important;
            /*overwrite common style*/
        }

        &.state {
            margin-bottom: 0.625rem;
        }
    }

    .repeater-field-nested {
        padding: 0.813rem;
        background: #fff;
        margin-top: 0.813rem;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: start;
            margin-bottom: 0.813rem;
            padding-bottom: 0.5rem;
            border-bottom: $border-light-small;

            .left {
                width: 75%;
            }

            .title {
                font-size: 1.125em;
                font-weight: 500;
            }

            .des {
                font-size: 0.813rem;
                color: $sub-text-color;
            }
        }

    }

    .no-shipping-data {
        padding: 1rem;
        border-radius: 0.313rem;
        font-size: 1rem;
        background: #c9c9c954;
        margin: 1rem 0;
    }
}