@use '../../global.scss' as *;

.expandable-panel-group {
    margin: 0;

    .expandable-item {
        margin-bottom: 1rem;
        cursor: pointer;

        .expandable-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0.45rem;
            cursor: pointer;
            border: $border-light-small;
            border-radius: 0.313rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .toggle-icon {
                padding-right: 0.5rem;
                border-right: $border-light-small;
                width: 1.125rem;

                i {
                    font-size: 1.313rem;
                    color: $theme-color;
                    cursor: pointer;
                }

                .disable {
                    color: #8a888873;
                }
            }

            .details {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                width: 100%;
                justify-content: space-between;
                min-height: 2.063rem;

                .details-wrapper {
                    display: flex;
                    gap: 0.5rem;
                }



                .expandable-header-icon {
                    padding: 0.313rem;
                    background: $theme-background-color;
                    border-radius: 0.5rem;
                    min-width: 2rem;
                    min-height: 2rem;
                    max-width: 2rem;
                    max-height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.313rem;
                    font-weight: 500;
                    color: $theme-color;

                    img {
                        width: 100%;
                    }
                }

                .expandable-header-info {
                    .title-wrapper {
                        display: flex;
                        gap: 0.5rem;
                        justify-content: start;
                        align-items: center;
                        padding: 0;

                        .title {
                            font-size: 1rem;
                            display: flex;
                            gap: 1rem;
                        }

                        .panel-badges {
                            display: flex;
                            gap: 0.5rem;
                        }

                        .admin-badge {
                            padding: 0.313rem;
                        }
                    }

                    .panel-description {
                        font-size: 0.75rem;

                        p {
                            margin: 0;
                            display: flex;
                            gap: 0.5rem;
                            align-items: center;
                            color: $sub-text-color;


                            .admin-badge {
                                margin-top: 0.313rem;
                            }
                        }
                    }
                }
            }

            .right-section {
                display: flex;
                align-items: center;

                .disable-icon {
                    color: gray;
                }

                ul {
                    margin: 0;
                }

                .dropdown {
                    min-width: 11rem;
                    max-width: 11rem;
                }
            }
        }

        .expandable-panel {
            display: flex;
            flex-wrap: wrap;
            border: $border-light-small;
            border-top: 0;
            overflow: hidden;
            transition: max-height 0.4s ease, opacity 0.4s ease;
            max-height: 0;
            opacity: 0;

            &.open {
                opacity: 1;
                max-height: 50rem;
                padding: 1rem;
            }

            .form-group {
                display: flex;
                gap: 0.5rem;
                padding: 0.5rem 1rem 0.5rem 0;
                margin: 0;
                width: 100%;

                label:first-child {
                    width: 25%;
                    color: $text-color;
                    font-size: 0.95rem;
                }

                .input-content {
                    width: 75%;
                }

                textarea {
                    background: $background-white;
                }

                .expandable-panel-group {
                    .expandable-item {
                        background: $background-white;
                    }

                }
            }

            .form-group:has(.description-wrapper) {
                .input-content {
                    width: 100%;
                }
            }

            .form-group:has(.wizard-step) {
                .input-content {
                    width: 100%;
                }
            }

            &.social-verification {
                padding-top: 0.5rem;

                .expandable-header {
                    background: transparent;
                    border: $border-light-small;
                    padding: 0.625rem;

                    .expandable-header-icon {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .panel-description {
                display: flex;
                flex-wrap: wrap;
                gap: 0.625rem;
                margin: 0;
                font-size: 0.95rem;
            }

            .copy-text-wrapper {
                display: flex;
                align-items: center;

                code {
                    background: $theme-background-color;
                    color: $theme-color;
                    margin-right: 0.313rem;
                }

                i {
                    font-size: 1rem;
                }

                .copied-msg {
                    margin-left: 0.5rem;
                    color: green;
                    font-size: 0.75rem;
                }
            }

            .clickable-list-wrapper {
                .clickable-items {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 0.5rem;    
                }
            }
        }

        &.add-method {
            .input-content {
                width: 100% !important;
            }
        }

        &.disable {

            .details,
            .toggle-icon {
                filter: grayscale(1);
                opacity: 0.6;
            }
        }

        &.open-form {
            cursor: default;

            .expandable-header {
                cursor: default;
            }
        }
    }

    .buttons-wrapper {
        margin: 0;
    }
}

.description-wrapper {
    padding: 1rem 1.5rem;
    background: #a7a6a62b;
    border-radius: 0.313rem;
    width: 100%;
    box-sizing: border-box;

    .title {
        font-size: 1.063rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.45rem;

        i {
            font-size: 1.313rem;
            padding-right: 0.313rem;
            color: $theme-color;
        }
    }

    .des {
        padding-top: 0.5rem;
    }
}

.fileds-wrapper {
    width: 100%;

    .fileds {
        margin: 0;
        padding-top: 1rem;

        .row-item {
            padding: 0.875rem;
            background: #f3f2f2cf;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;

            .name {
                display: flex;
                gap: 0.5rem;
                align-items: start;

                div {
                    font-size: 1.063rem;
                    line-height: 1rem;
                }

                .edit-row {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    button {
                        border: none;
                        background: transparent;
                    }

                    .edit-form {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                }

                .admin-badge {
                    font-size: 0.7rem;
                    padding: 0.313rem 0.5rem;
                    line-height: 0.725rem;
                }
            }

            .icon-wrapper {
                opacity: 0;
                transition: all 0.5s ease;

                button {
                    border: none;
                    background: transparent;
                    margin-left: 0.5rem;
                    cursor: pointer;
                }
            }

            &:hover .icon-wrapper {
                opacity: 1;
            }
        }
    }
}

// setup wizard start (clean unuse css)
.welcome-wrapper {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1.5rem;

    img {
        width: 11rem;
    }

    .des {
        text-align: center;
        padding: 0 3rem;
    }
}

.finish-wrapper {
    padding: 1rem;

    .title {
        font-size: 1.125rem;
    }
}

.wizard-container {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1.5rem;
    background: $background-white;
    border-radius: 0.313rem;

    .wizard-section {
        border: $border-light-small;
        margin: 0.625rem;
        border-radius: 0.313rem;
    }
}

.wizard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    cursor: pointer;
}

.wizard-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.45rem;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;

    span {
        font-size: 1.4rem;
        transition: transform 0.2s;

        &.rotate {
            transform: rotate(90deg);
        }
    }
}

.wizard-steps {
    padding: 0.625rem 1.25rem;
    border-top: $border-light-small;
}

.wizard-step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wizard-step:first-child {
    border-top: none;
}

.step-info {
    display: flex;
    align-items: start;
    gap: 0.625rem;
}

.step-status {
    width: 1.25rem;
    height: 1.25rem;
    border: $border-light-small;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-status.completed {
    background-color: #4caf50;
    border-color: #4caf50;
    color: white;
}

.check {
    font-size: 0.75rem;
    font-weight: bold;
}

.step-text {
    display: flex;
    flex-direction: column;
}

.step-title {
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 0.95rem;
}


// setup wizard start


// custom icon dropdown start
.selected-icon {
    width: 3rem;
    padding: 0.313rem 0.5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: $border-light-small;

    i {
        font-size: 1.063rem;
    }
}

.icon-options-list {
    position: absolute;
    width: 40%;
    background: $background-color;
    border: $border-light-small;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 0.5rem;

    li.icon-option {
        padding: 0.313rem 0;
        text-align: center;
        font-size: 1.125rem;
        width: 2.5rem;
        height: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: $background-white;
        margin: 0;
        border: 0.063rem solid transparent;

        i {
            font-size: 1.313rem;
        }

        &.selected {
            background: $theme-background-color;
            color: $theme-color;
            border: 0.063rem solid $theme-color;
        }
    }
}

// custom icon dropdown end