@use '../../global.scss' as *;

.file-uploader {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border: 0.125rem dashed #dbdbdb;
  padding: 1rem 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 8.5rem;

  .upload-icon {
    font-size: 3.313rem;
    color: $theme-color;
  }

  span {
    font-size: 1rem;
    font-weight: 500;
    color: $sub-text-color;
  }

  .title {
    font-size: 1.313rem;
    margin-bottom: 0.4rem;
    line-height: 1;
    text-align: center;
  }

  button {
    margin-top: 0.4rem;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #5007aa0a;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    opacity: 0;

    .button-wrapper {
      display: flex;
      gap: 0.5rem;
    }
  }

  &:hover .overlay {
    opacity: 1;
  }

  &.medium {
    width: 50%;
  }

  &.small {
    width: 20%;

    .upload-icon {
      font-size: 1.8rem;
    }

    .title {
      font-size: 0.9rem;
    }

    span {
      font-size: 0.75rem;
    }

    button {
      margin: 0;
    }
  }
}

.uploaded-image {
  display: flex;
  gap: 0.625rem;
  margin-top: 1rem;

  .image {
    height: 5rem;
    position: relative;

    img {
      height: 100%;
    }

    .close-btn {
      position: absolute;
      right: 0.125rem;
      top: 0.125rem;
      background: $accent-color;
      border-radius: 50%;
      padding: 0.2rem;
      font-size: 0.625rem;
      color: #fff;
      opacity: 0;
      cursor: pointer;
    }

    &:hover i {
      opacity: 1;
    }
  }
}