@use '../../global.scss' as *;

// free form start
.form-field {
  position: relative;
  margin-bottom: 0.5rem;
  transition: all 0.8s ease;

  .free-form {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    gap: 1rem;


  }

  &.active {
    .main-input-wrapper {
      border-color: #8c8c8c;
    }
  }
}

.edit-form-wrapper {
  display: flex;

  p,
  .form-label {
    width: 30%;
    font-size: 0.9rem;

  }

  .settings-form-group-radio,
  .set-name {
    width: 100%;
    position: relative;

    .basic-input,
    .basic-select {
      background: #d6b5ff21;
      border-color: #d6b5ff;
      width: 100%;
    }
  }

  .button-visibility {
    display: flex;
    justify-content: center;
    align-items: center;

    .adminlib-eye {
      color: #0101d9d6 !important;
    }
  }
}

// free form end

// form divider start
.section-divider-container {
  border: $border-light-medium;
  text-align: center;
  font-size: 0.75rem;
  margin: 1.5rem 0;
}

// form divider end


// form Elements start
.elements-section {
  

  

  .section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.85rem;
    border-radius: $border-radius-small;

    .elements-items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      flex-direction: column;
      cursor: pointer;
      padding: 0.875rem;
      border: $border-light-small;
      border-radius: 0.313rem;
      background: #fff;

      // i {
      //   font-size: 2rem;
      //   color: #0000007a;
      // }

      p {
        font-size: 0.84rem;
      }
    }
  }
}

// form Elements end

.button-visibility {
  i {
    font-size: 1.25rem;
  }
}