.setting-form-multi-input {
    .multi-input-row {
        display: flex;
        gap: 0.5rem;
        width: 50%;

        input {
            width: 90%;
        }
    }

    .multi-list {
        width: 100%;
        margin: 0;

        li {
            justify-content: space-between;
            display: flex;
            gap: .5rem;
            line-height: 1.2;
            margin: 0;
            padding: .5rem 0;
            align-items: start;

            div{
                width: 100%;
                border: 0.063rem solid #e0e4e9;
                padding: 0.5rem;
                border-radius: 0.313rem;
            }

            i {
                font-size: 1rem;
                cursor: pointer;
            }

            .admin-btn{
                min-width: 3rem;
                max-width: 3rem;
            }
        }
    }
}