@use '../../global.scss' as *;

.setting-form-multi-input {
    .multi-input-row {
        display: flex;
        gap: 0.5rem;
        width: 50%;

        input {
            width: 90%;
        }
    }

    .multi-list {
        width: 100%;
        margin: 0;

        li {
            justify-content: space-between;
            display: flex;
            gap: .5rem;
            line-height: 1.2;
            margin: 0;
            align-items: start;
            border-radius: 0.313rem;

            .details {
                display: flex;
                gap: 0.5rem;

                i {
                    font-size: 1.125rem;
                    color: #5007aa;
                }

                .title {
                    font-size: 0.95rem;
                }
            }

            .action-wrapper {
                gap: 0.5rem;
                display: none;

                .adminlib-delete{
                    color: #f06b4f;
                }
                i{
                    cursor: pointer;
                }
            }

            &:hover {
                .action-wrapper {
                    display: flex;
                }
            }
            &:last-child{
                margin-top: 0.5rem;
            }
        }
        .multi-item{
            border: $border-light-small;
            margin-bottom: 0.5rem;
            padding: .625rem;
        }
    }
}