.setting-form-multi-input {
    .multi-input-row {
        display: flex;
        gap: 0.5rem;

        input {
            width: 90%;
        }
    }

    .multi-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
        margin-top: 0.875rem;


        li {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            background: #ece2f982;
            padding: 0.5rem;
            margin: 0;
            align-items: start;
            line-height: 1.2;

            i{
                font-size: 1rem;
                color: #ff00007a;
                cursor: pointer;
            }
        }
    }
}