@use '../../global.scss' as *;

.nested-wrapper {
    .nested-row {
        background: #ece2f92e;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
        padding: 1rem;
        margin-bottom: 1.5rem;
        gap: 1rem;

        .form-wrapper{
            display: flex;
            gap: 0.5rem;
        }
        label {
            font-size: 0.95rem;
            padding-top: 0.425rem;
        }

        .toggle-setting-wrapper {
            margin-bottom: 0;
        }
        .basic-input{
            width: fit-content;
        }
        .buttons-wrapper {
            width: 100%;
            padding-top: 0;
        }
        .setting-form-input{
            .basic-input{
                width: 100%;
            }
        }
    }
}