@use '../../global.scss' as *;

.nested-wrapper {
    .nested-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 0.625rem;
        min-height: 2.25rem;

        .divider{
            width: 100%;
        }
        .before,
        .after{
            color: $sub-text-color;
        }
        &.single-line{
            .before{
                width: 10rem;
            }
        }

        &.multiple {
            padding: 1rem;
            margin-top: 1.5rem;
            background: #ece2f92e;
        }

        &:first-child{
            margin-top: 0;
        }

        .form-wrapper {
            display: flex;
            gap: 0.5rem;
        }

        label {
            font-size: 0.95rem;
            display: inline-block;
            color: $sub-text-color;
        }

        .settings-input-content:has(.toggle-setting-container){
            label{
                padding-right: 0.5rem;
            }
        }

        .toggle-setting-container,
        .form-select-field-wrapper {
            display: inline-block;
        }

        .toggle-setting-wrapper {
            margin-bottom: 0;
        }

        .basic-input {
            width: fit-content;
        }

        .buttons-wrapper {
            width: 100%;
            padding-top: 0;
        }

        .setting-form-input {
            .basic-input {
                width: 100%;
            }
        }

        .settings-input-content {
            width: fit-content !important;
        }

        .toggle-btn{
            label{
                margin: 0;
            }
        }
    }

    .nested-row.multiple:first-child {
        background: transparent;
        padding: 0;
        position: relative;

        .buttons-wrapper {
            width: fit-content;
        }
    }
}