@use '../../global.scss' as *;

.nested-wrapper {
    .nested-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;

        &.multiple {
            padding: 1rem;
            margin-bottom: 1.5rem;
            background: #ece2f92e;
        }

        .form-wrapper {
            display: flex;
            gap: 0.5rem;
        }

        label {
            font-size: 0.95rem;
            display: inline-block;
            color: $text-color;
        }

        .settings-input-content{
            .toggle-setting-container{
                padding-left: 0.5rem;
            }
        }

        .toggle-setting-container,
        .form-select-field-wrapper {
            display: inline-block;
        }

        .toggle-setting-wrapper {
            margin-bottom: 0;
        }

        .basic-input {
            width: fit-content;
        }

        .buttons-wrapper {
            width: 100%;
            padding-top: 0;
        }

        .setting-form-input {
            .basic-input {
                width: 100%;
            }
        }

        .settings-input-content {
            width: fit-content;
        }
    }

    .nested-row.multiple:first-child {
        background: transparent;
        padding: 0;

        .buttons-wrapper {
            position: absolute;
            width: fit-content;
            right: 0;
        }
    }
}