@use '../../global.scss' as *;

.receiver-float {
    position: fixed;
    right: 1.85rem;
    top: 7rem;
    z-index: 99999;
}


.ui-notice {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;

    &.type-success {
        i {
            color: map-get(map-get($color-palette, green), color);;
        }
    }

    &.type-error {
        i {
            color: map-get(map-get($color-palette, red), color);
        }
    }

    &.type-info {
        i {
            color: $theme-color;
        }
    }

    &.type-warning {
        i {
            color: map-get(map-get($color-palette, yellow), color);
        }
    }

    &.type-banner {
        padding: 0.5rem;
        text-align: center;
        background: $theme-background-color;
        font-weight: 600;
        font-size: 0.8rem;
        color: $text-color;
        position: relative;
        min-height: 1rem;


        .close-icon {
            position: absolute;
            right: 2rem;
            top: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
        }


        .notice-desc {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            width: 100%;
            transition: none;
            pointer-events: none;
            display: flex;
            justify-content: center;

            @for $i from 1 through 8 {
                &:nth-child(#{$i}) {
                    animation: cycleBanner 16s infinite;
                    animation-delay: #{($i - 1) * 2}s;
                }
            }

            a {
                pointer-events: auto;
            }
        }

        @keyframes cycleBanner {

            0%,
            12.5% {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }

            12.6%,
            100% {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }

        .notice-text,
        .notice-desc {
            font-size: 0.75rem;
        }

        .notice-desc {
            font-weight: 400;
        }

        a {
            color: $theme-color;
            text-decoration: underline;
        }
    }

    // common ui style end

    &.display-float {
        padding: 0.85rem 6rem 0.85rem 0.85rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
        background: $background-white;
        box-shadow: $box-shadow;
        animation: noticeslide 3s ease-in;
        opacity: 1;
        position: relative;

        .notice-text {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.313;
        }
        .notice-desc{
            color: $sub-text-color;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0.125rem;
            background-color: map-get(map-get($color-palette, green), color);;
            animation: borderSlide 2.5s ease-in-out;
            animation-delay: 0.5s;
        }

        &.type-success {
            i {
                color: map-get(map-get($color-palette, green), color);;
                font-size: 1.4rem;
            }
        }

        &.type-error {
            i {
                color: #008000;
                font-size: 1.4rem;
            }
        }
    }

    &.display-inline {
        gap: 0.25rem;

        i {
            font-size: 1rem;
        }

        &.type-success {
            .notice-desc {
                color: map-get(map-get($color-palette, green), color);
            }
        }

        &.type-error {
            .notice-desc {
                color: map-get(map-get($color-palette, red), color);
            }
        }
        &.type-warning {
            .notice-desc {
                color: map-get(map-get($color-palette, yellow), color);
            }
        }
    }

    &.display-notice:not(.type-banner),
    &.display-inline-notice:not(.type-banner) {
        padding: 0.5rem 0.8rem;
        display: flex;
        // align-items: center;
        gap: 0.5rem;
        border: 0.063rem solid $theme-color;
        border-radius: $border-radius-small;
        box-sizing: border-box;

        .notice-text {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
        }

        .notice-desc {
            font-size: 0.875rem;
        }

        &.type-info {
            background: $theme-background-color;

            .notice-desc {
                color: $text-color;
            }
        }

        &.type-error {
            background: map-get(map-get($color-palette, red), light-color);
            border-color: map-get(map-get($color-palette, red), color);

            .notice-desc {
                color: map-get(map-get($color-palette, red), color);
            }
        }

        &.type-success {
            background: map-get(map-get($color-palette, green), light-color);
            border-color: map-get(map-get($color-palette, green), color);;

            .notice-desc {
                color: map-get(map-get($color-palette, green), color);

            }
        }
        &.type-warning {
            background: map-get(map-get($color-palette, yellow), light-color);
            border-color: map-get(map-get($color-palette, yellow), color);;

            .notice-desc {
                color: map-get(map-get($color-palette, yellow), color);

            }
        }
    }

    i {
        font-size: 1.313rem;
        color: $theme-color;
    }

    .banner-btn {
        text-decoration: underline;
        color: $theme-color;
        font-size: 0.8rem;
        font-weight: 600;
    }
}

@keyframes noticeslide {
    0% {
        transform: translateX(120%);
        opacity: 1;
    }

    10% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes borderSlide {
    0% {
        width: 0;
        left: 0;
    }

    100% {
        width: 100%;
        left: 0;
    }
}