.notifima-form-customizer{
    border: 0.063rem solid #e0e4e9;
    border-radius: 0.25rem;
    padding: 1rem;
  
    .label-section{
      margin-bottom: 0.875rem;
    }
  
    .form-section{
      display: flex;
      align-items: center;
      gap: 1rem;
  
      .input-section{
        width: 50%;
        position: relative;
  
        .input-editor{
          align-items: center;
          background: #0d0017;
          bottom: 111%;
          color: #fff;
          cursor: pointer;
          display: flex;
          gap: 0.5rem;
          justify-content: center;
          left: 0;
          padding: .35rem;
          position: absolute;
        }
        .setting-wrapper{
            position: absolute;
            background: #fff;
            z-index: 2;
            padding: 1rem; 
            box-shadow: 0 .25rem .5rem rgba(0,0,0,.125);
            top: 3.063rem;
        }
      }
    }
  }