@use '../../global.scss' as *;

.payment-tabs-component {
    .payment-method-card {
        margin-top: 1rem;
        cursor: pointer;

        .payment-method {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0.5rem 0.625rem;
            background: #f9f4f4b8;
            cursor: pointer;

            .toggle-icon {
                padding-right: 0.5rem;
                border-right: $border-light-small;

                i {
                    font-size: 1.313rem;
                    color: #5007aa;
                    cursor: pointer;
                }

                .disable {
                    color: #8a888873;
                }
            }

            .details {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                .details-wrapper {
                    display: flex;
                    gap: 0.5rem;
                }



                .payment-method-icon {
                    padding: 0.313rem;
                    background: $theme-background-color;
                    border-radius: 0.5rem;
                    width: 2rem;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: $theme-color;

                    img {
                        width: 100%;
                    }
                }

                .payment-method-info {
                    .title-wrapper {
                        display: flex;
                        gap: 0.5rem;
                        justify-content: start;
                        align-items: center;

                        .title {
                            font-size: 1rem;
                            line-height: 1rem;
                            display: flex;
                            gap: 1rem;
                        }

                        .admin-badge {
                            padding: 0.313rem;
                        }
                    }

                    .method-desc {
                        font-size: 0.75rem;
                    }
                }
            }

            .right-section {
                width: 2rem;

                i {
                    font-size: 1.25rem;
                }
            }

            .payment-method-arrow {
                i {
                    font-size: 2rem;
                }
            }

            .admin-btn {
                opacity: 0;
            }

            &:hover {
                .admin-btn {
                    opacity: 1;
                }
            }
        }

        .payment-method-form {
            display: flex;
            flex-wrap: wrap;
            border: $border-light-small;
            border-top: 0;
            overflow: hidden;
            transition: max-height 0.4s ease, opacity 0.4s ease;
            max-height: 0;
            opacity: 0;

            &.open {
                opacity: 1;
                max-height: 25rem;
                padding: 1rem;
            }

            .button-wrapper {
                width: 100%;
                display: flex;
                justify-content: end;
            }

            .form-group {
                display: flex;
                gap: 0.5rem;
                padding: 0.5rem 1rem 0.5rem 0;
                margin: 0;

                label:first-child {
                    width: 25%;
                }

                .input-content {
                    width: 75%;
                }

                textarea {
                    background: #fff;
                }

                .fileds-wrapper {
                    width: 100%;

                    .fileds {
                        margin: 0;
                        padding-top: 1rem;

                        .row-item {
                            padding: 0.875rem;
                            background: #f3f2f2cf;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 0.5rem;

                            .name {
                                display: flex;
                                gap: 0.5rem;
                                align-items: start;

                                div {
                                    font-size: 1.063rem;
                                    line-height: 1rem;
                                }

                                .edit-row {
                                    display: flex;
                                    align-items: center;
                                    gap: 1rem;

                                    button {
                                        border: none;
                                        background: transparent;
                                    }

                                    .edit-form {
                                        display: flex;
                                        align-items: center;
                                        gap: 0.5rem;
                                    }
                                }

                                .admin-badge {
                                    font-size: 0.7rem;
                                    padding: 0.313rem 0.5rem;
                                    line-height: 0.725rem;
                                }
                            }

                            .icon-wrapper {
                                opacity: 0;
                                transition: all 0.5s ease;

                                button {
                                    border: none;
                                    background: transparent;
                                    margin-left: 0.5rem;
                                    cursor: pointer;
                                }
                            }

                            &:hover .icon-wrapper {
                                opacity: 1;
                            }
                        }
                    }
                }

                .payment-tabs-component {
                    .payment-method-card {
                        background: #fff;
                    }

                }
            }

            &.social-verification {
                padding-top: 0.5rem;

                .payment-method {
                    background: transparent;
                    border: $border-light-small;
                    padding: 0.625rem;

                    .payment-method-icon {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }
        }

        &.add-method {
            .input-content {
                width: 100% !important;
            }
        }
    }
}