@use '../../global.scss' as *;

.payment-tabs-component {
    .payment-method-card {
        margin-bottom: 1rem;
        cursor: pointer;

        .payment-method {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0.45rem;
            // background: #f9f4f4b8;
            cursor: pointer;
            border: $border-light-small;
            border-radius: 0.313rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            .toggle-icon {
                padding-right: 0.5rem;
                border-right: $border-light-small;
                width: 1.125rem;

                i {
                    font-size: 1.313rem;
                    color: #5007aa;
                    cursor: pointer;
                }

                .disable {
                    color: #8a888873;
                }
            }

            .details {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                .details-wrapper {
                    display: flex;
                    gap: 0.5rem;
                }



                .payment-method-icon {
                    padding: 0.313rem;
                    background: $theme-background-color;
                    border-radius: 0.5rem;
                    min-width: 2rem;
                    min-height: 2rem;
                    max-width: 2rem;
                    max-height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.313rem;
                    font-weight: 500;
                    color: $theme-color;

                    img {
                        width: 100%;
                    }
                }

                .payment-method-info {
                    .title-wrapper {
                        display: flex;
                        gap: 0.5rem;
                        justify-content: start;
                        padding: 0;

                        .title {
                            font-size: 1rem;
                            line-height: 1rem;
                            display: flex;
                            gap: 1rem;
                        }

                        .admin-badge {
                            padding: 0.313rem;
                        }
                    }

                    .method-desc {
                        font-size: 0.75rem;

                        p {
                            margin: 0;
                            display: flex;
                            gap: 0.5rem;
                            align-items: center;
                            color: $sub-text-color;


                            .admin-badge {
                                margin-top: 0.313rem;
                            }
                        }
                    }
                }
            }

            .right-section {
                i {
                    font-size: 1.25rem;
                }

                .disable-icon {
                    color: gray;
                }

                .settings-icon {
                    color: $theme-color
                }

                ul {
                    display: flex;
                    gap: 0.625rem;
                    margin: 0;

                    li {
                        position: relative;
                        display: inline-block;
                        cursor: pointer;

                        span {
                            position: absolute;
                            top: -1.125rem;
                            left: -100%;
                            width: 6rem;
                            text-align: center;
                            display: none;
                            transition: all 0.4s ease;
                        }

                        &:hover {
                            span {
                                display: block;
                                // width: 100%;
                                background-color: rgb(46, 46, 46);
                                color: #fff;
                                text-align: center;
                                padding: 0.313rem;
                                border-radius: 0.375rem;
                                position: absolute;
                                top: -2rem;
                                z-index: 1;
                                font-size: 0.8rem;
                                inset: auto auto 0px 0px;
                                transform: translate(-2rem, -2.313rem);
                            }
                        }

                        .eye-icon {
                            color: $theme-color;
                        }
                    }
                }
            }

            .payment-method-arrow {
                i {
                    font-size: 2rem;
                }
            }

            .admin-btn {
                opacity: 0;
            }

            &:hover {
                .admin-btn {
                    opacity: 1;
                }
            }
        }

        .payment-method-form {
            display: flex;
            flex-wrap: wrap;
            border: $border-light-small;
            border-top: 0;
            overflow: hidden;
            transition: max-height 0.4s ease, opacity 0.4s ease;
            max-height: 0;
            opacity: 0;

            &.open {
                opacity: 1;
                max-height: 50rem;
                padding: 1rem;
            }

            .form-group {
                display: flex;
                gap: 0.5rem;
                padding: 0.5rem 1rem 0.5rem 0;
                margin: 0;
                width: 100%;

                label:first-child {
                    width: 25%;
                    color: $text-color;
                    font-size: 0.95rem;
                }

                .input-content:has(label) {
                    width: 75%;
                }

                .input-content {
                    width: 100%;
                }

                textarea {
                    background: #fff;
                }

                .payment-tabs-component {
                    .payment-method-card {
                        background: #fff;
                    }

                }
            }

            .form-group:has(.description-wrapper) {
                .input-content {
                    width: 100%;
                }
            }

            .form-group:has(.wizard-step) {
                .input-content {
                    width: 100%;
                }
            }

            &.social-verification {
                padding-top: 0.5rem;

                .payment-method {
                    background: transparent;
                    border: $border-light-small;
                    padding: 0.625rem;

                    .payment-method-icon {
                        width: 2rem;
                        height: 2rem;
                    }
                }
            }

            .payment-description {
                display: flex;
                flex-wrap: wrap;
                gap: 0.625rem;
                margin: 0;
                font-size: 0.95rem;
            }

            .payments-tab-notice {
                padding: 0.625rem;
                background: #ece2f8a6;
                color: #000000cf;
                border-radius: 0.313rem;
            }

            .copy-text-wrapper {
                display: flex;
                align-items: center;

                code {
                    background: $theme-background-color;
                    color: $theme-color;
                    margin-right: 0.313rem;
                }

                i {
                    font-size: 1rem;
                }

                .copied-msg {
                    margin-left: 8px;
                    color: green;
                    font-size: 12px;
                }
            }
        }

        &.add-method {
            .input-content {
                width: 100% !important;
            }
        }

        &.disable {

            .details,
            .toggle-icon {
                filter: grayscale(1);
                opacity: 0.6;
            }
        }

        &.open-form {
            cursor: default;

            .payment-method {
                cursor: default;
            }
        }


    }
}

.description-wrapper {
    padding: 1rem 1.5rem;
    background: #a7a6a62b;
    border-radius: 0.313rem;
    width: 100%;
    box-sizing: border-box;

    .title {
        font-size: 1.063rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 0.45rem;

        i {
            font-size: 1.313rem;
            padding-right: 0.313rem;
            color: $theme-color;
        }
    }

    .des {
        padding-top: 0.5rem;
        font-size: 0.95rem;
        color: #000000b8;
    }
}

.fileds-wrapper {
    width: 100%;

    .fileds {
        margin: 0;
        padding-top: 1rem;

        .row-item {
            padding: 0.875rem;
            background: #f3f2f2cf;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0.5rem;

            .name {
                display: flex;
                gap: 0.5rem;
                align-items: start;

                div {
                    font-size: 1.063rem;
                    line-height: 1rem;
                }

                .edit-row {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    button {
                        border: none;
                        background: transparent;
                    }

                    .edit-form {
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                    }
                }

                .admin-badge {
                    font-size: 0.7rem;
                    padding: 0.313rem 0.5rem;
                    line-height: 0.725rem;
                }
            }

            .icon-wrapper {
                opacity: 0;
                transition: all 0.5s ease;

                button {
                    border: none;
                    background: transparent;
                    margin-left: 0.5rem;
                    cursor: pointer;
                }
            }

            &:hover .icon-wrapper {
                opacity: 1;
            }
        }
    }
}


// setup wizard start (clean unuse css)
.welcome-wrapper {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1.5rem;

    img {
        width: 11rem;
    }

    .des {
        font-size: 0.95rem;
        text-align: center;
        padding: 0 3rem;
    }
}

.finish-wrapper {
    padding: 1rem;

    .title {
        font-size: 1.125rem;
    }
}

.wizard-container {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
    padding: 1.5rem;
    background: #fff;
    border-radius: 0.313rem;

    .wizard-section {
        border: $border-light-small;
        margin: 0.625rem;
        border-radius: 0.313rem;
    }

    // .wizard-title {
    //     font-size: 1.313rem;
    //     padding-bottom: 1rem;
    //     margin: 0;
    // }

    .button-wrapper {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 0.5rem;
    }

}

.wizard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 1.25rem;
    cursor: pointer;
}

.wizard-title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.45rem;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem;

    span {
        font-size: 1.4rem;
        transition: transform 0.2s;

        &.rotate {
            transform: rotate(90deg);
        }
    }
}

.wizard-steps {
    padding: 0.625rem 1.25rem;
    border-top: $border-light-small;
}

.wizard-step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.wizard-step:first-child {
    border-top: none;
}

.step-info {
    display: flex;
    align-items: start;
    gap: 0.625rem;
}

.step-status {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-status.completed {
    background-color: #4caf50;
    border-color: #4caf50;
    color: white;
}

.check {
    font-size: 0.75rem;
    font-weight: bold;
}

.step-text {
    display: flex;
    flex-direction: column;
}

.step-title {
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 0.95rem;
}

.step-desc {
    color: #666;
}

.step-action {
    background-color: #0073e6;
    border: none;
    color: white;
    padding: 6px 0.75rem;
    border-radius: 0.313rem;
    font-size: 0.75rem;
    cursor: pointer;
}

.step-action:hover {
    background-color: #346291;
}

// setup wizard start