@use '../../global.scss' as *;

.MuiDialogContent-root {
    padding: 0 !important;
}

.MuiDialog-container {
    .adminlib-cross {
        position: absolute;
        right: 1rem;
        top: 1rem;
        font-size: 1.125rem;
        color: #fff;
        cursor: pointer;
    }
}

.pro-popup-content {
    .popup-wrapper {
        .top-section {
            padding: 2.5rem 2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background: #5007aa;

            .heading {
                font-size: 2.125rem;
                font-weight: 600;
                color: #fff;
                text-align: center;
                line-height: 2.625;
            }

            .description {
                color: #fff;
                font-size: 1.25rem;
                text-align: center;
            }

            .price {
                font-size: 2.4rem;
                color: #fff;
                font-weight: 600;
            }

            .admin-btn {
                background: #fff;
                margin-top: 1rem;
                color: #000;
            }

            .select-wrapper {
                color: #fff;
                font-size: 1.125rem;
            }

            select {
                background: transparent;
                font-size: 1.125rem;
                border: none;
                color: #fff;
                appearance: none;
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23fff' d='M5 7l5 5 5-5z'/></svg>");
                background-repeat: no-repeat;
                background-position: right 0.75rem center;
                background-size: 1rem;
                margin-bottom: 0.125rem;

                option {
                    color: #1a1a1aa4;
                }

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .popup-content {
            padding: 1rem 0 1rem 2rem;

            .heading-text {
                font-size: 1.25rem;
                color: #000000e3;
                font-weight: 600;
            }

            ul {
                max-height: 20vh;
                overflow: auto;
                padding-right: 2rem;

                li {
                    .title {
                        font-size: 1.063rem;
                        font-weight: 600;
                        color: #000000e0;
                    }

                    .sub-text {
                        font-size: 0.95rem;
                        line-height: 1.313;
                    }
                }
            }
        }

        .admin-btn {
            font-size: 1.063rem;
            font-weight: 500;

            .arrow-icon {
                transform: rotate(-45deg);
            }
        }
    }
}

.module-popup-content {
    width: 30rem;

    .popup-wrapper {
        .popup-header {
            height: 12rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $theme-color;

            i {
                color: #fff;
                font-size: 6rem;
            }
        }

        .popup-body {
            padding: 2rem;
        }

        h2 {
            margin: 0;
            font-size: 1.75rem;
            text-align: center;
        }

        p {
            margin-top: 0;
            text-align: center;
            font-size: 1.063rem;
        }
    }

    .adminlib-cross {
        color: #000;
    }
}

