@use '../../global.scss' as *;

.MuiDialogContent-root{
    padding: 0 !important; 
  }
  .popup-wrapper{
    display: flex;
    gap: 1rem;
    .left-section{
      width: 45%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    .right-section{
      width: 55%;
      padding: 1.5rem;
      height: 60vh;

      h4{
        font-size: 2.5rem;
        font-weight: 400;
        margin: 0;
        line-height: 3.5rem;
  
        .pro-tag{
          font-weight: 600;
        }
      }
  
      .features-list{
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-top: 1rem;
        height: 60%;
        overflow-y: scroll;
  
        .feature-item {
          display: flex;
          align-items: center;
          gap: 1.2rem;
          margin-bottom: 1rem;
  
          i{
            font-size: 1.5rem;
          }
          p{
            font-size: 0.95rem;
          }
        }
      }
      .more-text{
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0.5rem;
      }
      .footer-button{
        display: flex;
        justify-content: end;
        padding-top: 1rem;
  
        a{
          padding: 0.5rem 1rem;
          font-size: 1rem;
          font-weight: 700;
        }
      }
    }
  }
  .module-popup-content{
    .popup-wrapper{
      padding: 2rem;

      .module-left-section{
        width: 35%;
        display: flex;

        .module-icon{
          padding: 1rem;
          background: $menu-color;
          height: fit-content;
          border-radius: 0.313rem;

          i{
            font-size: 3rem;
            color: $color-active;
          }
        }
      }
      .module-right-section{
        h2{
          font-size: 1.4rem;
          margin: 0;
        }

        .footer-button{
          display: flex;
          justify-content: end;
          margin-top: 1.212rem;
        }
      }      
    }
  }
  .MuiPaper-root:has(.module-popup-content) {
    min-width: 30vw;
    max-width: 30vw;
  }
  // common popup styles
  .admin-popup-content{
    padding: 1.5rem;;
  }