@use '../../global.scss' as *;

.registration-from-main-wrapper-section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;

  .registration-form-main-section {
    flex: 1;
    padding: 1.25rem;

    .form-heading input {
      font-size: 1.75rem;
    }

    .addnew {
      border: 0.063rem dotted rgba($color: #000, $alpha: 12.5%);
      background: $menu-color;
      padding: 2.5rem;
      cursor: pointer;
      max-width: 37.5rem;
      margin: 1.5rem auto 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;
      width: 75%;

      p {
        color: $color-black;
      }
    }

    .add-new-sections {
      padding: 0.5rem 0;
      opacity: 0;
      transition: all 0.3s ease-in;
      cursor: pointer;
      z-index: 0;
      position: relative;
      width: 100%;
      background: transparent;
      border: none;

      .icon-wrapper {
        border: 0.125rem solid #b8a8cb;

        .admin-font {
          width: 1.875rem;
          height: 1.875rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: #d6b5ff;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $theme-color;
        }
      }

      &:hover {
        opacity: 1;
        padding: 1rem;
      }
    }

    .meta-menu {
      width: fit-content;
      position: absolute;
      margin-top: 0.5rem;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: $color-light-black;
      padding: 0.5rem 0;
      right: 0.625rem;
      top: -2.55rem;

      .btn-delete {
        border-right: $border-light-small;

        .delete {
          border: none;
          background: transparent;

          i{
            color: #fff;
            font-size: 1rem;
          }
        }
      }

      &>div {
        padding: 0 0.5rem;
        color: $color-white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .bth-move {
      position: absolute;
      top: -1.25rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: $menu-color;
      color: $color-black;
      width: 3.125rem;
      height: 1.375rem;
      display: flex;
      align-items: center;
      justify-content: center;
      clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
      cursor: grabbing;
    }
  }
}