@use '../../global.scss' as *;

.divider-section {
  margin-top: 1rem;

  //   width: 100%;
  border-bottom: $border-light-small;
  padding: 1rem 0 0.5rem;

  .title {
    font-size: 1.15rem;
    line-height: 1.813rem;
    width: auto;
  }

  .desc {
    a {
      color: $theme-color;
    }
  }

  &.red .title {
    color: $accent-color;
  }


  &.without-border {
    border: none;
    padding: 0;
    margin: 0;
  }

  // background color like card header 
  &.bg-color {
    background: #f7f7f7;
  }
}

.divider-section:first-child {
  margin: 0;
}

.divider-section:not(:first-child) {
  width: 100%;
}

.settings-wrapper{
  &[data-template="default"],
  &[data-template="settings"] {
    .divider-section {
        padding: 1rem 1rem .5rem;
        background: $background-white;
      }
  }

  &[data-template="compact"] {
    .divider-section {
      padding-top: 0;
      padding-bottom: 1.5rem;
    }
  }
}