@use '../../global.scss' as *;

.meta-setting-modal {
    .edit-field-wrapper {
        margin-bottom: 0.625rem;

        label {
            font-size: 1rem;
        }

        input,
        input:not([type="checkbox"]),
        select {
            width: 100%;
            padding-top: 0.313rem;
        }

        input[type="checkbox"] {
            margin-left: 0.5rem;
        }
    }
}