@use '../../global.scss' as *;

.meta-setting-modal {
      position: absolute;
      top: 3.315rem;
      right: 0;
      background: #f8f8f8;
      width: 17.64rem;
      padding: 1rem;
      border: 0.125rem solid rgb(0 0 0 / 12.5%);
      box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 12.5%);
      border-radius: $border-radius-small;
      z-index: 12;

      input[type="checkbox"] {
        width: 1rem ;
        height: 1rem;
        border: $border-light-small;
        border-radius: $border-radius-small ;
        background: $color-white;
        color: #50575e;
        line-height: 0;
        transition: .05s border-color ease-in-out
      }

      .meta-setting-modal-content {
        h3 {
          padding-bottom: 0.75rem;
          border-bottom: $border-black-small;
          font-size: 0.875rem;
        }

        .setting-modal-content-section {
          padding: 0.75rem 0;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          width: 100%;
          gap: 0.25rem;
          border-bottom: $border-black-small;
          color: $color-light-black;

          &:last-child {
            border-bottom: none;
          }

          .modal-content-section-field {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;

            .checkbox-container {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              gap: 0.25rem;

              input[type='checkbox'] {
                margin: 0;
                box-shadow: none;
                border: $border-black-small;
                outline: 0;
              }
            }

            select {
              max-width: 6rem;
              width: 100%;
              font-size: 0.75rem;
              padding: 0 0.5rem;
              border: 0;
              outline: 0;
              background-color: $color-white;
              box-shadow: none;

              &:focus {
                box-shadow: none;
              }
            }

            input[type='text'],
            input[type='number'],
            input[type='email'] {
              max-width: 7.5rem;
              background-color: $color-white;
              padding: 0 0.25rem;
              border: none;
              outline: none;
              box-shadow: none;
              width: 100%;
              font-size: 0.75rem;

              &:hover,
              &:focus {
                box-shadow: none;
              }
            }
          }

          .highlight{
            border: 0.063rem solid red;
            background: transparent;
            padding: 0.213rem;
          }
        }
      }
    }