@use '../../global.scss' as *;

.shortcode-table {
    width: 100%;
    border: 0.063rem solid #e0e4e9;
    padding: 1rem;
    border-radius: 0.25rem;

    th,
    td {
        text-align: left;
        font-size: 0.875rem;
        padding: 1rem;
    }

    code{
        font-weight: 500;
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background: #f8f9fa;
            }
        }
    }
}