@use '../../global.scss' as *;

.filter-wrapper {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.75rem;
    flex-wrap: wrap;
  
    .wrap-bulk-all-date {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
  
      .bulk-action{
        display: flex;
        gap: 0.5rem;
      }
    }
  }
  
  .table-wrapper{
    .admin-table{
      width: 100%;
      border-collapse: collapse;
      background: #fff;
      
      input[type="checkbox"]{
        min-height: 0.8rem;
      }
  
      .admin-table-header{
        background: #fff;
        height: 3rem;
  
        .header-col{
          text-align: left;
          padding: 0.85rem;
          font-size: 0.9rem;
          font-weight: 500;
        }
      }
  
      .admin-table-body {
        .table-row-custom{
            display: flex;
            align-items: start;
            gap: 0.5rem;


            .product-image{
                width: 2.313rem;
                height: 2.313rem;
                border-radius: $border-radius-small;
                box-shadow: 0 0 0.125rem rgba($color: #000, $alpha: 12.5%);
                overflow: hidden;
            }

            h4.hide-title{
                display: none; /* For hide title in desktop */
            }
        }
  
        .admin-row{
          height: 4rem;
          border-top: $border-light-small;
          position: relative;
  
          &:nth-child(odd) {
            background: #f9f9f9;
          }
  
          .admin-column{
            height: 3rem;
            padding: 0.85rem;
            font-size: 0.9rem;

            img{
              width: 3.125rem;
            }

            .main-input{
                background: transparent;
                border-color: transparent;

                &:focus{
                  border: $border-light-small;
                }
            }

            .action-icons{
              display: flex;
              gap: 0.313rem;
  
              i{
                cursor: pointer;
  
                &:hover{
                  color: $theme-color;
                }
              }
            }
          }
        }

        .dropdown-select {
            div:nth-child(3){
              background: transparent;
              border: none;
            }

            span{
                background-color: transparent;
            }
        }

        .responsive-cell{
            ul{
                position: absolute;
                left: 0;
                width: 100%;
                top: 100%;
                background: #eee;
                z-index: 2;
                list-style-type: none;
                padding: 1rem;

                li{
                    .table-row-custom{
                        padding: 0.313rem 0;
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;

                        h4{
                            display: block;
                            font-size: 0.85rem;
                        }
                    }                    
                }               

            }
        }
      }
  
    }
  }

  .table-pagination{
    display: flex;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    border-top: $border-light-small;

    .pagination-arrow{
        display: flex;
        gap: 0.5rem;
    }

    .pagination-number-wrapper{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: start ;
        width: 50%;

        select{
            border: none;
            background: transparent;
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            width: fit-content;
        }
    }
  }

.load-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: rgb(0 0 0 / 20%);
  width: 100%;

  td {
    padding: 0.4rem;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
    border-color: rgb(0 0 0 / 20%);
    color: #333;
    background-color: #fff;
    flex-grow: 1;

    &:first-child {
      display: block;
    }
  }

  tr:first-child .load-table-td {
    font-weight: normal;
    padding: 0.4rem;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
    border-color: rgb(0 0 0 / 20%);
    color: #333;
    background-color: #e7e7e7;
  }
}

.line {
  float: left;
  width: 100%;
  height: 1rem;
  margin-top: 0.4rem;
  border-radius: 0.438rem;
  background-image: linear-gradient(90deg,
      #f4f4f4 0,
      rgb(229 229 229 / 80%) 2.5rem,
      #f4f4f4 5.04rem);
  background-size: 37.5rem;
  animation: shine-lines 2s infinite ease-out;
}

.pagination-button-disabled{
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

@keyframes shine-lines {
  0% {
    background-position: -1rem;
  }

  40%,
  100% {
    background-position: 8.813rem;
  }
}
