@use '../../global.scss' as *;

.add-to-quotation-button {
    margin-left: auto;
}

.admin-top-filter {
    display: flex;
    align-items: center;
    margin-bottom: 1.813rem;
    justify-content: space-between;
}

.admin-filter-wrapper {
    display: flex;
    border-radius: 0.313rem;
    background: transparent;
    // min-height: 2.313rem;
    justify-content: center;
    width: 100%;
    position: sticky;
    bottom: 1rem;
    gap: 0.5rem;

    .wrap-bulk-all-date {
        display: flex;
        gap: 0.313rem;
        align-items: center;
        background: $theme-background-color;
        border-radius: 0.313rem;

        .title {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 0.5rem;
            border-radius: 0.313rem;
            color: #fff;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            font-size: 1rem;

            i {
                font-size: 1.313rem;
            }
        }

        select,
        input {
            background: transparent;
            border: none !important; /* hide border for search field */
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 1rem;
            color: $theme-color;

            option {
                color: #000;
            }

            &:focus {
                outline: none;
                box-shadow: none !important; /* for overwrite common style */
            }
        }

        .bulk-action {
            display: flex;
        }

        &.bulk {
            background: #202020;
            color: #fff;
            font-size: 1rem;
            padding: 0.5rem;

            .action-item{
                padding: 0.45rem;
                transition: all 0.3s ease;
                border-radius: 0.313rem;
                display: flex;

                .admin-btn{
                    background: transparent;
                    font-size: 0.95rem;
                    color: #fff;
                    padding: 0;
                }
                .adminfont-form{
                    font-size: 1.125rem;
                }
                &:hover{
                    background: #fff2;
                }
                &.count{
                    border: 0.063rem solid #fff2;
                }
                &.delete{
                    .admin-btn{
                        color:  $accent-color;
                    }
                }
            }

            select {
                color: #fff;
                font-size: 0.95rem;

                option {
                    background: #fff;
                }
            }
        }

        &.filter {
            .title {
                background: $theme-color;
            }
        }
        .date-picker-section-wrapper{
            background: transparent;
        }
        .reset-btn {
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
}

// admin table filter style
.filter-wrapper:has(.filter-item) {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    background: #fff;
    padding: 0.45rem;
    border-radius: 0.313rem;
    width: fit-content;
    gap: 0.313rem;

    .filter-item {
        cursor: pointer;
        border-radius: 0.313rem;
        padding: 0.313rem 0.625rem;
        font-weight: 600;
        color: #000000af;
        font-size: 0.95rem;
        transition: all 0.4s ease;

        &:not(.active):hover {
            background: #f3f1f1;
        }

        &.active {
            background: $theme-background-color;
            color: $theme-color;
        }
    }
}

.table-action-wrapper {
    display: flex;
    gap: 0.5rem;

    .action-wrapper {
        display: flex;
        gap: 0.5rem;
    }
}

.table-wrapper {
    .admin-table {
        width: 100%;
        position: relative;
        border: none;
        border-collapse: collapse;
        margin: 0;
        background: #e7e7e7;
        border-top-left-radius: 0.313rem;
        border-top-right-radius: 0.313rem;

        input[type="checkbox"] {
            min-height: 0.8rem;
        }

        .admin-table-header {
            .header-row {
                display: flex;
                width: 100%;
                height: 3.125rem;
                align-items: center;
            }

            .header-col {
                text-align: left;
                padding: 0 0.85rem;
                font-size: 1rem;
                font-weight: 500;
                display: flex;
                flex: 1 0 0;
                width: 100%;
                border: none;
                color: $text-color;

                &.select {
                    max-width: 2rem;
                    padding-top: 0.4rem;
                    padding-right: 0;
                }

                &.action {
                    flex-grow: 0;
                    min-width: 5rem;
                }

                &.notificaton {
                    min-width: 65%;
                }

                &.sortable {
                    cursor: pointer;

                    span {
                        margin-left: 0.313rem;
                        color: #000;
                    }
                }

                &.id {
                    max-width: 2rem;
                    padding-right: 0;
                }

                &.commission-summary {
                    flex-grow: 0;
                    min-width: 18rem;
                }
            }
        }

        .product-wrapper {
            display: flex;
            gap: 0.625rem;
            cursor: pointer;

            .details {
                display: flex;
                flex-direction: column;

                .title {
                    font-size: 1.125rem;
                    line-height: 1.2rem;
                    margin-bottom: 0.25rem;
                    display: flex;
                    gap: 0.5rem;
                }


            }

            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 0.313rem;
                object-fit: cover;
            }

            .item-icon {
                min-width: 2.5rem;
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $theme-background-color;
                color: $theme-color;
                font-size: 1.313rem;
                border-radius: 0.313rem;
            }

            &:hover {
                color: $theme-color;
            }
        }

        .admin-table-body {
            .admin-row {
                min-height: 3.625rem;
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;
                box-sizing: border-box;
                background: $background-white;
                margin: 0.725rem 0;
                border: 0.063rem solid transparent;

                .admin-column {
                    padding: 1rem 0.85rem;
                    font-size: 0.9rem;
                    display: flex;
                    flex: 1 0 0;
                    border: none;
                    overflow: hidden;

                    .table-row-custom {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        align-items: center;
                        font-size: 1rem;
                        color: $text-color;

                        .name {
                            font-weight: 500;
                        }

                        .sub-text {
                            color: $sub-text-color;
                            padding-top: 0.313rem;
                        }

                        .product-image {
                            width: 2.313rem;
                            height: 2.313rem;
                            border-radius: $border-radius-small;
                            box-shadow: 0 0 0.125rem rgba($color: #000, $alpha: 12.5%);
                            overflow: hidden;
                        }

                        h4.hide-title {
                            display: none;
                        }
                    }

                    .main-input {
                        background: transparent;
                        border-color: transparent;
                    }

                    &.select,
                    &.id {
                        max-width: 2rem;
                        padding-right: 0;
                        flex-grow: 1;
                    }

                    &.action {
                        flex-grow: 0;
                        min-width: 5rem;
                    }

                    &.notificaton {
                        min-width: 65%;
                    }

                    &.product {
                        .product-wrapper {
                            display: flex;
                            gap: 0.625rem;
                        }
                    }

                    .link {
                        cursor: pointer;
                        font-weight: 600;

                        &:hover {
                            color: $theme-color;
                        }
                    }

                    .details {
                        margin: 0;
                        position: relative;
                        list-style-type: none;

                        .more-btn {
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            background: $theme-background-color;
                            font-size: 0.813rem;
                            padding: 0.125rem 0.5rem;
                            color: $theme-color;
                            border-radius: 0.313rem;
                        }

                        &.overflow {
                            height: 5rem;
                            overflow: hidden;
                        }

                        li {
                            gap: 0.625rem;
                            margin: 0;
                            border-bottom: $border-light-small;
                            width: 18rem;

                            span {
                                font-weight: 600;
                            }

                            .item {
                                display: flex;
                                justify-content: space-between;
                                padding: 0.5rem 0;

                                .title {
                                    font-weight: 600;
                                    font-size: 0.95rem;
                                }

                                .des {
                                    font-size: 1.063rem;
                                }
                            }
                        }
                    }

                    &.commission-summary,
                    &.product-wrapper {
                        flex-grow: 0;
                        min-width: 18rem;
                    }

                    .refresh-icon{
                        font-size: 1rem;
                    }
                }

                .admin-column:nth-of-type(2) {
                    .product-image {
                        display: flex;
                        gap: 0.5rem;
                    }
                }

                .admin-column:has(.product-expand) {
                    min-width: 3rem;
                }

                .admin-column:has(.single-column) {
                    flex-grow: 1;
                }

                .admin-column:has(.action-section) {
                    overflow: visible;
                    padding: 0 1rem;
                }
            }

            .admin-row:first-child {
                margin-top: 0;
            }

            .admin-row:last-child {
                margin-bottom: 0;
            }

            .admin-row:has(input[type="checkbox"]:checked) {
                border: 0.063rem solid $theme-color;
            }

            .dropdown-select {
                div:nth-child(3) {
                    background: transparent;
                    border: none;
                }

                span {
                    background-color: transparent;
                }
            }

            .responsive-cell {
                ul {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 100%;
                    background: #eee;
                    z-index: 2;
                    list-style-type: none;
                    padding: 1rem;

                    li {
                        .table-row-custom {
                            padding: 0.313rem 0;
                            display: flex;
                            gap: 0.5rem;
                            align-items: center;

                            h4 {
                                display: block;
                                font-size: 0.85rem;
                            }
                        }
                    }
                }
            }
        }

        .des {
            font-size: 0.813rem;
            display: flex;

            i {
                padding-right: 0.313rem;
                color: $theme-color;
            }
        }

        .question {
            flex-grow: 0;
            min-width: 18rem;

            .question-wrapper {
                .question {
                    font-size: 1.063rem;
                    font-weight: 500;
                }

                .answer {
                    line-height: 1.125rem;
                    padding: 0.45rem 0;
                    color: $sub-text-color;
                }
            }
        }
    }
}

.load-table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: $border-light-small;
    width: 100%;

    td {
        padding: 0.4rem;
        overflow: hidden;
        word-break: normal;
        color: $sub-text-color;
        background-color: $background-white;
        flex-grow: 1;

        &:first-child {
            display: block;
        }
    }

    tr:first-child .load-table-td {
        font-weight: normal;
        padding: 0.4rem;
        border-style: solid;
        border-width: 0;
        overflow: hidden;
        word-break: normal;
        border-color: rgb(0 0 0 / 20%);
        color: #333;
        background-color: #e7e7e7;
    }
}

.line {
    float: left;
    width: 100%;
    height: 1rem;
    margin-top: 0.4rem;
    border-radius: 0.438rem;
    background-image: linear-gradient(90deg,
            #f4f4f4 0,
            #e5e5e5cc 2.5rem,
            #f4f4f4 5.04rem);
    background-size: 37.5rem;
    animation: shine-lines 2s infinite ease-out;
}

// action btn style start
.action-section {
    display: flex;
    flex-direction: column;
    align-items: start;

    .action-btn {
        display: flex;
        gap: 0.5rem;
        visibility: hidden;
        transition: all 0.3s linear;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 0.75rem;
        font-weight: 600;

        a {
            color: $theme-color;
            cursor: pointer;
            font-weight: 400;
        }
    }

    &:hover {
        .action-btn {
            visibility: visible;
        }
    }

    .small-action {
        display: flex;
        gap: 0.313rem;
        margin: 0;

        li {
            position: relative;
            display: inline-block;
            cursor: pointer;
            font-size: 1.5rem;

            span {
                position: absolute;
                top: -1.125rem;
                left: -100%;
                width: 6rem;
                text-align: center;
                display: none;
                transition: all 0.4s ease;
            }

            &:hover {
                span {
                    display: block;
                    background-color: rgb(46 46 46);
                    color: #fff;
                    text-align: center;
                    padding: 0.313rem;
                    border-radius: 0.375rem;
                    position: absolute;
                    z-index: 1;
                    font-size: 0.8rem;
                    inset: 0 auto auto 0;
                    transform: translate(-2rem, -2.313rem);
                }
            }
            
            // &:not(.hover) {
            //     display: none;
            // }

            // &.hover {
                li {
                    display: block;
                }
            // }
        }
    }
}
// action btn style end

// pro tag
.table-action-column {
    position: relative;
}

@keyframes shine-lines {
    0% {
        background-position: -1rem;
    }

    40%,
    100% {
        background-position: 8.813rem;
    }
}