@use '../../global.scss' as *;

.add-to-quotation-button{
    margin-left: auto;
}

.filter-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;

  .wrap-bulk-all-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    .bulk-action {
      display: flex;
      gap: 0.5rem;
      position: relative;
    }

    .course-bulk-action button {
      max-height: 2.1rem;
    }
  }
}
.admin-table-wrapper{
  padding: 2rem;
  margin: 2rem;
  background: #fff;
}
// admin table filter style
.admin-table-wrapper-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.875rem;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  padding-bottom: 1.25rem;
  border-bottom: $border-light-small;

  &>div {
    cursor: pointer;

    &:hover,
    &.type-count-active {
      color: $color-active;
    }
  }
}

.table-wrapper {
  .admin-table {
    width: 100%;

    input[type="checkbox"] {
      min-height: 0.8rem;
    }

    .admin-table-header {
      .header-row {
        display: flex;
        width: 100%;
        height: 2.625rem;
        align-items: center;
        border-top: $border-light-small;
        border-bottom: $border-light-small;
      }
      .header-col {
        text-align: left;
        padding: 0 0.85rem;
        font-size: 0.9rem;
        font-weight: 500;
        display: flex;
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 0;
        width: 100%;
      }

      .header-col:nth-of-type(2) {
        min-width: 14rem;
      }

      .header-col:first-child {
        max-width: 2rem;
        padding-top: 0.4rem;
        padding-right: 0;
      }
      .header-col:last-child {
        flex-grow: 0;
        min-width: 5rem;
      }
    }

    .admin-table-body {
      .table-row-custom {
        display: flex;
        align-items: center;
        gap: 0.5rem;


        .product-image {
          width: 2.313rem;
          height: 2.313rem;
          border-radius: $border-radius-small;
          box-shadow: 0 0 0.125rem rgba($color: #000, $alpha: 12.5%);
          overflow: hidden;
        }

        h4.hide-title {
          display: none;
          /* For hide title in desktop */
        }
      }

      .admin-row {
        min-height: 3.625rem;
        position: relative;
        display: flex;
        width: 100%;
        border-bottom: $border-light-small;
        
        .admin-column {
          padding: 0.313rem 0.85rem;
          font-size: 0.9rem;
          display: flex;
          align-items: center;
          flex-basis: 0;
          flex-grow: 1;
          flex-shrink: 0;

          img {
            width: 3.125rem;
            height: auto;
            border: 0.063rem solid #e0e4e9;
          }

          .main-input {
            background: transparent;
            border-color: transparent;
          }

          &:has(.product-expand) {
            min-width: 3rem;
          }
        }

        .admin-column:first-child {
          padding-top: 0.313rem;
          max-width: 2rem;
          padding-right: 0;
        }

        .admin-column:last-child {
          flex-grow: 0;
          min-width: 5rem;
        }

        .admin-column:nth-of-type(2) {
          min-width: 14rem;

          .product-image {
            display: flex;
            gap: 0.5rem;
          }
        }

        .admin-column:has(.product-expand) {
          min-width: 3rem;
        }

        .basic-input {
          border: none !important;
          /*for overwrite common style*/
        }

        .basic-input:focus {
          border: 0.063rem solid #ccd0d5 !important;
          /*for overwrite common style*/
        }
      }
      .admin-row:has(input[type="checkbox"]:checked){
        background: $theme-background-color;
      }
      .dropdown-select {
        div:nth-child(3) {
          background: transparent;
          border: none;
        }

        span {
          background-color: transparent;
        }
      }

      .responsive-cell {
        ul {
          position: absolute;
          left: 0;
          width: 100%;
          top: 100%;
          background: #eee;
          z-index: 2;
          list-style-type: none;
          padding: 1rem;

          li {
            .table-row-custom {
              padding: 0.313rem 0;
              display: flex;
              gap: 0.5rem;
              align-items: center;

              h4 {
                display: block;
                font-size: 0.85rem;
              }
            }
          }

        }
      }
    }

  }
}

.table-pagination {
  display: flex;
  justify-content: space-between;
  // background: #fff;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  // width: 100%;

  .pagination-arrow {
    display: flex;
    gap: 0.5rem;

    span i,
    .number-btn{
      background: #e9e9e9;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.313rem;
      width: 2rem;
      height: 2rem;
      border: none;
      cursor: pointer;
    }
    .number-btn.active,
    .number-btn.active:hover,
    span i:hover{
      background: $theme-background-color;
      color: $theme-color;
    }
    .admin-font {
      cursor: pointer;
      font-size: 1.313rem;
    }
    .pagination{
      display: flex;
      gap: 0.5rem;
    }
  }
  .pagination-button-disabled i{
    background: #e9e9e99c;
    color: #0000004a;
    &:hover{
      background: #e9e9e99c;
      color: #0000004a;
    }
  }
  .pagination-number-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: start;
    width: 50%;
    font-size: 0.85rem;

    select {
      width: fit-content;
      border: none;
      background: transparent url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E") no-repeat right 0.315rem top 55%;
      background-size: 0.875rem;
      font-size: 0.875rem;
      max-height: 1.2rem;
    }
  }
}

.load-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: rgb(0 0 0 / 20%);
  width: 100%;

  td {
    padding: 0.4rem;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
    border-color: rgb(0 0 0 / 20%);
    color: #333;
    background-color: #fff;
    flex-grow: 1;

    &:first-child {
      display: block;
    }
  }

  tr:first-child .load-table-td {
    font-weight: normal;
    padding: 0.4rem;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
    border-color: rgb(0 0 0 / 20%);
    color: #333;
    background-color: #e7e7e7;
  }
}
.action-icons {
  display: flex;
  gap: 0.313rem;
  padding-top: 0.063rem;
  position: relative;
  cursor: pointer;

  i{
    padding: 0.5rem;
    border-radius: 50%;
    background: transparent;
    transition: all 0.5s ease;

    &:hover{
      background: #ebebeb;
    }
  }

  .action-dropdown {
    overflow: hidden;
    border: $border-light-small;
    position: absolute;
    inset: 0px 0px auto auto;
    background: #fff;
    display: none;
    z-index: 2;

    ul {
      width: 9rem;
      padding: 0.313rem 0;
      margin: 0;

      li {
        padding: 0 0.625rem;
        display: flex;
        align-items: center;
        gap: 0.425rem;
        width: 100%;
        font-size: 0.813rem;
        font-weight: 500;
        cursor: pointer;
        transition: all 0.3s linear;

        // &:hover {
        //   background: #ece2f98f;
        // }
      }
    }
    &.show{
      display: block;
      transform: translate(0px, 20px);
    }
  }
  .adminlib-update-data {
    font-size: 1rem;
  }
}
.line {
  float: left;
  width: 100%;
  height: 1rem;
  margin-top: 0.4rem;
  border-radius: 0.438rem;
  background-image: linear-gradient(90deg,
      #f4f4f4 0,
      rgb(229 229 229 / 80%) 2.5rem,
      #f4f4f4 5.04rem);
  background-size: 37.5rem;
  animation: shine-lines 2s infinite ease-out;
}
.action-section {
  display: flex;
  flex-direction: column;
  .action-btn {
    display: flex;
    gap: 0.5rem;
    visibility: hidden;
    transition: all 0.3s linear;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.75rem;
    font-weight: 600;

    a {
      color: $theme-color;
      cursor: pointer;
      font-weight: 400;
    }
  }

  &:hover {
    .action-btn {
      visibility: visible;
    }
  }
}

.no-data {
  padding: 5rem;
  background: #fff;
  text-align: center;
}

.table-action-column {
  position: relative;
}

.date-picker-section-wrapper {
  position: absolute;
  z-index: 9;
}

@keyframes shine-lines {
  0% {
    background-position: -1rem;
  }

  40%,
  100% {
    background-position: 8.813rem;
  }
}
