@use '../../global.scss' as *;


.load-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: rgba(0, 0, 0, 0.2);
  width: 100%;

  td {
    padding: 0.4rem;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
    border-color: rgba(0, 0, 0, 0.2);
    color: #333;
    background-color: #fff;
    flex-grow: 1;

    &:first-child {
      display: block;
    }
  }

  tr:first-child .load-table-td {
    font-weight: normal;
    padding: 0.4rem;
    border-style: solid;
    border-width: 0;
    overflow: hidden;
    word-break: normal;
    border-color: rgba(0, 0, 0, 0.2);
    color: #333;
    background-color: #e7e7e7;
  }
}

.line {
  float: left;
  width: 100%;
  height: 1rem;
  margin-top: 0.4rem;
  border-radius: 0.438rem;
  background-image: linear-gradient(90deg,
      #f4f4f4 0rem,
      rgba(229, 229, 229, 0.8) 2.5rem,
      #f4f4f4 5.04rem);
  background-size: 37.5rem;
  animation: shine-lines 2s infinite ease-out;
}

@keyframes shine-lines {
  0% {
    background-position: -1rem;
  }

  40%,
  100% {
    background-position: 8.813rem;
  }
}


.filter-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 0.75rem;

  .wrap-bulk-all-date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

    input,
    select{
      padding: 0.1rem 0.5rem;
    }

    &>div {
      flex: 1 0 9.45rem;
      width: 100%;
      max-width: 12rem;

      div {
        background-color: transparent;
      }


      .date-picker-section-wrapper {
        position: absolute;
        left: 0;
        top: 105%;
        background: $color-white;
        z-index: 5;
        padding: 1rem;
        border: $border-light-small;

          input{
            width: 100%;
          }
        .rdrDateRangePickerWrapper {

          .rdrDefinedRangesWrapper {
            .rdrInputRanges {
              .rdrInputRange {
                input {
                  width: 3.15rem;
                }
              }
            }
          }


          &>div {
            .rdrDateDisplay {
              span {
                border-radius: 0;
                box-shadow: none;
                border: none;
              }
            }
          }
        }

        @media screen and (max-width: 41.58rem) {
          .rdrDateRangePickerWrapper {
            flex-direction: column;

            &>div {
              width: 100%;
            }
          }
        }
      }

      input,
      select {
        background-color: $color-white;
        outline: none;
        border: $border-light-medium;
        width: 100%;

        &:focus {
          box-shadow: none;
        }
      }

      .rdrMonthAndYearPickers{
        select{
          padding: 0.313rem 1.25rem ;
        }
      }
    }

    .subscriber-bulk-action{
      display: flex;
      max-width: 16rem;
      gap: 0.5rem;

      button{
        align-items: center;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        display: flex;
        font-size: .875rem;
        justify-content: center;
        outline: none;
        padding: .5rem 1rem;
        text-align: center;
        text-decoration: none;
        transition: all .3s linear;
        background: #522c81;
        color: #fff;
      }
    }
    .course-bulk-action {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;

      select {
        background-color: transparent !important;
        border: 0.115rem solid rgba(0, 0, 0, 0.125) !important;
        border-radius: $border-radius-small !important;
        padding: 0.125rem 1.5rem 0.15rem 0.5rem;
        width: 100%;

        &:hover,
        &:active {
          box-shadow: none;
        }
      }

      button {
        gap: 0.5rem;
        background-color: $color-active;
        height: fit-content;
        color: $color-white;
      }
    }

    }
  
}

  .react-table {
    border-radius: $border-radius-small;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.125);
    width: 100%;
    z-index: 1;
    border-collapse: collapse;
  
    .rdt_TableHead {
      border-radius: $border-radius-small;
      background-color: $color-white;
      font-size: 0.875rem;
      height: 3.125rem;
  
      .rdt_TableHeadRow {
        padding: 0.313rem;
        font-weight: 400;
        border-bottom: 0.063rem #8686861f solid;
  
        .rdt_TableCol {
          padding: 0 0.5rem;
          text-align: left;
  
          &:first-child {
            width: 2.5rem;
            padding-right: 0;
            text-align: center;
  
            input[type=checkbox] {
              margin: 0;
            }
          }
  
          // &:last-child {
          //   display: none; // Hide extra div in table header
          // }
        }
      }
    }
  
    .rdt_TableBody {
      .rdt_TableRow {
        position: relative;
        padding: 0 0.313rem;
        align-items: start;
        border-bottom: 0.063rem #8686861f solid;
        
        &:nth-child(odd) {
          background: #f9f9f9;
        }
        &:nth-child(even) {
          background: #fff;
        }
  
        .rdt_TableCell {
          padding: 0.5rem;
          font-size: 0.875rem;
          
  
          &:first-child {
            text-align: center;
            padding-right: 0;
          }
  
          // &:last-child {
          //   position: absolute;
          //   top: 1.15rem;
          //   right: 0.938rem;
          //   display: none; // Hide arrow for desktop
          //   border-radius: 0.188rem;
  
          //   .table-dropdown_btn {
          //     width: 100%;
  
          //     button {
          //       width: 100%;
          //       height: 1.563rem;
          //       padding: 0;
  
          //       i {
          //         font-size: 0.75rem !important; // To overwrite default table font size
          //       }
          //     }
          //   }
          // }
          .table-row-custom {
            display: flex;
            justify-content: flex-start;
            gap: 0.5rem;
            padding: 0;
  
            .hide-title{
              display: none;
            }
            img {
              width: 3.15rem;
              height: 3.15rem;
              padding: 0.25rem;
              border-radius: $border-radius-small;
              box-shadow: 0 0 .125rem rgba($color: #000000, $alpha: 0.125);
            }
  
            &:has(.action-section) {
              align-items: flex-start;
  
              .action-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25rem;
  
                .action-btn {
                  display: flex;
                  gap: 0.5rem;
                  visibility: hidden;
                  transition: all 0.3s linear;
                  align-items: flex-start;
                  justify-content: flex-start;
  
                  button,
                  a {
                    background: transparent;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: $theme-color;
                    background: transparent;
                    padding: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .rdt_Pagination{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;

    select{
      border: none;
    }
    .Pagination-arrow{
      display: flex;
      align-items: center;

      button{
        background: transparent;
        padding: 0;
      }
    }
  }
  .no-data{
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
  }

  tbody{
      .table-row-custom{
        .hide-title{
          // display: none;
        }
  
        img{
          width: 3.15rem;
          height: 3.15rem;
          padding: 0.25rem;
          border-radius: 0.25rem;
          box-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.125);
        }
      }
    }

.admin-table-wrapper-filter{
  .type-count-active{
    color: $color-active;
  }
}

.table-input{
  border:none !important;
  width: 50%;
  background-color: red;
}

.toggle-checkbox {
  position: relative;
  margin-right: 0.5rem;

  .admin-pro-tag {
    left: 4.25rem;
    width: fit-content;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.45rem;
    width: 0.25rem;
    height: 0.25rem;
    border: $border-theme-small;
    border-radius: $border-radius-button;
    transition: 0.3s;
    z-index: 0;
    transform: translateY(-50%);
  }

  input {
    display: none; // Hide for toggle button
  }

  label {
    cursor: pointer;
    width: 3rem;
    height: 1.4rem;
    background: 0 0;
    display: block;
    border-radius: $border-radius-button;
    position: relative;
    border: $border-light-medium;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.5rem;
      width: 0.1rem;
      height: 0.563rem;
      background: $color-white;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0.313rem;
      width: 0.6rem;
      height: 0.6rem;
      background: $color-active;
      border-radius: 90rem;
      transition: 0.3s;
      z-index: 1;
    }
  }

  input:checked+label {
    background: $color-active;
    border: $border-theme-medius;
  }

  input:checked+label::after {
    left: calc(100% - 1rem);
    transform: translateY(-50%);
    background: $background-color;
  }
}