@use '../../global.scss' as *;

.general-wrapper {
  border-radius: 0.313rem;
  margin: 2.5rem 1rem 1rem;

  .middle-child-container {
    position: relative;

    .tabs-wrapper {
      padding: 0 1rem 1rem;
    }

    &.show-menu {
      .tabs-wrapper {
        max-width: 4.125rem;

        .brand {
          margin: 0 auto;

          img {
            width: 3.15rem;
          }

          .logo {
            display: none;
          }

          .logo-small {
            display: block;
          }
        }

        .menu-coll-btn {
          span {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &.bg-wrapper {
    padding: 1.5rem;
    background: $background-white;
  }

  &.template-1 {
    .middle-child-container {
      border: $border-light-small;
    }

    .divider-wrapper {
      background: $background-white;

      .divider-section {
        margin: 0 1rem;
      }
    }
  }

  &.template-2,
  &.template-3 {
    .divider-wrapper {
      margin-bottom: 1.5rem;

      .divider-section {
        padding-top: 0;
      }
    }
  }

  &:has(.container-wrapper) {
    background: transparent;
    padding: 0;
  }
}

.top-header {
  padding: 0.5rem;
  text-align: center;
  background: $theme-background-color;
  font-weight: 600;
  font-size: 0.8rem;
  color: $text-color;
  position: relative;

  i {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;

  .left-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .brand-logo {
      width: auto;
      height: 2rem;
    }

    .version-tag {
      display: flex;
      gap: 0.5rem;
    }
  }

  .right-section {
    position: relative;
    display: flex;
    gap: 0.875rem;
    align-items: center;

    .adminfont-notification {
      font-size: 1.313rem;
      padding: 0.313rem;
    }

  }
}

.tabs-wrapper {
  // padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;

  .pro-btn {
    color: #e35047;
    line-height: 1.7rem;
    font-weight: 600;
    gap: 0.31rem;
    font-size: 1rem;
    display: flex;

    i:first-child {
      font-size: 1.4rem;
    }

    i:last-child {
      transform: rotate(-45deg);
      padding-left: 0.313rem;
      line-height: 1.5rem;
    }
  }
}

.tab-title {
  padding: 1.5rem;
  align-items: center;
  background: #fff;
  margin: 1rem;

  .content {
    border-bottom: $border-light-small;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tab-wrapper {
    .title {
      font-size: 1.45rem;
      display: flex;
      align-items: end;
      gap: 0.313rem;
      line-height: 1.5rem;
    }

    i {
      font-size: 1.5rem;
      color: $theme-color;
    }

    .dsc {
      font-size: 0.85rem;
      font-weight: 400;
      padding-top: 0.313rem;
    }
  }

  .status-wrapper {
    margin-bottom: 0.313rem;
    display: flex;
    align-items: center;
    gap: 0.813rem;

    span {
      font-size: 1rem;
      color: #000;
    }
  }

  .admin-btn.tooltip-btn {
    padding: 0.5rem;
    border-radius: 50%;
  }
}

.tab-content {
  position: relative;
  width: 100%;

  .tab-description-body {
    padding: 0 1.8rem;
  }
}

.general-wrapper:has(.tab-bg) {
  .middle-child-container {
    border: none;
  }

  .divider-wrapper {
    display: none;
  }

}

.tabs-wrapper {
  .brand {
    padding: 2rem 0 1.5rem;
    width: fit-content;
    margin: 0 auto;

    img.logo {
      width: 10.25rem;
    }

    .logo-small {
      display: none; // Hide for desktop
    }

    p {
      text-align: end;
      margin: 0;
    }
  }

}

.tabs-item {
  position: relative;
  display: flex;
  gap: 1.5rem;

  .tab {
    position: relative;
    overflow: hidden;
    transition: all 100ms ease-out;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    color: $text-color;
    gap: 0.75rem;
    background-color: transparent;
    padding: 0.5rem 0;
    border-bottom: 0.126rem solid transparent;
    font-weight: 500;
    cursor: pointer;

    // transition: all 0.4s ease;

    .tab-name {
      font-size: 0.938rem;
      line-height: 1.5;
      color: #121116;

      i{
        padding-right: 0.5rem;
      }
    }

    .admin-pro-tag {
      top: 1rem;
    }

    .tab-desc {
      margin-top: 0.188rem;
      color: #72777c;
      line-height: 1.2;
      transition: all 150ms ease-out;
    }

    .drop-down-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.25rem;
      width: 100%;
    }

    &:focus {
      box-shadow: none;
    }

    &.active-tab {
      color: $color-active;
      border-bottom: 0.126rem solid $color-active;

      .tab-name,
      i {
        color: $color-active;
      }
    }
  }

  .active-tab {
    i {
      opacity: 1;
    }

    .admin-pro-tag {
      top: 1rem;
    }
  }

  .menu-close {
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    top: 1.25rem;
    font-size: 1.15rem;
    right: 0.63rem;
    border-radius: 0.5rem;
    background-color: $color-white;
    color: $color-active;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
  }

  .tab-wrapper {
    width: 100%;

    .subtab-wrapper {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s linear;

      a {
        width: 100%;
        box-sizing: border-box;
      }

      &.active {
        max-height: 50rem;
        height: auto;
      }
    }
  }
}

.title-section {
  margin: 0 1rem;
  padding: 1.5rem 1.5rem .5rem 0;
  border-bottom: $border-light-small;

  &.template-1 {
    .title-wrapper {
      font-weight: 500;
      margin-bottom: 0;
      color: $text-color;
      display: flex;
      justify-content: space-between;

      .title {
        font-size: 1.4rem;

        i {
          margin-right: 0.5rem;
          color: $theme-color;
          font-size: 1.8rem;
        }
      }
      .buttons {
        display: flex;
        gap: 1rem;
        align-items: center;

        i {
          font-size: 1rem;
          margin: 0;
        }

      }
    }

    .description {
      padding-top: 0.313rem;
    }

    .breadcrumbs {
      padding-top: 0.938rem;
      font-size: 0.9rem;

      a {
        color: $theme-color;
        font-weight: 500;
      }
    }

    // .active-tab {
    //   color: $color-active;
    //   border-bottom: 0.126rem solid $color-active;

    //   .tab-name,
    //   i {
    //     color: $color-active;
    //   }
    // }

    span:last-child {
      a {
        color: $text-color;
      }
    }

    .admin-btn.tooltip-btn {
      padding: 0.5rem;
      border-radius: 50%;
    }

    .custom-content {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      label {
        font-size: 1rem;

        i {
          font-size: 1.125rem;
          color: $theme-color;
          padding-right: 0.45rem;
        }
      }
    }

  }

  &.template-2 {
    .tab:not(.pro-btn) {
      cursor: pointer;
      display: flex;
      justify-content: center;
      background: #fff;
      padding: 1rem 1rem 0.313rem;
      min-width: 11rem;

      .tab-name {
        display: flex;
        flex-direction: column;
        font-size: .938rem;
        line-height: 1.5;
        color: #707070;
        font-weight: 500;
        gap: 0.125rem;

        i {
          font-size: 1.625rem;
          text-align: center;
        }
      }

      &.active-tab {
        color: $theme-color;
        border-bottom: 0.126rem solid $theme-color;

        p {
          color: $theme-color;
        }
      }

      &:hover {
        background: $theme-color;

        i {
          color: #fff;
        }

        p {
          color: #fff;
        }
      }
    }
  }

  &.template-3 {
    cursor: pointer;
    padding-bottom: 1.5rem;

    .tabs-item {
      display: flex;
      gap: 1rem;
      width: 100%;
      flex-wrap: wrap;

      .tab {
        width: 24%;
        box-sizing: border-box;
        padding: 1rem 1.313rem;
        background: #fff;
        border-radius: 0.313rem;
        border: 0.063rem solid transparent;
        flex-direction: column;
        gap: 0;
        align-items: start;

        .tab-name {
          font-size: 1.313rem;
          line-height: 1.125rem;
          font-weight: 500;
          display: flex;
          align-items: end;
          gap: 0.5rem;

          span {
            font-size: 3rem;
            line-height: 2rem;
          }
        }

        i {
          padding: 0.5rem;
          font-size: 1.45rem;
          border-radius: 0.313rem;
        }

        .des {
          font-size: 1.125rem;
          padding-top: 0.5rem;
          line-height: 1.125;
          color: $sub-text-color;
        }

        &:hover {
          background: $theme-color;
          color: #fff;

          .tab-name,
          .des {
            color: #fff;

            i {
              background: #fff;
              color: $theme-color;
            }
          }
        }

        &.active-tab {
          border: 0.063rem solid;

          @each $name, $style in $color-palette {
            &:has(.#{$name}) {
              border-color: map-get($style, color);
            }
          }
        }
      }
    }
  }
}

// section divider start
.divider-wrapper {
  margin-top: 1rem;
  width: 100%;

  .divider-section {
    border-bottom: $border-light-small;
    padding: 1rem 0 0.5rem;


    .title {
      font-size: 1.15rem;
      line-height: 1.813rem;
      width: auto;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1rem;
    }

    .desc{
      color: $sub-text-color;

      a{
        color: $theme-color;
      }
    }
  }

  &.red .title{
    color: $accent-color;
  }
}

.divider-wrapper:first-child {
  margin: 0;
}

.divider-wrapper:not(:first-child) {
  width: 100%;
}

// section divider end

// horizental menu start
.horizontal-tabs {
  display: flex;
  width: 100%;
  margin-top: 1rem;

  .horizontal-title-section {
    width: 25%;
    height: auto;

    .tabs-wrapper {
      background: transparent;

      .horizontal-tabs-item {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        width: 100%;

        .tab {
          padding: 0.813rem;
          transition: all 0.3s ease;
          border-radius: 0.313rem;
          cursor: pointer;
          margin: 0;

          i {
            padding-right: 0.5rem;
          }

          p {
            margin: 0;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 1rem;
          }

          &:hover {
            background: $theme-background-color;
            color: $theme-color;
          }

          &.active-tab,
          &.active-tab:hover {
            background: $theme-color;
            color: #fff;
            border: none;

            i,
            p {
              color: #fff;
            }
          }
        }

        .tab-heading {
          font-size: 1.063rem;
          color: #0000008f;
          font-weight: 600;
          padding-bottom: 0.313rem;
          border-bottom: $border-light-small;
          margin: 0.5rem 0;
        }
      }
    }
  }

  .general-wrapper {
    width: 75%;
    background: $background-white;
    border: $border-light-small;
    margin: 0 1rem 1rem;
    border-radius: 0.313rem;

    .card-content {
      padding: 0;
    }

    .middle-child-container {
      border: none;
    }

    .tab-content {
      padding: 1.5rem;
      box-sizing: border-box;

      .divider-wrapper:first-child {
        .divider-section {
          margin: 0;
          padding-top: 0;
          padding-bottom: .5rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

// horizental menu end