@use '../../global.scss' as *;

.top-header {
  padding: 0.5rem;
  text-align: center;
  background: $theme-background-color;
  font-weight: 600;
  font-size: 0.8rem;
  color: $text-color;
  position: relative;

  i {
    position: absolute;
    right: 2rem;
    top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
  // margin-bottom: 1rem;

  .left-section {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .brand-logo {
      width: auto;
      height: 2rem;
    }

    .version-tag {
      display: flex;
      gap: 0.5rem;
    }
  }

  .right-section {
    position: relative;
    display: flex;
    gap: 0.875rem;
    align-items: center;


    .admin-icon {
      font-size: 1.125rem;
      padding: 0.4rem;
      border-radius: 50%;
      color: $theme-color;
      cursor: pointer;
      position: relative;

      &:hover {
        background: #e7e6e6cf;
      }
    }

    .adminlib-notification {
      font-size: 1.313rem;
      padding: 0.313rem;
    }


    .icon-wrapper {
      position: relative;

      .count {
        position: absolute;
        font-size: 0.75rem;
        right: -0.25rem;
        top: -0.45rem;
        padding: 0.125rem;
        background: red;
        border-radius: 50%;
        width: 0.75rem;
        height: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .dropdown-menu {
        position: absolute;
        top: 2rem;
        overflow: hidden;
        border: 1px solid #e5e9f2;
        max-width: 14rem;
        min-width: 14rem;
        right: 0;
        background: #fff;
        border-radius: 0.313rem;
        transition: all 0.3s ease;
        z-index: 9999;

        .dropdown-body {
          margin: 0;

          ul {
            list-style: none;
            padding: 0.5rem 0;
            margin: 0;

            li {
              margin: 0;

              a {
                display: flex;
                align-items: center;
                color: #526484;
                font-size: 0.813rem;
                line-height: 1.4rem;
                font-weight: 500;
                padding: .5rem 1.313rem;
                position: relative;
                gap: 0.5rem;

                i {
                  font-size: 1.25rem;
                }

                &:hover {
                  color: #854fff;
                  background: $theme-background-color;
                }
              }
            }
          }
        }

        .footer {
          padding: 0.75rem;
          border: $border-light-small;
        }

        &.notification {
          min-width: 25rem;

          .title {
            padding: 0.75rem;
            border-bottom: $border-light-small;
            display: flex;
            justify-content: space-between;
            font-size: 1.25rem;
            align-items: center;
          }

          ul {
            margin: 0;
            max-height: 20rem;
            overflow: auto;

            li {
              margin: 0;
            }

            a {
              display: flex;
              gap: 0.813rem;
              padding: 0.75rem;
              align-items: start;
              border-bottom: $border-light-small;

              &:hover {
                background: #f3f3f3;
              }

              .icon {
                padding: 0.313rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                  font-size: 1.5rem;
                }
              }

              .details {
                span {
                  display: block;
                }

                .heading {
                  font-size: 0.95rem;
                  color: #000;
                }

                .message {
                  color: #00000082;
                  padding: 0.313rem 0;
                }

                .time {
                  font-size: 0.813rem;
                  color: #0000004a;
                }
              }
            }
          }
        }
      }
    }
  }
}

.title-section {
  margin: 0 1rem;
  padding: 1.5rem 1.5rem .5rem 0;
  // background: #fff;
  border-bottom: $border-light-small;

  .title-wrapper {
    font-weight: 500;
    margin-bottom: 0;
    color: $text-color;
    display: flex;
    justify-content: space-between;

    .title {
      font-size: 1.4rem;

      i {
        margin-right: 0.5rem;
        color: $theme-color;
        font-size: 1.8rem;
      }
    }

    .buttons {
      display: flex;
      gap: 1rem;
      align-items: center;

      i {
        font-size: 1rem;
        margin: 0;
      }

    }
  }

  .description {
    // border-bottom: 0.063rem solid #e0e4e9;
    // padding: 0.625rem 0;
    padding-top: 0.313rem;
  }

  .breadcrumbs {
    padding-top: 0.938rem;
    font-size: 0.9rem;

    a {
      color: $theme-color;
      font-weight: 500;
    }
  }

  span:last-child {
    a {
      color: $text-color;
    }
  }

  .admin-btn.tooltip-btn {
    padding: 0.5rem;
    border-radius: 50%;
  }

  .custom-content {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    label {
      font-size: 1rem;

      i {
        font-size: 1.125rem;
        color: $theme-color;
        padding-right: 0.45rem;
      }
    }
  }
}

.tabs-wrapper {
  // padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  // border-bottom: 0.063rem solid #e0e4e9;

  .pro-btn {
    color: #e35047;
    line-height: 1.7rem;
    font-weight: 600;
    gap: 0.31rem;
    font-size: 1rem;
    display: flex;

    i:first-child {
      font-size: 1.4rem;
    }

    i:last-child {
      transform: rotate(-45deg);
      padding-left: 0.313rem;
      line-height: 1.5rem;
    }
  }

  .action-wrapper {}
}

.tab-title {
  padding: 1.5rem;
  align-items: center;
  background: #fff;
  margin: 1rem;

  .content {
    border-bottom: $border-light-small;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .tab-wrapper {
    .title {
      font-size: 1.45rem;
      display: flex;
      align-items: end;
      gap: 0.313rem;
      line-height: 1.5rem;
    }

    i {
      font-size: 1.5rem;
      color: $theme-color;
    }

    .dsc {
      font-size: 0.85rem;
      font-weight: 400;
      padding-top: 0.313rem;
    }
  }

  .status-wrapper {
    margin-bottom: 0.313rem;
    display: flex;
    align-items: center;
    gap: 0.813rem;

    span {
      font-size: 1rem;
      color: #000;
    }
  }

  .admin-btn.tooltip-btn {
    padding: 0.5rem;
    border-radius: 50%;
  }
}

// .general-wrapper {
//   padding: 1rem;
//   border-radius: 0.313rem;
// }

.tab-content {
  position: relative;
  width: 100%;

  .tab-description-body {
    padding: 0 1.8rem;
  }
}

.general-wrapper:has(.tab-bg) {

  .middle-child-container {
    border: none;
  }

  .divider-wrapper {
    // background: transparent;
    display: none;
  }

}

.tabs-wrapper {
  // width: 100%;
  // background: #fff;

  .brand {
    padding: 2rem 0 1.5rem;
    width: fit-content;
    margin: 0 auto;

    img.logo {
      width: 10.25rem;
    }

    .logo-small {
      display: none; // Hide for desktop
    }

    p {
      text-align: end;
      margin: 0;
    }
  }

}

.middle-child-container {
  position: relative;
  color: #121116;
  line-height: 1.5;
  // background-color: #fff;
  border: $border-light-small;

  .tabs-wrapper {
    // margin: 0 2rem;
    padding: 0 1rem 1rem ;
  }

  &.show-menu {
    .tabs-wrapper {
      max-width: 4.125rem;

      .brand {
        margin: 0 auto;

        img {
          width: 3.15rem;
        }

        .logo {
          display: none;
        }

        .logo-small {
          display: block;
        }
      }

      .menu-coll-btn {
        span {
          transform: rotate(180deg);
        }
      }
    }
  }

  // .container-wrapper {
  //   padding: 0;
  // }
}

.middle-child-container:has(.tabs-wrapper) {
  // padding-top: 2rem;
}

.tabs-item {
  position: relative;
  display: flex;
  gap: 1.5rem;

  .menu-item {
    position: relative;
    overflow: hidden;
    transition: all 100ms ease-out;
    display: flex;
    align-items: end;
    justify-content: flex-start;
    color: #000;
    gap: 0.75rem;
    background-color: transparent;
    padding: 0.5rem 0;
    border-bottom: 0.126rem solid transparent;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.4s ease;

    // &:hover{
    //   background: #f3f3f3;
    // }

    .menu-name {
      font-size: 0.938rem;
      line-height: 1.5;
      color: #121116;
    }

    .admin-pro-tag {
      top: 1rem;
    }

    .menu-desc {
      margin-top: 0.188rem;
      color: #72777c;
      line-height: 1.2;
      transition: all 150ms ease-out;
    }

    .drop-down-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.25rem;
      width: 100%;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .active-current-tab {
    color: $color-active;
    border-bottom: 0.126rem solid $color-active;

    .menu-name,
    i {
      color: $color-active;
    }

    i {
      opacity: 1;
    }

    .admin-pro-tag {
      top: 1rem;
    }
  }

  .menu-close {
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    top: 1.25rem;
    font-size: 1.15rem;
    right: 0.63rem;
    border-radius: 0.5rem;
    background-color: $color-white;
    color: $color-active;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
  }

  .tab-wrapper {
    width: 100%;

    .subtab-wrapper {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s linear;

      a {
        width: 100%;
        box-sizing: border-box;
      }

      &.active {
        max-height: 50rem;
        height: auto;
      }
    }
  }
}


// section divider start
.divider-wrapper {
  margin-top: 1rem;
  background: #fff;
  width: 100%;

  .divider-section {
    margin: 0 1rem;
    border-bottom: $border-light-small;
    padding: 1rem 0 0.5rem 0;


    .title {
      font-size: 1.15rem;
      width: auto;
    }

    span {
      font-size: 1rem;
      font-weight: 500;
    }

    &.color-red {
      color: red;
      background: #ff00000d;
    }
  }
}

.divider-wrapper:first-child {
  // padding: 1.5rem 0;
  margin: 0;
}

.divider-wrapper:not(:first-child) {
  width: 100%;
}

// section divider end