@use '../../global.scss' as *;

div:has(.exclusion-modal) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 30%) !important;

    .exclusion-modal {
        max-width: 500px;
        height: 400px;
        width: 100%;
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 0 1rem rgb(255 255 255 / 12.5%);
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.75rem;
        flex-direction: column;
        padding: 3rem 2rem 2rem;
        margin: 1rem;
        position: relative;

        .selected-input {
            position: relative;
            width: 100%;

            input {
                background: #fff;
                margin: 0;
                width: 100%;
                height: 40px;
                border: 0.115rem solid rgb(0 0 0 / 12.5%);
                border-radius: 0;
                padding: 0.25rem 0.5rem;
                font-size: 0.875rem;
                line-height: 1.5;

                &:focus {
                    outline: none;
                }
            }

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5px;

                i {
                    font-size: 1.15rem;
                }
            }
        }

        .modal-close-btn {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #65438f;
            background-color: #f2eeee;
            border-radius: 0.25rem;
            cursor: pointer;
            user-select: none;
        }

        .selected-container {
            border: 0.115rem solid rgb(0 0 0 / 12.5%);
            border-radius: 0;
            min-height: 40px;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.25rem;
            background-color: #fff;
            position: relative;
            width: 100%;
            height: auto;

            .selected-items-container {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: flex-start;
                gap: 0.25rem;
                max-width: calc(100% - 20px);
                width: 100%;
                flex-wrap: wrap;
                overflow: hidden;

                .selected-items {
                    max-width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.25rem;
                    padding: 0.15rem 0.25rem;
                    border-radius: 0.25rem;
                    font-size: 0.75rem;
                    background: #f2eeee;
                    width: 100%;

                    span {
                        max-height: 20px;
                        height: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;

                    }

                    button {
                        background: transparent;
                        padding: 0;
                        cursor: pointer;
                    }
                }
            }

            .container-items-controls {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5px;

                .clear-all-data {
                    background: transparent;
                    border-radius: 50%;
                    transition: all 0.3s linear;
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    font-size: 0.75rem;

                    &:hover {
                        background-color: #f9f9f9;
                    }
                }
            }


        }

        .option-container {
            max-height: 260px;
            height: auto;
            overflow-y: scroll;
            width: 100%;
            background: #fff;
            display: flex;
            padding: 0.5rem;
            border: 0.115rem solid rgb(0 0 0 / 12.5%);
            flex-direction: column;
            gap: 0.25rem;

            &::-webkit-scrollbar {
                width: 8px;
                margin: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #65438f;
                border-radius: 0.25rem;
            }

            .options-item {
                cursor: pointer;
            }

        }
    }
}

.toggle-setting-container {
    position: relative;
    width: fit-content;
}
.toggle-setting-wrapper {
    display: flex;
    
    div {
        list-style-type: none;
        margin: 0;

        input[type="radio"] {
            display: none; // for radio button hide
        }

        label {
            list-style-type: none;
            margin: 0;
            padding: 0.5rem 0.75rem;
            border: $border-light-medium;
            font-weight: 500;
            line-height: 1rem;
            font-size: 0.9rem;
            color: #9fa1a4;
            cursor: pointer;
            border-right: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            img{
                width: 3rem;
            }
        }
        input:checked+label {
            color: $theme-color;
            background: #ece2f9;
            border: $border-theme-medium;
        }
        input:checked+label .toggle-setting-wrapper label{
            border-left: 0;
        }
        &:last-child label{
            border-top-right-radius: 0.313rem;
            border-bottom-right-radius: 0.313rem;
            border-right: $border-light-medium;
        }
        &:first-child label{
            border-top-left-radius: 0.313rem;
            border-bottom-left-radius: 0.313rem;
        }
    }
    div:has(input:checked) + div label{
        border-left: none;
    }
}