@use '../../global.scss' as *;

.toggle-checkbox {
    margin-left: auto;
    position: relative;

    input[type="checkbox"] {
        height: 0;
        width: 0;
        visibility: hidden;
        display: none; // hide for toggle button
    }

    label {
        cursor: pointer;
        width: 2.785rem;
        height: 1.2rem;
        background: $theme-background-color;
        display: block;
        border-radius: 8rem;
        position: relative;
        border: $border-theme-medium;

        &::after {
            content: "";
            position: absolute;
            top: 51%;
            transform: translateY(-50%);
            left: 0.313rem;
            width: 0.75rem;
            height: 0.8rem;
            border-radius: 90rem;
            transition: 0.3s;
            z-index: 1;
            border: $border-theme-medium;
            background: #fff;
        }
    }

    input:checked+label {
        border: $border-theme-medium;
        border-color: $theme-color;
    }

    input:checked+label::after {
        left: calc(100% - 1.313rem);
        transform: translateY(-50%);
        background: $theme-color
    }
}

.toggle-btn {
    // display: flex;
    // gap: 0.5rem;

    .before {
        font-size: 0.95rem;
    }
}

.toggle-checkbox-header {
    min-width: fit-content;
    display: flex;
    gap: 0.313rem;
    margin-right: 0.945rem;
    position: relative;
    z-index: 0;

    .toggle-checkbox {
        margin: 0;
    }

    .admin-pro-tag {
        position: relative;
        display: inline;
        margin-left: 0.75rem;
    }
}

// Toggle settings wrapper
.toggle-setting-wrapper {
    display: flex;

    .toggle-option {
        list-style-type: none;
        margin: 0;
        position: relative;

        input {
            display: none; // for radio button hide
        }

        label {
            list-style-type: none;
            margin: 0;
            padding: 0.5rem 0.75rem;
            border: $border-light-medium;
            font-weight: 500;
            line-height: 1rem;
            font-size: 0.9rem;
            color: #9fa1a4;
            cursor: pointer;
            border-right: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            img {
                height: 3rem;
            }

            i {
                font-size: 1.813rem;
            }

            span {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.625rem;
            }
            .des{
                color: #9fa1a4;
                font-size: 0.813rem;
            }
        }

        &:last-child label {
            border-top-right-radius: 0.313rem;
            border-bottom-right-radius: 0.313rem;
            border-right: $border-light-medium;
        }

        &:first-child label {
            border-top-left-radius: 0.313rem;
            border-bottom-left-radius: 0.313rem;
        }

        input:checked+label {
            background: $theme-background-color;
            border: $border-theme-medium;

            span {
                color: $theme-color;
            }
        }

        .admin-pro-tag {
            right: 0;
            top: -0.063rem;
        }
    }

    div:has(input:checked)+div label {
        border-left: none;
    }

    &.custom {
        flex-direction: column;
        gap: 0.5rem;
        width: 60%;

        span {
            font-size: 1.125rem;
            // padding-left: 1.125rem;
            flex-direction: row !important;
        }

        // i {
        //     padding-right: 0.5rem;
        // }

        label {
            border: $border-light-medium;
            border-radius: 0.313rem;
            align-items: start;
            gap: 0.313rem;
        }

        // input {
        //     display: block;
        //     position: absolute;
        //     top: 1rem;
        //     left: 0.5rem;
        // }

        input[type=radio]:checked::before {
            color: $theme-color;
        }

        .toggle-custom-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;

            .toggle-notice {
                .title {
                    font-size: 1rem;
                    color: $sub-text-color;
                }

                ul {
                    margin: 0 1rem;
                    list-style: number;
                    font-size: 0.813rem;
                    padding-top: 0.25rem;
                }
            }
        }

        div:has(input:checked)+div label {
            border: $border-light-medium;
        }
    }
}

.toggle-setting-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    // for full width 
    &.full-width {
        width: 100%;

        .toggle-option,
        .toggle-setting-wrapper {
            width: 100%;
        }
    }
}

.toggle-setting-container:has(.custom) {
    width: 100%;
}

// Modal styles
div:has(.exclusion-modal) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 30%) !important;
    z-index: 99;

    .exclusion-modal {
        max-width: 31.25rem;
        width: 100%;
        background-color: #fff;
        border-radius: 0.25rem;
        box-shadow: 0 0 1rem #ffffff20;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.75rem;
        flex-direction: column;
        padding: 3rem 2rem 2rem;
        margin: 1rem;
        position: relative;

        i {
            font-size: 1.15rem;
        }

        input {
            background: #fff;
            margin: 0;
            width: 100%;
            height: 2.5rem;
            border: 0.115rem solid #00000020;
            border-radius: 0;
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;

            &:focus {
                outline: none;
            }
        }

        .selected-input {
            position: relative;
            width: 100%;

            span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.313rem;
            }
        }

        .modal-close-btn {
            position: absolute;
            top: 0.625rem;
            right: 0.625rem;
            width: 1.875rem;
            height: 1.875rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #65438f;
            background-color: #f2eeee;
            border-radius: 0.25rem;
            cursor: pointer;
            user-select: none;
        }

        .selected-container {
            border: 0.115rem solid #00000020;
            border-radius: 0;
            min-height: 2.5rem;
            padding: 0.5rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0.25rem;
            background-color: #fff;
            position: relative;
            height: auto;

            .selected-items-container {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: flex-start;
                gap: 0.25rem;
                max-width: calc(100% - 1.25rem);
                width: 100%;
                flex-wrap: wrap;
                overflow: hidden;

                .selected-items {
                    max-width: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 0.25rem;
                    padding: 0.15rem 0.25rem;
                    border-radius: 0.25rem;
                    font-size: 0.75rem;
                    background: #f2eeee;
                    width: 100%;

                    span {
                        max-height: 1.25rem;
                        height: 100%;
                        text-overflow: ellipsis;
                        overflow: hidden;

                    }

                    button {
                        background: transparent;
                        padding: 0;
                        cursor: pointer;
                    }
                }
            }

            .container-items-controls {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.25rem;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.313rem;

                .clear-all-data {
                    background: transparent;
                    border-radius: 50%;
                    transition: all 0.3s linear;
                    cursor: pointer;
                    width: 1.25rem;
                    height: 1.25rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    font-size: 0.75rem;

                    &:hover {
                        background-color: #f9f9f9;
                    }
                }
            }


        }

        .option-container {
            max-height: 16.25;
            height: auto;
            overflow-y: scroll;
            width: 100%;
            background: #fff;
            display: flex;
            padding: 0.5rem;
            border: 0.115rem solid rgb(0 0 0 / 12.5%);
            flex-direction: column;
            gap: 0.25rem;

            &::-webkit-scrollbar {
                width: 0.5rem;
                margin: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #65438f;
                border-radius: 0.25rem;
            }

            .options-item {
                cursor: pointer;
            }

        }
    }
}