@use '../global.scss' as *;
@use './web/dashboard';
@import 'https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap';

body:has(.admin-main-wrapper) {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: rgb(246 248 260 / 50%) !important;
}

.sb-show-main {
  background: #f0f0f1;
}

a {
  text-decoration: none;
  color: $text-color;
}

.form-select-field-wrapper {

  .select-wrapper {
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;

    .react-select {
      width: 100%;
    }

    .select-menu-content {
      padding: 0.25rem 0.313rem 0;

      .admin-btn {
        width: 100%;
      }
    }

    .before,
    .after {
      font-size: 0.95rem;
      // width: 13rem;
    }

    .no-options {
      font-size: 0.95rem;
    }
  }

  &.fit-content {
    .select-wrapper {
      width: fit-content;
    }
  }
}

.form-select-field-wrapper input,
.form-select-field-wrapper input:focus {
  box-shadow: none !important;
  outline: none;
}

body:has(.admin-main-wrapper) {
  background: #f2f5fd8f;
}

#admin-main-wrapper {
  margin-left: -1.25rem;
}

.multivendorx-main-wrapper,
#multivendorx-setup-wizard {
  font-family: Figtree, sans-serif;

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .basic-input,
  .basic-select,
  .textarea-input,
  .rmdp-input {
    min-height: 2.213rem !important; // for overwrite wordpress style
  }

  input[type="color"] {
    cursor: pointer;
  }

  input[type="radio"] {
    border: 0.125rem solid #e0e4e9;
    line-height: 1.5;
    cursor: pointer;
    height: 1rem;
    margin: -.25rem .25rem 0 0;
    padding: 0;
    vertical-align: middle;
    min-width: 1rem;
    appearance: none;
    border-radius: 50%;
    width: 1rem;

    &:checked {
      background: $theme-color;
    }
  }

  input[type="checkbox"] {
    width: 1.125rem;
    height: 1.125rem;
  }

  input[type="checkbox"]:checked {
    border: none;
  }

  input[type="checkbox"]:checked::before,
  input.minus-icon::before {
    background-color: $theme-color;
    color: #fff;
    width: 1rem !important;
    height: 1rem !important;
    margin: -0.063rem .3rem 0 0 !important;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    height: 1.125rem;
    width: 1.125rem;
  }

  input[type="checkbox"]:checked::before {
    content: "\e809";
    padding: 0.063rem;
  }

  input.minus-icon::before {
    content: "\ef9e";
    padding: 0.063rem;
    font-size: 1rem;
  }

  input.minus-icon {
    border: none;
  }

  input[type="checkbox"]:focus {
    box-shadow: none;
  }
}

.admin-badge {
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 0.95;
  padding: 0.313rem;
  border-radius: $border-radius-small;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  width: fit-content;

  &.border {
    border: 0.063rem solid;
  }
}

.add-btn {
  display: flex;
  gap: 0.313rem;
  align-items: center;
  border-bottom: 0.063rem solid $theme-color;
  padding-bottom: 0.125rem;
  font-size: 0.813rem;
  color: $theme-color;
  cursor: pointer;
}

.icon-pro-btn {
  transform: rotate(-45deg);
}

.admin-icon {
  padding: 0.313rem 1rem;
  border-radius: 0.313rem;
  font-size: 1.313rem;
}

// all colors loop
$index: 1;

@each $name, $style in $color-palette {

  // color name with background (.red & .admin-color1)
  .#{$name},
  .admin-color#{$index} {
    background: map-get($style, light-color) !important;
    color: map-get($style, color) !important;
  }

  // only background color
  .#{$name}-bg,
  .admin-bg-color#{$index} {
    background: map-get($style, color) !important;
  }

  // only color
  .#{$name}-color,
  .admin-color#{$index} {
    color: map-get($style, color) !important;
  }

  $index: $index + 1;
}


// button colors loop
@each $name, $style in $btn-color-palette {

  // light background color btn
  .btn-#{$name} {
    background: map-get($style, light-color);
    color: map-get($style, color);

    &:hover {
      background: map-get($style, light-color);
      color: map-get($style, color);
    }
  }

  // dark background color btn
  .btn-#{$name}-bg {
    background: map-get($style, color);
    color: #fff;

    &:hover {
      background: map-get($style, color);
    }
  }
}

// copy btn start
.copy-btn {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0;
  border-radius: 0.25rem;
  background: $background-white;
  border: none;
  position: relative;

  .tooltip {
    font-size: 0.625rem;
    position: absolute;
    background: $theme-color;
    padding: 0.5rem 0.75rem;
    top: -2rem;
    border-radius: 0.25rem;
    color: $background-white;
    display: none;
    width: 5.125rem;
    right: 0%;

    &::after {
      position: absolute;
      content: "";
      bottom: -0.189rem;
      transform: translateX(-50%) rotate(45deg);
      width: 0.504rem;
      height: 0.504rem;
      background: $theme-color;
      right: 8%;
    }

    &.tool-clip {
      display: flex;
      gap: 0.313rem;
      width: 3rem;
    }
  }

  &:hover {
    .tooltip {
      display: flex;
    }
  }
}

// copy btn end

// hover tooltip start
.tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .tooltip-name {
    position: absolute;
    top: -1.125rem;
    left: -100%;
    width: 6rem;
    text-align: center;
    display: none;
    transition: all 0.4s ease;
  }

  &:hover {
    .tooltip-name {
      display: block;
      background-color: #2e2e2e;
      color: #fff;
      text-align: center;
      padding: 0.313rem;
      border-radius: 0.375rem;
      position: absolute;
      z-index: 1;
      font-size: 0.8rem;
      inset: 0 auto auto 0;
      transform: translate(-2rem, -2.313rem);
    }
  }

  &.bottom {
    &:hover {
      .tooltip-name {
        transform: translate(-2rem, 1.687rem);
      }
    }
  }
}

// hover tooltip end


// all input style start
.basic-input,
.basic-select,
.textarea-input,
.rmdp-input {
  width: 100%;
  border: $border-light-small !important; // for overwrite wordpress style
  border-radius: 0.25rem;
  padding: 0.313rem 0.5rem;
  background: transparent !important; // for overwrite theme style
  font-size: 0.875rem;
  line-height: 1.5;
  box-shadow: none;
  box-sizing: border-box;
  color: $text-color;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 0.188rem #5007aa1c !important;
    border-color: $theme-color !important; // for overwrite wordpress style
  }

  &.small {
    width: 25%;
  }
}

.react-select input:focus {
  box-shadow: none;
}

.setting-form-input {
  position: relative;
  display: flex;
  gap: 0.625rem;
  align-items: center;
  color: $text-color;
  // width: 100%;

  span {
    font-size: 0.95rem;
  }

  .admin-pro-tag {
    position: relative;
  }

  &.inner-input {
    .input-wrapper {
      display: flex;
      border: $border-light-small;
      border-radius: 0.313rem;
      align-items: center;
      background: $background-white;
      padding: 0 0.5rem;
      gap: 0.5rem;

      input {
        border: none !important;
        padding: 0;

        /* for overwrite common style */

        &:focus {
          box-shadow: none !important;

          /* for overwrite common style */
        }
      }

      .pre {
        padding-right: 0.313rem;
        border-right: $border-light-small;
      }

      .parameter {
        padding-left: 0.313rem;
        border-left: $border-light-small;
      }
    }

    &:has(.select-wrapper){
      .input-wrapper{
        padding-right: 0;
      }
      .parameter{
        padding-left: 0;
      }
    }
  }

  &.input-button {
    .input-wrapper {
      display: flex;

      .input-btn {
        cursor: pointer;
        width: 45%;
      }
    }

    .basic-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      margin-right: 0;
    }

    .admin-btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .copy-btn {
      background: $theme-background-color;
      color: $theme-color;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 4rem;
      cursor: pointer;
    }

    .clear-btn {
      background: transparent;
      font-size: 1.125rem;
      border: none;
      border-top: 0.063rem solid #e0e4e9;
      border-bottom: 0.063rem solid #e0e4e9;
      color: $accent-color;
      cursor: pointer;
    }
  }
}

.link-item {
  color: $theme-color;
  cursor: pointer;

  &:hover {
    color: $theme-color;
  }
}

// color input style
.setting-color-picker {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
}

.settings-color-picker {
  .input-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: $border-light-small;
    width: 10rem !important;
    border-radius: 0.313rem;
    background: $theme-background-color;

    .color-value {
      font-size: 1rem;

    }
  }
}

.checkbox-list-side-by-side {
  display: flex;
  flex-wrap: wrap;

  .checkbox-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border-light-small;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;

    .checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.313rem;

      input:checked::before {
        content: "\e809";
      }
    }

    span {
      font-size: 0.9rem;
      color: $theme-color;
      font-weight: 500;
    }
  }

  .toggle-checkbox-header {
    gap: 0;
    margin: 0;
    padding: 0.5rem;
    width: 47%;
    transition: all 0.4s ease;
    flex-wrap: wrap;
    cursor: pointer;

    &:hover {
      background: #ece2f969;
    }

    .default-checkbox {
      position: relative;
      width: 100%;

      label {
        padding: 0 0 0.313rem 0.313rem;
        font-size: 0.9rem;
        position: relative;
        display: inline;
        font-weight: 500;

        .label-des {
          line-height: 1.313;
          color: #00000078;
          font-size: 0.813rem;
          padding-top: 0.063rem;
        }

        .admin-pro-tag {
          margin-left: 1.5rem;
          top: 0;
        }
      }

      .edit-icon {
        padding-left: 0.45rem;
        position: absolute;
        right: 0;
        top: 0;
        opacity: 0;
        transition: all 0.4s ease;
        display: flex;
        gap: 0.313rem;
      }
    }

    .edit-option-wrapper {
      display: inline-block;


      .edit-option {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    &:hover {
      .edit-icon {
        opacity: 1;
      }
    }
  }

  .default-checkbox:has(input:checked) {
    color: $theme-color;
  }

  .settings-checkbox-description {
    padding-left: 0.5rem;
  }
}

// pro tag start
.admin-pro-tag {
  background: #e350472e;
  color: #e35047;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.1;
  margin-left: .25rem;
  padding: .125rem .438rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  transform: translateY(-50%);
  width: fit-content;
  display: flex;
  gap: 0.125rem;
  z-index: 2;
  border-radius: 0.313rem;

  &.module {
    background: #d9f5f0;
    color: #06be9f;
    gap: 0.25rem
  }
}

// pro tag end

// calender style start
.settings-calender {
  position: relative;
  width: fit-content;
}

.rdrDefinedRangesWrapper,
.rdrCalendarWrapper,
.rdrStaticRange {
  background: $background-white;
}

// Commone loader style
.loader-wrapper {
  display: flex;
  gap: 1rem;
  position: relative;
  width: fit-content;
  // margin: 0.5rem 0;

  .loader {
    --uib-size: 2.205rem;
    --uib-speed: 0.8s;

    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;

    .three-body-dot {
      position: absolute;
      height: 100%;
      width: 30%;

      &::after {
        content: "";
        position: absolute;
        height: 0%;
        width: 100%;
        padding-bottom: 100%;
        background-color: $theme-color;
        border-radius: 50%;
      }

      &:nth-child(1) {
        bottom: 5%;
        left: 0;
        transform: rotate(60deg);
        transform-origin: 50% 85%;

        &::after {
          bottom: 0;
          left: 0;
          animation: wobble1 var(--uib-speed) infinite ease-in-out;
          animation-delay: calc(var(--uib-speed) * -0.3);
        }
      }

      &:nth-child(2) {
        bottom: 5%;
        right: 0;
        transform: rotate(-60deg);
        transform-origin: 50% 85%;

        &::after {
          bottom: 0;
          left: 0;
          animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
        }
      }

      &:nth-child(3) {
        bottom: -5%;
        left: 0;
        transform: translateX(116.666%);

        &::after {
          top: 0;
          left: 0;
          animation: wobble2 var(--uib-speed) infinite ease-in-out;
        }
      }
    }

    @keyframes spin78236 {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes wobble1 {

      0%,
      100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
      }

      50% {
        transform: translateY(-66%) scale(0.65);
        opacity: 0.8;
      }
    }

    @keyframes wobble2 {

      0%,
      100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
      }

      50% {
        transform: translateY(66%) scale(0.65);
        opacity: 0.8;
      }
    }
  }

}

// merge components start
.merge-components {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
}

// merge components end

// cross btn start
.wrapper-close {
  color: $color-active;
  padding: 0;
  position: absolute;
  right: -0.756rem;
  top: -0.945rem;
  background: $color-white;
  box-shadow: $box-shadow;
  border-radius: 50%;
  width: 1.688rem;
  height: 1.72rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.select-deselect-trigger {
  margin-bottom: 1rem;
}

.simple-checkbox {
  input {
    display: none;
  }

  label {
    border-radius: 4rem;
    border: $border-light-medium;
    font-weight: 500;
    line-height: 1.125;
    font-size: 0.9rem;
    color: #9fa1a4;
    padding: 0.65rem 1.125rem;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }

  input:checked+label {
    color: $theme-color;
    background: $theme-background-color;
    border: $border-theme-medium;
    padding-left: 2rem;

    &::before {
      position: absolute;
      content: "\e809";
    }
  }

  .toggle-checkbox-header {
    padding-bottom: 1rem;
    margin-right: 0;
  }
}

.settings-from-multi-select {
  > :first-child {
    margin: 0;

    > :nth-child(3) {
      > :first-child {
        padding: 0 0.313rem;

        > :first-child {
          margin: 0;
        }
      }

    }
  }

  > :last-child {
    margin: 0;
  }
}

.settings-from-multi-select> :first-child> :nth-child(3)> :first-child {
  padding: 0 0.313rem;

  > :first-child {
    margin: 0;

    > :first-child {
      margin: 0;
    }
  }

  > :first-child {
    margin: 0;
  }
}


// pro image wrapper start
.image-wrapper {
  margin: 2rem;
}

// pro image wrapper end
.more-btn {
  cursor: pointer;
}

// live chart
.live-chat-wrapper {
  position: fixed;
  z-index: 99999;
  width: 25%;
  right: 1rem;
  bottom: 1rem;
  border-radius: 0.313rem;
  box-shadow: $box-shadow;
  transform: translateX(110%);
  transition: all 0.4s ease;
  background: #fff;

  &.open {
    transform: translateX(0);
  }

  &.minimized {
    width: 0;
    height: 0;
  }

  i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 99;
    color: #000;
    font-size: 1.125rem;
    background: #fff;
    padding: 0.125rem;
    border-radius: 50%;
    cursor: pointer;

    &.icon {
      right: 3rem;
    }
  }

  iframe {
    border: none;
    width: 100%;
    height: 35rem;
  }
}

// live chart
.minimized-icon {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background: $theme-color;
  z-index: 9999;

  .admin-icon {
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
  }
}

// action icon and dropdown
.action-icons {
  display: flex;
  gap: 0.313rem;
  padding-top: 0.063rem;
  position: relative;
  cursor: pointer;

  i:first-child {
    padding: 0.5rem 0.313rem;
    border-radius: 50%;
    background: transparent;
    transition: all 0.5s ease;
    width: 1.4rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;


    &:hover {
      background: #ebebeb;
    }
  }

  .adminfont-update-data {
    font-size: 1rem;
  }

  .hover-icon {
    position: absolute;
    margin: 0;
    left: -3.5rem;
    display: none;
  }

  &:hover {
    .hover-icon {
      display: flex;
    }
  }

  &:hover,
  &:has(.action-dropdown:hover) {
    .action-dropdown.hover {
      display: block;
      left: -50%;
      height: 1rem;
      position: absolute;
      inset: 0 auto auto 0;
      transform: translate(-100%, 0rem);
      background: $background-color;
      height: 100%;
      padding: 0 0.313rem;
      box-shadow: $box-shadow;

      ul {
        display: flex;
        gap: 0.125rem;
        margin: 0;
        min-width: 4rem;
        justify-content: end;

        li {
          position: relative;
          display: inline-block;
          cursor: pointer;

          span {
            position: absolute;
            top: -1.125rem;
            left: -100%;
            width: 6rem;
            text-align: center;
            display: none;
            transition: all 0.4s ease;
          }

          &:hover {
            span {
              display: block;
              background-color: rgb(46 46 46);
              color: #fff;
              text-align: center;
              padding: 0.313rem;
              border-radius: 0.375rem;
              position: absolute;
              z-index: 1;
              font-size: 0.8rem;
              inset: 0 auto auto 0;
              transform: translate(-2rem, -2.313rem);
            }
          }

          li {
            display: block;
          }
        }
      }
    }
  }

  .action-dropdown {
    display: none;
    position: relative;

    &.show {
      display: block;
      overflow: hidden;
      border: $border-light-small;
      position: absolute;
      inset: 0 0 auto auto;
      background: $background-white;
      z-index: 2;
      border-radius: 0.313rem;
      width: 11rem;
      transform: translate(0, 1.875rem);
      margin: 0;

      ul {
        padding: 0.45rem;
        margin: 0;
        flex-direction: column;
        display: flex;
        gap: 0.45rem;

        li {
          padding: 0 0.625rem;
          display: flex;
          align-items: center;
          gap: 0.425rem;
          font-size: 0.813rem;
          font-weight: 500;
          cursor: pointer;
          margin: 0;
          border-radius: 0.313rem;
          transition: all 0.4s ease;

          &:hover {
            background: #e6e2e29e;
          }

          i {
            font-size: 1rem;
            width: 10%;
          }

          &.delete {
            color: $accent-color;
            margin: 0;
            border-top: $border-light-small;
          }

          a:hover {
            color: #000;
          }

        }

        li:has(.delete) {
          color: $accent-color;
          background: rgba($accent-color, 0.2);
        }
      }
    }
  }

  .inline-actions {
    display: flex;
    gap: 0.125rem;

    .inline-action-btn:has(.delete) {
      color: $accent-color;
    }
  }
}

// search section
.search-field {
  display: flex;
  border: 0.063rem solid $theme-color;
  border-radius: 0.313rem;
  margin-left: auto;
  background: $background-white;
  position: relative;

  .search-section {
    display: flex;
    align-items: center;
    width: 100%;

    i {
      font-size: 1.25rem;
      color: $theme-color;
      padding-right: 0.5rem;

    }

    input {
      border: none !important;

      &:focus {
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  select {
    // background: #ece2f9f1 url("data:image/svg+xml,%3Csvg%20width='20'%20height='20'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cpath%20d='M5%206l5%205%205-5%202%201-7%207-7-7%202-1z'%20fill='%235007aa'/%3E%3C/svg%3E") no-repeat right 5px top 55% !important;
    background: $theme-background-color;
    color: $theme-color;
    margin: 0;
    min-width: 6rem;
    border: none !important;

    /* store dashboard */
    border-radius: 0.313rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0 0.625rem;
    height: 100%;

    option {
      background: #fff;
    }

    &:focus {
      box-shadow: none;
      color: $theme-color;
    }
  }

  // dropdown style 
  ul {
    position: absolute;
    top: 100%;
    right: 0;
    width: 19rem;
    max-height: 22rem;
    overflow-y: auto;
    background: #fff;
    border: $border-light-small;
    border-radius: 0.313rem;
    margin-top: 0.313rem;
    padding: 0;
    list-style: none;
    z-index: 1000;

    li {
      padding: 0.75rem;
      cursor: pointer;
      font-size: 0.875rem;
      color: #333;
      border-bottom: $border-light-small;
      display: flex;
      align-items: start;
      gap: 0.5rem;
      margin: 0;
      transition: all 0.5s ease;

      &:hover {
        background: #f3f3f3;
      }

      .icon-wrapper {
        margin-top: 0.625rem;

        i {
          padding: 0.5rem;
          font-size: 1.125rem;
          border-radius: 50%;
          background: $theme-background-color;
          color: $theme-color;
        }
      }

      .title {
        font-size: 1rem;
      }

      .desc {
        font-size: 0.813rem;
        padding-top: 0.313rem;
      }
    }
  }
}

.search-section {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;

  i {
    font-size: 1.25rem;
  }

  input {
    padding-left: 0;
    background: none;
  }
}

// tooltip style start
.tooltip-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .tooltip {
    position: absolute;
    top: -1.125rem;
    left: -100%;
    width: 6rem;
    text-align: center;
    display: none;
    transition: all 0.4s ease;
  }

  &:hover {
    .tooltip {
      display: block;
      background-color: rgb(46 46 46);
      color: #fff;
      text-align: center;
      padding: 0.313rem;
      border-radius: 0.375rem;
      position: absolute;
      z-index: 1;
      font-size: 0.8rem;
      inset: 0 auto auto 0;
      transform: translate(-2rem, -2.313rem);
    }
  }
}

// tooltip style end

// rating wrapper start
.rating-wrapper {
  display: flex;
  gap: 0.313rem;
  align-items: center;

  .date {
    font-size: 0.813rem;
    padding-left: 0.313rem;
    font-weight: 500;
    color: #0009;
  }
}

// input invalid error
.invalid-massage {
  color: $accent-color;
  position: relative;
  padding-left: 1.125rem;
  font-weight: 500;
  padding-top: 0.125rem;
  margin: 0;

  &::before {
    position: absolute;
    font-family: adminfonts, sans-serif;
    content: "\e807";
    top: 0.125rem;
    left: 0;
    font-size: 1rem;
  }
}

.success-massage {
  color: #008000;
  position: relative;
  padding-left: 1.125rem;
  font-weight: 500;
  padding-top: 0.125rem;
  margin: 0;

  &::before {
    font-family: adminfonts, sans-serif;
    position: absolute;
    content: "\e809";
    top: 0.125rem;
    left: 0;
    font-size: 1rem;
  }
}

// filter tabs (module , notification)
.category-filter {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  .category-item {
    padding: 0.5rem 1.2rem;
    background: #fff;
    color: #000;
    font-size: 0.95rem;
    border-radius: 3.125rem;
    cursor: pointer;

    &.active {
      background: $theme-color;
      color: #fff;
    }
  }
}

// tabs checklist style start
.checklist {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    font-size: 0.95rem;
    width: 50%;
    color: #000000db;

    i {
      font-size: 1.125rem;
      padding-right: 0.5rem;

      &.check {
        color: green;
      }

      &.close {
        color: $accent-color;
      }
    }
  }
}

// highlight section start
@keyframes animate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

.highlight {
  animation: animate 2.5s ease-in-out infinite;
  border: $border-theme-small !important;
}

// highlight section end

.placeholder-400x400 {
  position: relative;
  height: 100%;
  width: 100%;

  &::after {
    content: "80 x 80";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #dfdcdc;
    color: #0000007d;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


// page title start (dashboard)
.page-title-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  align-items: center;

  .page-title {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.625rem;
      line-height: 1.25;
      display: flex;
      gap: 1rem;
      align-items: center;
      font-weight: 600;
    }

    .view-des {
      color: $text-color;
      font-size: 1.125rem;
      line-height: 1.25;
    }

    .des {
      b {
        color: $text-color;
      }
    }
  }

  .breadcrumbs {
    span {
      a {
        color: $theme-color;
      }

      &:last-child {
        a {
          color: #0000007a;
        }
      }
    }
  }
}

// page title end

// avatar style start
.avatar {
  img {
    width: 2.5rem;
    border-radius: 50%;
  }

  i,
  span {
    padding: 0.5rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.625rem;
    color: #fff;
  }
}

// avatar style start


// pagination start
.admin-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 3rem;
  background: #e7e7e7;
  min-height: 3.125rem;
  border-bottom-left-radius: 0.313rem;
  border-bottom-right-radius: 0.313rem;
  border-top: 0;

  .pagination-arrow {
    display: flex;
    gap: 0.5rem;

    span i,
    .number-btn {
      background: $background-white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.313rem;
      width: 2rem;
      height: 2rem;
      border: none;
      cursor: pointer;
    }

    .number-btn.active,
    .number-btn.active:hover,
    span i:hover {
      background: $theme-color;
      color: #fff;
    }

    .admin-font {
      cursor: pointer;
      font-size: 1.313rem;
    }

    .pagination {
      display: flex;
      gap: 0.5rem;
    }
  }

  .pagination-button-disabled i {
    background: #e9e9e99c;
    color: #0000004a;

    &:hover {
      background: #e9e9e99c;
      color: #0000004a;
    }
  }

  .pagination-number-wrapper {
    font-size: 1.063rem;
    color: $sub-text-color;
    display: flex;
    align-items: center;
    gap: 1rem;

    .showing-number {
      padding-top: 0.125rem;
      display: flex;
      align-items: center;

      select {
        margin: 0 0.5rem;
      }
    }
  }
}

// pagination end