@font-face {
  font-family: adminlibrary;
  src:  url('./assets/fonts/adminlibrary.eot?xfjp3c');
  src:  url('./assets/fonts/adminlibrary.eot?xfjp3c#iefix') format('embedded-opentype'),
    url('./assets/fonts/adminlibrary.ttf?xfjp3c') format('truetype'),
    url('./assets/fonts/adminlibrary.woff?xfjp3c') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="adminlib-"], [class*=" adminlib-"], input::before, .adminlibrary {
  font-family: adminlibrary , sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adminlib-download:before {
  content: "\e900";
}
.adminlib-publish:before {
  content: "\e901";
}
.adminlib-cart:before {
  content: "\8907";
}
.adminlib-person:before {
  content: "\e520";
}
.adminlib-tools:before {
  content: "\e700";
}
.adminlib-supervised-user-circle:before {
  content: "\e702";
}
.adminlib-vpn-key:before {
  content: "\e704";
}
.adminlib-user-circle:before {
  content: "\e800";
}
.adminlib-error:before {
  content: "\e802";
}
.adminlib-security:before {
  content: "\e803";
}
.adminlib-storefront:before {
  content: "\e804";
}
.adminlib-editor-list-ul:before {
  content: "\e805";
}
.adminlib-search:before {
  content: "\e806";
}
.adminlib-info:before {
  content: "\e807";
}
.adminlib-check:before {
  content: "\e809";
}
.adminlib-smile-o:before {
  content: "\e80a";
}
.adminlib-close:before {
  content: "\e810";
}
.adminlib-captcha:before {
  content: "\e820";
}
.adminlib-checkbox:before {
  content: "\e822";
}
.adminlib-divider:before {
  content: "\e828";
}
.adminlib-radio:before {
  content: "\e84e";
}
.adminlib-toggle:before {
  content: "\e869";
}
.adminlib-text:before {
  content: "\e86d";
}
.adminlib-section:before {
  content: "\e898";
}
.adminlib-book:before {
  content: "\e8f0";
}
.adminlib-plus-circle:before {
  content: "\e8f7";
}
.adminlib-withdraw:before {
  content: "\e902";
}
.adminlib-pdf:before {
  content: "\e903";
}
.adminlib-moon:before {
  content: "\e904";
}
.adminlib-light:before {
  content: "\e905";
}
.adminlib-gemini:before {
  content: "\e906";
}
.adminlib-openrouter:before {
  content: "\e907";
}
.adminlib-chatgpt:before {
  content: "\e908";
}
.adminlib-ai:before {
  content: "\e909";
}
.adminlib-plus:before {
  content: "\e90a";
}
.adminlib-thumb-up:before {
  content: "\e90b";
}
.adminlib-coding:before {
  content: "\e90c";
}
.adminlib-twitter:before {
  content: "\e90d";
}
.adminlib-instagram:before {
  content: "\e90e";
}
.adminlib-wallet-open:before {
  content: "\e90f";
}
.adminlib-wallet-in:before {
  content: "\e910";
}
.adminlib-wallet:before {
  content: "\e911";
}
.adminlib-mapbox:before {
  content: "\e912";
}
.adminlib-google:before {
  content: "\e913";
}
.adminlib-close-delete:before {
  content: "\e914";
}
.adminlib-under-review:before {
  content: "\e915";
}
.adminlib-rejected:before {
  content: "\e916";
}
.adminlib-rejecte:before {
  content: "\e917";
}
.adminlib-active:before {
  content: "\e918";
}
.adminlib-recycle:before {
  content: "\e919";
}
.adminlib-resources:before {
  content: "\e91a";
}
.adminlib-coupon:before {
  content: "\e91b";
}
.adminlib-wallet1:before {
  content: "\e91c";
}
.adminlib-sales:before {
  content: "\e91d";
}
.adminlib-question:before {
  content: "\e91e";
}
.adminlib-facilitator:before {
  content: "\e91f";
}
.adminlib-edit:before {
  content: "\e920";
}
.adminlib-direct-transaction:before {
  content: "\e921";
}
.adminlib-geo-location:before {
  content: "\e922";
}
.adminlib-product-addon:before {
  content: "\e923";
}
.adminlib-advertise-product:before {
  content: "\e924";
}
.adminlib-marketplace-gateway:before {
  content: "\e925";
}
.adminlib-marketplace-fee:before {
  content: "\e926";
}
.adminlib-compliance:before {
  content: "\e927";
}
.adminlib-lock:before {
  content: "\e928";
}
.adminlib-pros-and-cons:before {
  content: "\e929";
}
.adminlib-like:before {
  content: "\e92a";
}
.adminlib-home:before {
  content: "\e92b";
}
.adminlib-dollar:before {
  content: "\e92c";
}
.adminlib-bank:before {
  content: "\e92d";
}
.adminlib-question-answer:before {
  content: "\e92e";
}
.adminlib-zone-wise-shipping:before {
  content: "\e92f";
}
.adminlib-approval:before {
  content: "\e930";
}
.adminlib-cash:before {
  content: "\e931";
}
.adminlib-view-files:before {
  content: "\e932";
}
.adminlib-automation:before {
  content: "\e933";
}
.adminlib-shipping:before {
  content: "\e934";
}
.adminlib-delivery-person:before {
  content: "\e935";
}
.adminlib-delivery:before {
  content: "\e936";
}
.adminlib-tax-compliance:before {
  content: "\e937";
}
.adminlib-legal-compliance:before {
  content: "\e938";
}
.adminlib-seller-verification:before {
  content: "\e939";
}
.adminlib-new:before {
  content: "\e93a";
}
.adminlib-feature:before {
  content: "\e93b";
}
.adminlib-franchises-module:before {
  content: "\e93c";
}
.adminlib-pending:before {
  content: "\e93d";
}
.adminlib-version-control:before {
  content: "\e93e";
}
.adminlib-setup:before {
  content: "\e93f";
}
.adminlib-out-of-stock:before {
  content: "\e940";
}
.adminlib-migration:before {
  content: "\e941";
}
.adminlib-document:before {
  content: "\e942";
}
.adminlib-database:before {
  content: "\e943";
}
.adminlib-store-reject:before {
  content: "\e944";
}
.adminlib-store-reactivated:before {
  content: "\e945";
}
.adminlib-refund:before {
  content: "\e946";
}
.adminlib-order-shipped:before {
  content: "\e947";
}
.adminlib-order-completed:before {
  content: "\e948";
}
.adminlib-wordpress:before {
  content: "\e949";
}
.adminlib-profile:before {
  content: "\e94a";
}
.adminlib-forum:before {
  content: "\e94b";
}
.adminlib-faq:before {
  content: "\e94c";
}
.adminlib-moon-fill:before {
  content: "\e94d";
}
.adminlib-accommodation:before {
  content: "\ef35";
}
.adminlib-advance-custom-field:before {
  content: "\ef36";
}
.adminlib-announcement:before {
  content: "\ef37";
}
.adminlib-auction:before {
  content: "\ef38";
}
.adminlib-bank-payment:before {
  content: "\ef39";
}
.adminlib-booking:before {
  content: "\ef3a";
}
.adminlib-buddypress:before {
  content: "\ef3b";
}
.adminlib-bundle:before {
  content: "\ef3c";
}
.adminlib-business-hours:before {
  content: "\ef3d";
}
.adminlib-country-shipping:before {
  content: "\ef3e";
}
.adminlib-customer-support:before {
  content: "\ef3f";
}
.adminlib-distance-shipping:before {
  content: "\ef40";
}
.adminlib-elementor:before {
  content: "\ef41";
}
.adminlib-external:before {
  content: "\ef42";
}
.adminlib-follow-store:before {
  content: "\ef43";
}
.adminlib-store-review:before {
  content: "\ef44";
}
.adminlib-store-inventory:before {
  content: "\ef45";
}
.adminlib-geo-my-wp:before {
  content: "\ef46";
}
.adminlib-grouped:before {
  content: "\ef47";
}
.adminlib-identity-verification:before {
  content: "\ef48";
}
.adminlib-import-export:before {
  content: "\ef49";
}
.adminlib-invoice:before {
  content: "\ef4a";
}
.adminlib-knowladgebase:before {
  content: "\ef4b";
}
.adminlib-live-chat:before {
  content: "\ef4c";
}
.adminlib-mangopay:before {
  content: "\ef4d";
}
.adminlib-marketplace-membership:before {
  content: "\ef4e";
}
.adminlib-marketplace-refund:before {
  content: "\ef4f";
}
.adminlib-messaging:before {
  content: "\ef50";
}
.adminlib-paypal-marketplace:before {
  content: "\ef51";
}
.adminlib-paypal-masspay:before {
  content: "\ef52";
}
.adminlib-paypal-payout:before {
  content: "\ef53";
}
.adminlib-per-product-shipping:before {
  content: "\ef54";
}
.adminlib-woocommerce:before {
  content: "\ef55";
}
.adminlib-razorpay:before {
  content: "\ef56";
}
.adminlib-rental:before {
  content: "\ef57";
}
.adminlib-report-abuse:before {
  content: "\ef58";
}
.adminlib-return-and-warrenty:before {
  content: "\ef59";
}
.adminlib-simple:before {
  content: "\ef5a";
}
.adminlib-spmv:before {
  content: "\ef5b";
}
.adminlib-staff-manager:before {
  content: "\ef5c";
}
.adminlib-store-analytics:before {
  content: "\ef5d";
}
.adminlib-store-location:before {
  content: "\ef5e";
}
.adminlib-store-policy:before {
  content: "\ef5f";
}
.adminlib-appointment:before {
  content: "\ef60";
}
.adminlib-seller-analytics:before {
  content: "\ef61";
}
.adminlib-store-seo:before {
  content: "\ef62";
}
.adminlib-stripe-connect:before {
  content: "\ef63";
}
.adminlib-stripe-marketplace:before {
  content: "\ef64";
}
.adminlib-subscription:before {
  content: "\ef65";
}
.adminlib-toolset-types:before {
  content: "\ef66";
}
.adminlib-vacation:before {
  content: "\ef67";
}
.adminlib-variable:before {
  content: "\ef68";
}
.adminlib-vendor-shipping:before {
  content: "\ef69";
}
.adminlib-weight-shipping:before {
  content: "\ef6a";
}
.adminlib-wholesale:before {
  content: "\ef6b";
}
.adminlib-wp-affiliate:before {
  content: "\ef6c";
}
.adminlib-wpml:before {
  content: "\ef6d";
}
.adminlib-zone-shipping:before {
  content: "\ef6e";
}
.adminlib-woocommerce-table-rate-shipping:before {
  content: "\ef6f";
}
.adminlib-product-options:before {
  content: "\ef70";
}
.adminlib-min-max:before {
  content: "\ef71";
}
.adminlib-shipstation-module:before {
  content: "\ef72";
}
.adminlib-advertisement:before {
  content: "\ef73";
}
.adminlib-gift-card:before {
  content: "\ef74";
}
.adminlib-rental-pro:before {
  content: "\ef75";
}
.adminlib-store-support:before {
  content: "\ef76";
}
.adminlib-switch-store:before {
  content: "\ef77";
}
.adminlib-filter:before {
  content: "\ef78";
}
.adminlib-bulk-action:before {
  content: "\ef79";
}
.adminlib-youtube:before {
  content: "\ef7a";
}
.adminlib-verification9:before {
  content: "\ef7b";
}
.adminlib-verification8:before {
  content: "\ef7c";
}
.adminlib-verification7:before {
  content: "\ef7d";
}
.adminlib-review:before {
  content: "\ef7e";
}
.adminlib-report:before {
  content: "\ef7f";
}
.adminlib-payment:before {
  content: "\ef80";
}
.adminlib-finance:before {
  content: "\ef81";
}
.adminlib-google1:before {
  content: "\ef82";
}
.adminlib-cohort:before {
  content: "\ef83";
}
.adminlib-verification5:before {
  content: "\ef84";
}
.adminlib-verification3:before {
  content: "\ef85";
}
.adminlib-verification2:before {
  content: "\ef86";
}
.adminlib-verification1:before {
  content: "\ef87";
}
.adminlib-twitter1:before {
  content: "\ef88";
}
.adminlib-social-share:before {
  content: "\ef89";
}
.adminlib-single-product:before {
  content: "\ef8a";
}
.adminlib-product:before {
  content: "\ef8b";
}
.adminlib-privacy:before {
  content: "\ef8c";
}
.adminlib-onboarding:before {
  content: "\ef8d";
}
.adminlib-multi-product:before {
  content: "\ef8e";
}
.adminlib-menu-manager:before {
  content: "\ef8f";
}
.adminlib-marketplace:before {
  content: "\ef90";
}
.adminlib-location:before {
  content: "\ef91";
}
.adminlib-linkedin-border:before {
  content: "\ef92";
}
.adminlib-linkedin:before {
  content: "\ef93";
}
.adminlib-form:before {
  content: "\ef94";
}
.adminlib-facebook-fill:before {
  content: "\ef95";
}
.adminlib-facebook:before {
  content: "\ef96";
}
.adminlib-customer-service:before {
  content: "\ef97";
}
.adminlib-booking1:before {
  content: "\ef98";
}
.adminlib-bar-chart:before {
  content: "\ef99";
}
.adminlib-appointments:before {
  content: "\ef9a";
}
.adminlib-appearance:before {
  content: "\ef9b";
}
.adminlib-advertisement1:before {
  content: "\ef9c";
}
.adminlib-actions:before {
  content: "\ef9d";
}
.adminlib-minus:before {
  content: "\ef9e";
}
.adminlib-minus-bold:before {
  content: "\ef9f";
}
.adminlib-module:before {
  content: "\efa0";
}
.adminlib-membership:before {
  content: "\efa1";
}
.adminlib-commission:before {
  content: "\efa2";
}
.adminlib-drag:before {
  content: "\efa3";
}
.adminlib-notification:before {
  content: "\efa4";
}
.adminlib-pro-tag:before {
  content: "\efa5";
}
.adminlib-add-product:before {
  content: "\efa6";
}
.adminlib-update-product:before {
  content: "\efa7";
}
.adminlib-pagination-right-arrow:before {
  content: "\efa8";
}
.adminlib-pagination-left-arrow:before {
  content: "\efa9";
}
.adminlib-pagination-next-arrow:before {
  content: "\efaa";
}
.adminlib-pagination-prev-arrow:before {
  content: "\efab";
}
.adminlib-refresh:before {
  content: "\efac";
}
.adminlib-refresh-buttons:before {
  content: "\efad";
}
.adminlib-centralized-connections:before {
  content: "\efae";
}
.adminlib-desktop-pc-valuation:before {
  content: "\efaf";
}
.adminlib-rules:before {
  content: "\efb0";
}
.adminlib-social-media-content:before {
  content: "\efb1";
}
.adminlib-user-network-icon:before {
  content: "\efb2";
}
.adminlib-price:before {
  content: "\efb3";
}
.adminlib-catalog:before {
  content: "\efb4";
}
.adminlib-contact-form:before {
  content: "\efb5";
}
.adminlib-exclude:before {
  content: "\efb6";
}
.adminlib-enquiry:before {
  content: "\efb7";
}
.adminlib-quote:before {
  content: "\efb8";
}
.adminlib-wholesale1:before {
  content: "\efb9";
}
.adminlib-subscription-courses:before {
  content: "\efba";
}
.adminlib-mailchimp:before {
  content: "\efbc";
}
.adminlib-mail:before {
  content: "\efbd";
}
.adminlib-file-submission:before {
  content: "\efbe";
}
.adminlib-submission-message:before {
  content: "\efbf";
}
.adminlib-setting-fill:before {
  content: "\efc0";
}
.adminlib-cross:before {
  content: "\efc1";
}
.adminlib-icon-yes:before {
  content: "\efc2";
}
.adminlib-calendar:before {
  content: "\efc3";
}
.adminlib-menu:before {
  content: "\efc4";
}
.adminlib-send:before {
  content: "\efc5";
}
.adminlib-link:before {
  content: "\efc6";
}
.adminlib-resize:before {
  content: "\efc7";
}
.adminlib-crop-free:before {
  content: "\efc8";
}
.adminlib-text-fields:before {
  content: "\efc9";
}
.adminlib-support:before {
  content: "\efca";
}
.adminlib-create:before {
  content: "\efcb";
}
.adminlib-arrow-right:before {
  content: "\efcc";
}
.adminlib-button-appearance:before {
  content: "\efcd";
}
.adminlib-enquiry-form-tab:before {
  content: "\efce";
}
.adminlib-exclusion-tab:before {
  content: "\efcf";
}
.adminlib-general-tab:before {
  content: "\efd0";
}
.adminlib-live-preview-tab:before {
  content: "\efd1";
}
.adminlib-pro-tab:before {
  content: "\efd2";
}
.adminlib-next:before {
  content: "\efd3";
}
.adminlib-previous:before {
  content: "\efd4";
}
.adminlib-select:before {
  content: "\efd5";
}
.adminlib-success-notification:before {
  content: "\efd6";
}
.adminlib-drop-down:before {
  content: "\efd7";
}
.adminlib-vendor-form-delete:before {
  content: "\efd8";
}
.adminlib-vendor-form-copy:before {
  content: "\efd9";
}
.adminlib-vendor-form-add:before {
  content: "\efda";
}
.adminlib-select-question-type:before {
  content: "\efdb";
}
.adminlib-form-url:before {
  content: "\efdc";
}
.adminlib-form-textbox:before {
  content: "\efdd";
}
.adminlib-form-textarea:before {
  content: "\efde";
}
.adminlib-form-address:before {
  content: "\efdf";
}
.adminlib-form-address02:before {
  content: "\efe0";
}
.adminlib-form-attachment:before {
  content: "\efe1";
}
.adminlib-form-checkboxes:before {
  content: "\efe2";
}
.adminlib-paint-brush:before {
  content: "\efe3";
}
.adminlib-form-city:before {
  content: "\efe4";
}
.adminlib-form-country:before {
  content: "\efe5";
}
.adminlib-form-dropdown:before {
  content: "\efe6";
}
.adminlib-form-email:before {
  content: "\efe7";
}
.adminlib-form-multi-select:before {
  content: "\efe8";
}
.adminlib-form-paypal-email:before {
  content: "\efe9";
}
.adminlib-form-phone:before {
  content: "\efea";
}
.adminlib-form-postcode:before {
  content: "\efeb";
}
.adminlib-form-radio:before {
  content: "\efec";
}
.adminlib-form-recaptcha:before {
  content: "\efed";
}
.adminlib-form-section:before {
  content: "\efee";
}
.adminlib-form-state:before {
  content: "\efef";
}
.adminlib-star-icon:before {
  content: "\eff0";
}
.adminlib-form-store-description:before {
  content: "\eff1";
}
.adminlib-folder-open:before {
  content: "\eff2";
}
.adminlib-undo:before {
  content: "\eff3";
}
.adminlib-dropdown-checklist:before {
  content: "\eff4";
}
.adminlib-multi-select:before {
  content: "\eff5";
}
.adminlib-captcha-automatic-code:before {
  content: "\eff6";
}
.adminlib-cloud-upload:before {
  content: "\eff7";
}
.adminlib-help:before {
  content: "\eff8";
}
.adminlib-t-letter-bold:before {
  content: "\eff9";
}
.adminlib-clock:before {
  content: "\effa";
}
.adminlib-alarm:before {
  content: "\effb";
}
.adminlib-thumbs-ok:before {
  content: "\effc";
}
.adminlib-preview:before {
  content: "\effd";
}
.adminlib-paid:before {
  content: "\effe";
}
.adminlib-order:before {
  content: "\efff";
}
.adminlib-multiple-inputs:before {
  content: "\f000";
}
.adminlib-global-community:before {
  content: "\f001";
}
.adminlib-experiment-results:before {
  content: "\f002";
}
.adminlib-copy:before {
  content: "\f003";
}
.adminlib-cogs-on-wheels:before {
  content: "\f004";
}
.adminlib-blocks:before {
  content: "\f005";
}
.adminlib-analytics:before {
  content: "\f006";
}
.adminlib-setting:before {
  content: "\f007";
}
.adminlib-star-o:before {
  content: "\f008";
}
.adminlib-star:before {
  content: "\f009";
}
.adminlib-pushpin:before {
  content: "\f00a";
}
.adminlib-arrow-left:before {
  content: "\f00b";
}
.adminlib-arrow-up:before {
  content: "\f00c";
}
.adminlib-arrow-down:before {
  content: "\f00d";
}
.adminlib-import:before {
  content: "\f00e";
}
.adminlib-export:before {
  content: "\f00f";
}
.adminlib-single-sign-on:before {
  content: "\f010";
}
.adminlib-gift-a-course:before {
  content: "\f011";
}
.adminlib-classroom-enrollment:before {
  content: "\f012";
}
.adminlib-bulk-course-sync:before {
  content: "\f013";
}
.adminlib-smart-course-sync1:before {
  content: "\f014";
}
.adminlib-web-page-website:before {
  content: "\f015";
}
.adminlib-keyboard-arrow-down:before {
  content: "\f016";
}
.adminlib-unread:before {
  content: "\f017";
}
.adminlib-eye:before {
  content: "\f018";
}
.adminlib-eye-blocked:before {
  content: "\f019";
}
.adminlib-subscription-details:before {
  content: "\f01a";
}
.adminlib-subscription-dashboard:before {
  content: "\f01b";
}
.adminlib-star-notifima:before {
  content: "\f01c";
}
.adminlib-recaptcha-support-copy:before {
  content: "\f01d";
}
.adminlib-export-subscribers:before {
  content: "\f01f";
}
.adminlib-export-import-stock-01:before {
  content: "\f020";
}
.adminlib-double-opt-in:before {
  content: "\f021";
}
.adminlib-ban-spam-mail:before {
  content: "\f022";
}
.adminlib-move:before {
  content: "\e5402";
}
.adminlib-delete:before {
  content: "\e5800";
}
.adminlib-more-vertical:before {
  content: "\e8051";
}
.adminlib-attachment:before {
  content: "\e8598";
}
.adminlib-dots-three-horizontal:before {
  content: "\e8eee";
}
.adminlib-credit-card:before {
  content: "\e9502";
}