@font-face {
  font-family: 'adminlibrary';
  src:  url('./assets/fonts/adminlibrary.eot?xfjp3c');
  src:  url('./assets/fonts/adminlibrary.eot?xfjp3c#iefix') format('embedded-opentype'),
    url('./assets/fonts/adminlibrary.ttf?xfjp3c') format('truetype'),
    url('./assets/fonts/adminlibrary.woff?xfjp3c') format('woff'),
    url('./assets/fonts/adminlibrary.svg?xfjp3c#adminlibrary') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="adminlib-"], [class*=" adminlib-"], input::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'adminlibrary' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adminlib-minus:before {
  content: "\e900";
}
.adminlib-minus-bold:before {
  content: "\e901";
}
.adminlib-module:before {
  content: "\e902";
}
.adminlib-membership:before {
  content: "\e903";
}
.adminlib-commission:before {
  content: "\e904";
}
.adminlib-cart:before {
  content: "\8907";
}
.adminlib-person:before {
  content: "\e520";
}
.adminlib-tools:before {
  content: "\e700";
}
.adminlib-supervised-user-circle:before {
  content: "\e702";
}
.adminlib-vpn-key:before {
  content: "\e704";
}
.adminlib-user-circle:before {
  content: "\e800";
}
.adminlib-error:before {
  content: "\e802";
}
.adminlib-security:before {
  content: "\e803";
}
.adminlib-storefront:before {
  content: "\e804";
}
.adminlib-editor-list-ul:before {
  content: "\e805";
}
.adminlib-search:before {
  content: "\e806";
}
.adminlib-info:before {
  content: "\e807";
}
.adminlib-check:before {
  content: "\e809";
}
.adminlib-smile-o:before {
  content: "\e80a";
}
.adminlib-close:before {
  content: "\e810";
}
.adminlib-captcha:before {
  content: "\e820";
}
.adminlib-checkbox:before {
  content: "\e822";
}
.adminlib-divider:before {
  content: "\e828";
}
.adminlib-radio:before {
  content: "\e84e";
}
.adminlib-toggle:before {
  content: "\e869";
}
.adminlib-text:before {
  content: "\e86d";
}
.adminlib-section:before {
  content: "\e898";
}
.adminlib-book:before {
  content: "\e8f0";
}
.adminlib-plus-circle-o:before {
  content: "\e8f7";
}
.adminlib-drag:before {
  content: "\e905";
}
.adminlib-notification:before {
  content: "\e906";
}
.adminlib-pro-tag:before {
  content: "\e907";
}
.adminlib-add-product:before {
  content: "\e908";
}
.adminlib-update-product:before {
  content: "\e909";
}
.adminlib-pagination-right-arrow:before {
  content: "\e90a";
}
.adminlib-pagination-left-arrow:before {
  content: "\e90b";
}
.adminlib-pagination-next-arrow:before {
  content: "\e90c";
}
.adminlib-pagination-prev-arrow:before {
  content: "\e90d";
}
.adminlib-refresh:before {
  content: "\e90e";
}
.adminlib-refresh-buttons:before {
  content: "\e90f";
}
.adminlib-centralized-connections:before {
  content: "\e910";
}
.adminlib-desktop-pc-valuation:before {
  content: "\e911";
}
.adminlib-rules:before {
  content: "\e912";
}
.adminlib-social-media-content:before {
  content: "\e913";
}
.adminlib-user-network-icon:before {
  content: "\e914";
}
.adminlib-price:before {
  content: "\e915";
}
.adminlib-catalog:before {
  content: "\e916";
}
.adminlib-contact-form:before {
  content: "\e917";
}
.adminlib-exclude:before {
  content: "\e918";
}
.adminlib-enquiry:before {
  content: "\e919";
}
.adminlib-quote:before {
  content: "\e91a";
}
.adminlib-wholesale:before {
  content: "\e91b";
}
.adminlib-Subscription-Courses:before {
  content: "\e91c";
}
.adminlib-wholesal:before {
  content: "\e91d";
}
.adminlib-mailchimp:before {
  content: "\e91e";
}
.adminlib-mail:before {
  content: "\e91f";
}
.adminlib-file-submission:before {
  content: "\e920";
}
.adminlib-submission-message:before {
  content: "\e921";
}
.adminlib-setting-fill:before {
  content: "\e922";
}
.adminlib-cross:before {
  content: "\e923";
}
.adminlib-icon-yes:before {
  content: "\e924";
}
.adminlib-calendar:before {
  content: "\e925";
}
.adminlib-menu:before {
  content: "\e926";
}
.adminlib-send:before {
  content: "\e927";
}
.adminlib-link:before {
  content: "\e928";
}
.adminlib-resize:before {
  content: "\e929";
}
.adminlib-crop-free:before {
  content: "\e92a";
}
.adminlib-text-fields:before {
  content: "\e92b";
}
.adminlib-support:before {
  content: "\e92c";
}
.adminlib-create:before {
  content: "\e92d";
}
.adminlib-arrow-right:before {
  content: "\e92e";
}
.adminlib-button-appearance:before {
  content: "\e92f";
}
.adminlib-enquiry-form-tab:before {
  content: "\e930";
}
.adminlib-exclusion-tab:before {
  content: "\e931";
}
.adminlib-general-tab:before {
  content: "\e932";
}
.adminlib-live-preview-tab:before {
  content: "\e933";
}
.adminlib-pro-tab:before {
  content: "\e934";
}
.adminlib-next:before {
  content: "\e935";
}
.adminlib-previous:before {
  content: "\e936";
}
.adminlib-select:before {
  content: "\e937";
}
.adminlib-success-notification:before {
  content: "\e938";
}
.adminlib-drop-down:before {
  content: "\e939";
}
.adminlib-vendor-form-delete:before {
  content: "\e93a";
}
.adminlib-vendor-form-copy:before {
  content: "\e93b";
}
.adminlib-vendor-form-add:before {
  content: "\e93c";
}
.adminlib-select-question-type:before {
  content: "\e93d";
}
.adminlib-form-url:before {
  content: "\e93e";
}
.adminlib-form-textbox:before {
  content: "\e93f";
}
.adminlib-form-textarea:before {
  content: "\e940";
}
.adminlib-form-address01:before {
  content: "\e941";
}
.adminlib-form-address02:before {
  content: "\e942";
}
.adminlib-form-attachment:before {
  content: "\e943";
}
.adminlib-form-checkboxes:before {
  content: "\e944";
}
.adminlib-paint-brush:before {
  content: "\e945";
}
.adminlib-form-city:before {
  content: "\e946";
}
.adminlib-form-country:before {
  content: "\e947";
}
.adminlib-form-dropdown:before {
  content: "\e948";
}
.adminlib-form-email:before {
  content: "\e949";
}
.adminlib-form-multi-select:before {
  content: "\e94a";
}
.adminlib-form-paypal-email:before {
  content: "\e94b";
}
.adminlib-form-phone:before {
  content: "\e94c";
}
.adminlib-form-postcode:before {
  content: "\e94d";
}
.adminlib-form-radio:before {
  content: "\e94e";
}
.adminlib-form-recaptcha:before {
  content: "\e94f";
}
.adminlib-form-section:before {
  content: "\e950";
}
.adminlib-form-state:before {
  content: "\e951";
}
.adminlib-star-icon:before {
  content: "\e952";
}
.adminlib-form-store-description:before {
  content: "\e953";
}
.adminlib-folder-open:before {
  content: "\e954";
}
.adminlib-undo:before {
  content: "\e955";
}
.adminlib-dropdown-checklist:before {
  content: "\e956";
}
.adminlib-multi-select:before {
  content: "\e957";
}
.adminlib-captcha-automatic-code:before {
  content: "\e958";
}
.adminlib-cloud-upload:before {
  content: "\e959";
}
.adminlib-help:before {
  content: "\e95a";
}
.adminlib-t-letter-bold:before {
  content: "\e95b";
}
.adminlib-clock2:before {
  content: "\e95c";
}
.adminlib-alarm:before {
  content: "\e95d";
}
.adminlib-thumbs-ok:before {
  content: "\e95e";
}
.adminlib-preview:before {
  content: "\e95f";
}
.adminlib-paid:before {
  content: "\e960";
}
.adminlib-order:before {
  content: "\e961";
}
.adminlib-multiple-inputs:before {
  content: "\e962";
}
.adminlib-global-community:before {
  content: "\e963";
}
.adminlib-experiment-results:before {
  content: "\e964";
}
.adminlib-copy:before {
  content: "\e965";
}
.adminlib-cogs-on-wheels:before {
  content: "\e966";
}
.adminlib-blocks:before {
  content: "\e967";
}
.adminlib-analytics:before {
  content: "\e968";
}
.adminlib-setting:before {
  content: "\e969";
}
.adminlib-star-o:before {
  content: "\e96a";
}
.adminlib-star:before {
  content: "\e96b";
}
.adminlib-pushpin:before {
  content: "\e96c";
}
.adminlib-arrow-left:before {
  content: "\e96d";
}
.adminlib-arrow-up:before {
  content: "\e96e";
}
.adminlib-arrow-down:before {
  content: "\e96f";
}
.adminlib-import:before {
  content: "\e970";
}
.adminlib-export:before {
  content: "\e971";
}
.adminlib-Single-Sign-On:before {
  content: "\e978";
}
.adminlib-Gift-a-Course:before {
  content: "\e979";
}
.adminlib-Classroom-Enrollment:before {
  content: "\e97a";
}
.adminlib-Bulk-Course-Sync:before {
  content: "\e97b";
}
.adminlib-Smart-Course-Sync1:before {
  content: "\e97c";
}
.adminlib-web-page-website:before {
  content: "\e97d";
}
.adminlib-keyboard-arrow-down:before {
  content: "\e97e";
}
.adminlib-unread:before {
  content: "\e9ba";
}
.adminlib-eye:before {
  content: "\e9ce";
}
.adminlib-eye-blocked:before {
  content: "\e9d1";
}
.adminlib-move:before {
  content: "\e5402";
}
.adminlib-delete:before {
  content: "\e5800";
}
.adminlib-more-vertical:before {
  content: "\e8051";
}
.adminlib-attachment:before {
  content: "\e8598";
}
.adminlib-dots-three-horizontal:before {
  content: "\e8eee";
}
.adminlib-credit-card:before {
  content: "\e9502";
}