@font-face {
  font-family: AdminLibrary;
  src: url('../assets/fonts/AdminLibrary.eot');
  src: url('../assets/fonts/AdminLibrary.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/AdminLibrary.woff') format('woff'),
       url('../assets/fonts/AdminLibrary.ttf') format('truetype'),
       url('../assets/fonts/AdminLibrary.svg#AdminLibrary') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="adminlib-"], [class*=" adminlib-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: AdminLibrary !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adminlib-::before {
  content: "\e964";
}

.adminlib-arrow-next::before {
  content: "\e965";
}

.adminlib-arrow-previous::before {
  content: "\e966";
}

.adminlib-left-arrow::before {
  content: "\e967";
}

.adminlib-cart::before {
  content: "\8907";
}

.adminlib-person::before {
  content: "\e520";
}

.adminlib-tools::before {
  content: "\e700";
}

.adminlib-supervised-user-circle::before {
  content: "\e702";
}

.adminlib-vpn-key::before {
  content: "\e704";
}

.adminlib-user-circle::before {
  content: "\e800";
}

.adminlib-error::before {
  content: "\e802";
}

.adminlib-security::before {
  content: "\e803";
}

.adminlib-storefront::before {
  content: "\e804";
}

.adminlib-editor-list-ul::before {
  content: "\e805";
}

.adminlib-search::before {
  content: "\e806";
}

.adminlib-info::before {
  content: "\e807";
}

.adminlib-check::before {
  content: "\e809";
}

.adminlib-smile-o::before {
  content: "\e80a";
}

.adminlib-close::before {
  content: "\e810";
}

.adminlib-captcha::before {
  content: "\e820";
}

.adminlib-checkbox::before {
  content: "\e822";
}

.adminlib-divider::before {
  content: "\e828";
}

.adminlib-radio::before {
  content: "\e84e";
}

.adminlib-toggle::before {
  content: "\e869";
}

.adminlib-text::before {
  content: "\e86d";
}

.adminlib-section::before {
  content: "\e898";
}

.adminlib-book::before {
  content: "\e8f0";
}

.adminlib-plus-circle-o::before {
  content: "\e8f7";
}

.adminlib-centralized-connections::before {
  content: "\e900";
}

.adminlib-desktop-pc-valuation::before {
  content: "\e901";
}

.adminlib-dynamic-pricing::before {
  content: "\e902";
}

.adminlib-uniE903::before {
  content: "\e903";
}

.adminlib-social-media-content::before {
  content: "\e906";
}

.adminlib-user-network-icon::before {
  content: "\e907";
}

.adminlib-price::before {
  content: "\e908";
}

.adminlib-catalog::before {
  content: "\e909";
}

.adminlib-contact-form::before {
  content: "\e90a";
}

.adminlib-exclude::before {
  content: "\e90b";
}

.adminlib-inquiry::before {
  content: "\e90c";
}

.adminlib-price-quote-icon::before {
  content: "\e90d";
}

.adminlib-warehousing-icon::before {
  content: "\e90e";
}

.adminlib-web-page-website::before {
  content: "\e90f";
}

.adminlib-wholesale::before {
  content: "\e910";
}

.adminlib-mailchimp::before {
  content: "\e911";
}

.adminlib-mail::before {
  content: "\e912";
}

.adminlib-file-submission::before {
  content: "\e913";
}

.adminlib-submission-message::before {
  content: "\e914";
}

.adminlib-settings::before {
  content: "\e915";
}

.adminlib-cross::before {
  content: "\e916";
  cursor: pointer;
}

.adminlib-icon-yes::before {
  content: "\e917";
}

.adminlib-arrow-right::before {
  content: "\e918";
}

.adminlib-calendar::before {
  content: "\e919";
}

.adminlib-arrow-left::before {
  content: "\e91a";
}

.adminlib-arrow-up::before {
  content: "\e91b";
}

.adminlib-arrow-down::before {
  content: "\e91c";
}

.adminlib-menu::before {
  content: "\e91d";
}

.adminlib-send::before {
  content: "\e91e";
}

.adminlib-link::before {
  content: "\e91f";
}

.adminlib-resize::before {
  content: "\e920";
}

.adminlib-crop-free::before {
  content: "\e921";
}

.adminlib-text-fields::before {
  content: "\e922";
}

.adminlib-support::before {
  content: "\e923";
}

.adminlib-create::before {
  content: "\e924";
}

.adminlib-keyboard-arrow-down::before {
  content: "\e925";
}

.adminlib-button-appearance::before {
  content: "\e926";
}

.adminlib-enquiry-form-tab::before {
  content: "\e927";
}

.adminlib-exclusion-tab::before {
  content: "\e928";
}

.adminlib-general-tab::before {
  content: "\e929";
}

.adminlib-live-preview-tab::before {
  content: "\e92a";
}

.adminlib-pro-tab::before {
  content: "\e92b";
}

.adminlib-next::before {
  content: "\e92c";
}

.adminlib-previous::before {
  content: "\e92d";
}

.adminlib-select::before {
  content: "\e92e";
}

.adminlib-success-notification::before {
  content: "\e92f";
}

.adminlib-drop-down::before {
  content: "\e930";
}

.adminlib-vendor-form-delete::before {
  content: "\e931";
}

.adminlib-vendor-form-copy::before {
  content: "\e932";
}

.adminlib-vendor-form-add::before {
  content: "\e933";
}

.adminlib-select-question-type::before {
  content: "\e934";
}

.adminlib-form-url::before {
  content: "\e935";
}

.adminlib-form-textbox::before {
  content: "\e936";
}

.adminlib-form-textarea::before {
  content: "\e937";
}

.adminlib-form-address01::before {
  content: "\e938";
}

.adminlib-form-address02::before {
  content: "\e939";
}

.adminlib-form-attachment::before {
  content: "\e93a";
}

.adminlib-form-checkboxes::before {
  content: "\e93b";
}

.adminlib-paint-brush::before {
  content: "\e93c";
}

.adminlib-form-city::before {
  content: "\e93d";
}

.adminlib-form-country::before {
  content: "\e93e";
}

.adminlib-form-dropdown::before {
  content: "\e93f";
}

.adminlib-form-email::before {
  content: "\e940";
}

.adminlib-form-multi-select::before {
  content: "\e941";
}

.adminlib-form-paypal-email::before {
  content: "\e942";
}

.adminlib-form-phone::before {
  content: "\e943";
}

.adminlib-form-postcode::before {
  content: "\e944";
}

.adminlib-form-radio::before {
  content: "\e945";
}

.adminlib-form-recaptcha::before {
  content: "\e946";
}

.adminlib-form-section::before {
  content: "\e947";
}

.adminlib-form-state::before {
  content: "\e948";
}

.adminlib-star-icon::before {
  content: "\e949";
}

.adminlib-form-store-description::before {
  content: "\e94a";
}

.adminlib-folder-open::before {
  content: "\e94b";
}

.adminlib-undo::before {
  content: "\e94c";
}

.adminlib-dropdown-checklist::before {
  content: "\e94d";
}

.adminlib-multi-select::before {
  content: "\e94e";
}

.adminlib-captcha-automatic-code::before {
  content: "\e94f";
}

.adminlib-cloud-upload::before {
  content: "\e950";
}

.adminlib-help::before {
  content: "\e951";
}

.adminlib-t-letter-bold::before {
  content: "\e952";
}

.adminlib-clock2::before {
  content: "\e953";
}

.adminlib-alarm::before {
  content: "\e954";
}

.adminlib-thumbs-ok::before {
  content: "\e955";
}

.adminlib-preview::before {
  content: "\e956";
}

.adminlib-paid::before {
  content: "\e957";
}

.adminlib-order::before {
  content: "\e958";
}

.adminlib-multiple-inputs::before {
  content: "\e959";
}

.adminlib-global-community::before {
  content: "\e95a";
}

.adminlib-experiment-results::before {
  content: "\e95b";
}

.adminlib-copy::before {
  content: "\e95c";
}

.adminlib-cogs-on-wheels::before {
  content: "\e95d";
}

.adminlib-blocks::before {
  content: "\e95e";
}

.adminlib-analytics::before {
  content: "\e95f";
}

.adminlib-unread::before {
  content: "\e9ba";
}

.adminlib-eye::before {
  content: "\e9ce";
}

.adminlib-eye-blocked::before {
  content: "\e9d1";
}

.adminlib-text-field::before {
  content: "\e5201";
}

.adminlib-move::before {
  content: "\e5402";
}

.adminlib-delete::before {
  content: "\e5800";
}

.adminlib-more-vertical::before {
  content: "\e8051";
}

.adminlib-attachment::before {
  content: "\e8598";
}

.adminlib-dots-three-horizontal::before {
  content: "\e8eee";
}

.adminlib-credit-card::before {
  content: "\e9502";
}

.adminlib-setting::before {
  content: "\e960";
}

.adminlib-star::before {
  content: "\e961";
}

.adminlib-star-fill::before {
  content: "\e962";
}

.adminlib-pin::before {
  content: "\e963";
}
