@font-face {
  font-family: adminfonts;
  src:  url('./assets/fonts/adminfonts.eot?xfjp3c');
  src:  url('./assets/fonts/adminfonts.eot?xfjp3c#iefix') format('embedded-opentype'),
    url('./assets/fonts/adminfonts.ttf?xfjp3c') format('truetype'),
    url('./assets/fonts/adminfonts.woff?xfjp3c') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="adminfont-"], [class*=" adminfont-"], input::before, .adminfonts {
  font-family: adminfonts , sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.adminfont-left-sidebar:before {
  content: "\e900";
}
.adminfont-right-sidebar:before {
  content: "\e901";
}
.adminfont-no-sidebar1:before {
  content: "\e902";
}
.adminfont-no-sidebar:before {
  content: "\e903";
}
.adminfont-cart:before {
  content: "\8907";
}
.adminfont-person:before {
  content: "\e520";
}
.adminfont-tools:before {
  content: "\e700";
}
.adminfont-supervised-user-circle:before {
  content: "\e702";
}
.adminfont-vpn-key:before {
  content: "\e704";
}
.adminfont-user-circle:before {
  content: "\e800";
}
.adminfont-error:before {
  content: "\e802";
}
.adminfont-security:before {
  content: "\e803";
}
.adminfont-storefront:before {
  content: "\e804";
}
.adminfont-editor-list-ul:before {
  content: "\e805";
}
.adminfont-search:before {
  content: "\e806";
}
.adminfont-info:before {
  content: "\e807";
}
.adminfont-check:before {
  content: "\e809";
}
.adminfont-smile-o:before {
  content: "\e80a";
}
.adminfont-close:before {
  content: "\e810";
}
.adminfont-captcha:before {
  content: "\e820";
}
.adminfont-checkbox:before {
  content: "\e822";
}
.adminfont-divider:before {
  content: "\e828";
}
.adminfont-radio:before {
  content: "\e84e";
}
.adminfont-toggle:before {
  content: "\e869";
}
.adminfont-text:before {
  content: "\e86d";
}
.adminfont-section:before {
  content: "\e898";
}
.adminfont-book:before {
  content: "\e8f0";
}
.adminfont-plus-circle:before {
  content: "\e8f7";
}
.adminfont-arrow-down-up:before {
  content: "\e904";
}
.adminfont-clickatell:before {
  content: "\e905";
}
.adminfont-plivo:before {
  content: "\e906";
}
.adminfont-twilio:before {
  content: "\e907";
}
.adminfont-vonage:before {
  content: "\e908";
}
.adminfont-save:before {
  content: "\e909";
}
.adminfont-permanently-rejected:before {
  content: "\e90a";
}
.adminfont-download:before {
  content: "\e90b";
}
.adminfont-publish:before {
  content: "\e90c";
}
.adminfont-withdraw:before {
  content: "\e90d";
}
.adminfont-pdf:before {
  content: "\e90e";
}
.adminfont-moon:before {
  content: "\e90f";
}
.adminfont-light:before {
  content: "\e910";
}
.adminfont-gemini:before {
  content: "\e911";
}
.adminfont-openrouter:before {
  content: "\e912";
}
.adminfont-chatgpt:before {
  content: "\e913";
}
.adminfont-ai:before {
  content: "\e914";
}
.adminfont-plus:before {
  content: "\e915";
}
.adminfont-thumb-up:before {
  content: "\e916";
}
.adminfont-coding:before {
  content: "\e917";
}
.adminfont-twitter:before {
  content: "\e918";
}
.adminfont-instagram:before {
  content: "\e919";
}
.adminfont-wallet-open:before {
  content: "\e91a";
}
.adminfont-wallet-in:before {
  content: "\e91b";
}
.adminfont-wallet:before {
  content: "\e91c";
}
.adminfont-mapbox:before {
  content: "\e91d";
}
.adminfont-google:before {
  content: "\e91e";
}
.adminfont-close-delete:before {
  content: "\e91f";
}
.adminfont-rejecte:before {
  content: "\e920";
}
.adminfont-active:before {
  content: "\e921";
}
.adminfont-recycle:before {
  content: "\e922";
}
.adminfont-resources:before {
  content: "\e923";
}
.adminfont-coupon:before {
  content: "\e924";
}
.adminfont-wallet1:before {
  content: "\e925";
}
.adminfont-sales:before {
  content: "\e926";
}
.adminfont-question:before {
  content: "\e927";
}
.adminfont-facilitator:before {
  content: "\e928";
}
.adminfont-edit:before {
  content: "\e929";
}
.adminfont-direct-transaction:before {
  content: "\e92a";
}
.adminfont-geo-location:before {
  content: "\e92b";
}
.adminfont-product-addon:before {
  content: "\e92c";
}
.adminfont-advertise-product:before {
  content: "\e92d";
}
.adminfont-marketplace-gateway:before {
  content: "\e92e";
}
.adminfont-marketplace-fee:before {
  content: "\e92f";
}
.adminfont-compliance:before {
  content: "\e930";
}
.adminfont-lock:before {
  content: "\e931";
}
.adminfont-pros-and-cons:before {
  content: "\e932";
}
.adminfont-like:before {
  content: "\e933";
}
.adminfont-home:before {
  content: "\e934";
}
.adminfont-dollar:before {
  content: "\e935";
}
.adminfont-bank:before {
  content: "\e936";
}
.adminfont-question-answer:before {
  content: "\e937";
}
.adminfont-zone-wise-shipping:before {
  content: "\e938";
}
.adminfont-approval:before {
  content: "\e939";
}
.adminfont-cash:before {
  content: "\e93a";
}
.adminfont-view-files:before {
  content: "\e93b";
}
.adminfont-automation:before {
  content: "\e93c";
}
.adminfont-shipping:before {
  content: "\e93d";
}
.adminfont-delivery-person:before {
  content: "\e93e";
}
.adminfont-delivery:before {
  content: "\e93f";
}
.adminfont-tax-compliance:before {
  content: "\e940";
}
.adminfont-legal-compliance:before {
  content: "\e941";
}
.adminfont-seller-verification:before {
  content: "\e942";
}
.adminfont-new:before {
  content: "\e943";
}
.adminfont-feature:before {
  content: "\e944";
}
.adminfont-franchises-module:before {
  content: "\e945";
}
.adminfont-pending:before {
  content: "\e946";
}
.adminfont-version-control:before {
  content: "\e947";
}
.adminfont-setup:before {
  content: "\e948";
}
.adminfont-out-of-stock:before {
  content: "\e949";
}
.adminfont-migration:before {
  content: "\e94a";
}
.adminfont-document:before {
  content: "\e94b";
}
.adminfont-database:before {
  content: "\e94c";
}
.adminfont-store-reject:before {
  content: "\e94d";
}
.adminfont-store-reactivated:before {
  content: "\e94e";
}
.adminfont-refund:before {
  content: "\e94f";
}
.adminfont-order-shipped:before {
  content: "\e950";
}
.adminfont-order-completed:before {
  content: "\e951";
}
.adminfont-wordpress:before {
  content: "\e952";
}
.adminfont-profile:before {
  content: "\e953";
}
.adminfont-forum:before {
  content: "\e954";
}
.adminfont-faq:before {
  content: "\e955";
}
.adminfont-moon-fill:before {
  content: "\e956";
}
.adminfont-verification10:before {
  content: "\e957";
}
.adminfont-verification11:before {
  content: "\e958";
}
.adminfont-in-progress:before {
  content: "\e959";
}
.adminfont-suspended:before {
  content: "\e95a";
}
.adminfont-rejected:before {
  content: "\e95b";
}
.adminfont-under-review:before {
  content: "\e95c";
}
.adminfont-accommodation:before {
  content: "\ef35";
}
.adminfont-advance-custom-field:before {
  content: "\ef36";
}
.adminfont-announcement:before {
  content: "\ef37";
}
.adminfont-auction:before {
  content: "\ef38";
}
.adminfont-bank-payment:before {
  content: "\ef39";
}
.adminfont-booking:before {
  content: "\ef3a";
}
.adminfont-buddypress:before {
  content: "\ef3b";
}
.adminfont-bundle:before {
  content: "\ef3c";
}
.adminfont-business-hours:before {
  content: "\ef3d";
}
.adminfont-country-shipping:before {
  content: "\ef3e";
}
.adminfont-customer-support:before {
  content: "\ef3f";
}
.adminfont-store-shipping:before {
  content: "\ef40";
}
.adminfont-elementor:before {
  content: "\ef41";
}
.adminfont-external:before {
  content: "\ef42";
}
.adminfont-follow-store:before {
  content: "\ef43";
}
.adminfont-store-review:before {
  content: "\ef44";
}
.adminfont-store-inventory:before {
  content: "\ef45";
}
.adminfont-geo-my-wp:before {
  content: "\ef46";
}
.adminfont-grouped:before {
  content: "\ef47";
}
.adminfont-identity-verification:before {
  content: "\ef48";
}
.adminfont-import-export:before {
  content: "\ef49";
}
.adminfont-invoice:before {
  content: "\ef4a";
}
.adminfont-knowladgebase:before {
  content: "\ef4b";
}
.adminfont-live-chat:before {
  content: "\ef4c";
}
.adminfont-mangopay:before {
  content: "\ef4d";
}
.adminfont-marketplace-membership:before {
  content: "\ef4e";
}
.adminfont-marketplace-refund:before {
  content: "\ef4f";
}
.adminfont-messaging:before {
  content: "\ef50";
}
.adminfont-paypal-marketplace:before {
  content: "\ef51";
}
.adminfont-paypal-masspay:before {
  content: "\ef52";
}
.adminfont-paypal-payout:before {
  content: "\ef53";
}
.adminfont-per-product-shipping:before {
  content: "\ef54";
}
.adminfont-woocommerce:before {
  content: "\ef55";
}
.adminfont-razorpay:before {
  content: "\ef56";
}
.adminfont-rental:before {
  content: "\ef57";
}
.adminfont-report-abuse:before {
  content: "\ef58";
}
.adminfont-return-and-warrenty:before {
  content: "\ef59";
}
.adminfont-simple:before {
  content: "\ef5a";
}
.adminfont-spmv:before {
  content: "\ef5b";
}
.adminfont-staff-manager:before {
  content: "\ef5c";
}
.adminfont-store-analytics:before {
  content: "\ef5d";
}
.adminfont-store-location:before {
  content: "\ef5e";
}
.adminfont-store-policy:before {
  content: "\ef5f";
}
.adminfont-appointment:before {
  content: "\ef60";
}
.adminfont-seller-analytics:before {
  content: "\ef61";
}
.adminfont-store-seo:before {
  content: "\ef62";
}
.adminfont-stripe-connect:before {
  content: "\ef63";
}
.adminfont-stripe-marketplace:before {
  content: "\ef64";
}
.adminfont-subscription:before {
  content: "\ef65";
}
.adminfont-toolset-types:before {
  content: "\ef66";
}
.adminfont-vacation:before {
  content: "\ef67";
}
.adminfont-variable:before {
  content: "\ef68";
}
.adminfont-vendor-shipping:before {
  content: "\ef69";
}
.adminfont-weight-shipping:before {
  content: "\ef6a";
}
.adminfont-wholesale:before {
  content: "\ef6b";
}
.adminfont-wp-affiliate:before {
  content: "\ef6c";
}
.adminfont-wpml:before {
  content: "\ef6d";
}
.adminfont-zone-shipping:before {
  content: "\ef6e";
}
.adminfont-woocommerce-table-rate-shipping:before {
  content: "\ef6f";
}
.adminfont-product-options:before {
  content: "\ef70";
}
.adminfont-min-max:before {
  content: "\ef71";
}
.adminfont-shipstation-module:before {
  content: "\ef72";
}
.adminfont-advertisement:before {
  content: "\ef73";
}
.adminfont-gift-card:before {
  content: "\ef74";
}
.adminfont-rental-pro:before {
  content: "\ef75";
}
.adminfont-store-support:before {
  content: "\ef76";
}
.adminfont-switch-store:before {
  content: "\ef77";
}
.adminfont-filter:before {
  content: "\ef78";
}
.adminfont-bulk-action:before {
  content: "\ef79";
}
.adminfont-youtube:before {
  content: "\ef7a";
}
.adminfont-verification9:before {
  content: "\ef7b";
}
.adminfont-verification8:before {
  content: "\ef7c";
}
.adminfont-verification7:before {
  content: "\ef7d";
}
.adminfont-review:before {
  content: "\ef7e";
}
.adminfont-report:before {
  content: "\ef7f";
}
.adminfont-payment:before {
  content: "\ef80";
}
.adminfont-finance:before {
  content: "\ef81";
}
.adminfont-google1:before {
  content: "\ef82";
}
.adminfont-cohort:before {
  content: "\ef83";
}
.adminfont-verification5:before {
  content: "\ef84";
}
.adminfont-verification3:before {
  content: "\ef85";
}
.adminfont-verification2:before {
  content: "\ef86";
}
.adminfont-verification1:before {
  content: "\ef87";
}
.adminfont-twitter1:before {
  content: "\ef88";
}
.adminfont-social-share:before {
  content: "\ef89";
}
.adminfont-single-product:before {
  content: "\ef8a";
}
.adminfont-product:before {
  content: "\ef8b";
}
.adminfont-privacy:before {
  content: "\ef8c";
}
.adminfont-onboarding:before {
  content: "\ef8d";
}
.adminfont-multi-product:before {
  content: "\ef8e";
}
.adminfont-menu-manager:before {
  content: "\ef8f";
}
.adminfont-marketplace:before {
  content: "\ef90";
}
.adminfont-location:before {
  content: "\ef91";
}
.adminfont-linkedin-border:before {
  content: "\ef92";
}
.adminfont-linkedin:before {
  content: "\ef93";
}
.adminfont-form:before {
  content: "\ef94";
}
.adminfont-facebook-fill:before {
  content: "\ef95";
}
.adminfont-facebook:before {
  content: "\ef96";
}
.adminfont-customer-service:before {
  content: "\ef97";
}
.adminfont-booking1:before {
  content: "\ef98";
}
.adminfont-bar-chart:before {
  content: "\ef99";
}
.adminfont-appointments:before {
  content: "\ef9a";
}
.adminfont-appearance:before {
  content: "\ef9b";
}
.adminfont-advertisement1:before {
  content: "\ef9c";
}
.adminfont-actions:before {
  content: "\ef9d";
}
.adminfont-minus:before {
  content: "\ef9e";
}
.adminfont-minus-bold:before {
  content: "\ef9f";
}
.adminfont-module:before {
  content: "\efa0";
}
.adminfont-membership:before {
  content: "\efa1";
}
.adminfont-commission:before {
  content: "\efa2";
}
.adminfont-drag:before {
  content: "\efa3";
}
.adminfont-notification:before {
  content: "\efa4";
}
.adminfont-pro-tag:before {
  content: "\efa5";
}
.adminfont-add-product:before {
  content: "\efa6";
}
.adminfont-update-product:before {
  content: "\efa7";
}
.adminfont-pagination-right-arrow:before {
  content: "\efa8";
}
.adminfont-pagination-left-arrow:before {
  content: "\efa9";
}
.adminfont-pagination-next-arrow:before {
  content: "\efaa";
}
.adminfont-pagination-prev-arrow:before {
  content: "\efab";
}
.adminfont-refresh:before {
  content: "\efac";
}
.adminfont-refresh-buttons:before {
  content: "\efad";
}
.adminfont-centralized-connections:before {
  content: "\efae";
}
.adminfont-desktop-pc-valuation:before {
  content: "\efaf";
}
.adminfont-rules:before {
  content: "\efb0";
}
.adminfont-social-media-content:before {
  content: "\efb1";
}
.adminfont-user-network-icon:before {
  content: "\efb2";
}
.adminfont-price:before {
  content: "\efb3";
}
.adminfont-catalog:before {
  content: "\efb4";
}
.adminfont-contact-form:before {
  content: "\efb5";
}
.adminfont-exclude:before {
  content: "\efb6";
}
.adminfont-enquiry:before {
  content: "\efb7";
}
.adminfont-quote:before {
  content: "\efb8";
}
.adminfont-wholesale1:before {
  content: "\efb9";
}
.adminfont-subscription-courses:before {
  content: "\efba";
}
.adminfont-mailchimp:before {
  content: "\efbc";
}
.adminfont-mail:before {
  content: "\efbd";
}
.adminfont-file-submission:before {
  content: "\efbe";
}
.adminfont-submission-message:before {
  content: "\efbf";
}
.adminfont-setting-fill:before {
  content: "\efc0";
}
.adminfont-cross:before {
  content: "\efc1";
}
.adminfont-icon-yes:before {
  content: "\efc2";
}
.adminfont-calendar:before {
  content: "\efc3";
}
.adminfont-menu:before {
  content: "\efc4";
}
.adminfont-send:before {
  content: "\efc5";
}
.adminfont-link:before {
  content: "\efc6";
}
.adminfont-resize:before {
  content: "\efc7";
}
.adminfont-crop-free:before {
  content: "\efc8";
}
.adminfont-text-fields:before {
  content: "\efc9";
}
.adminfont-support:before {
  content: "\efca";
}
.adminfont-create:before {
  content: "\efcb";
}
.adminfont-arrow-right:before {
  content: "\efcc";
}
.adminfont-button-appearance:before {
  content: "\efcd";
}
.adminfont-enquiry-form-tab:before {
  content: "\efce";
}
.adminfont-exclusion-tab:before {
  content: "\efcf";
}
.adminfont-general-tab:before {
  content: "\efd0";
}
.adminfont-live-preview-tab:before {
  content: "\efd1";
}
.adminfont-pro-tab:before {
  content: "\efd2";
}
.adminfont-next:before {
  content: "\efd3";
}
.adminfont-previous:before {
  content: "\efd4";
}
.adminfont-select:before {
  content: "\efd5";
}
.adminfont-success-notification:before {
  content: "\efd6";
}
.adminfont-drop-down:before {
  content: "\efd7";
}
.adminfont-vendor-form-delete:before {
  content: "\efd8";
}
.adminfont-vendor-form-copy:before {
  content: "\efd9";
}
.adminfont-vendor-form-add:before {
  content: "\efda";
}
.adminfont-select-question-type:before {
  content: "\efdb";
}
.adminfont-form-url:before {
  content: "\efdc";
}
.adminfont-form-textbox:before {
  content: "\efdd";
}
.adminfont-form-textarea:before {
  content: "\efde";
}
.adminfont-form-address:before {
  content: "\efdf";
}
.adminfont-form-address02:before {
  content: "\efe0";
}
.adminfont-form-attachment:before {
  content: "\efe1";
}
.adminfont-form-checkboxes:before {
  content: "\efe2";
}
.adminfont-paint-brush:before {
  content: "\efe3";
}
.adminfont-form-city:before {
  content: "\efe4";
}
.adminfont-form-country:before {
  content: "\efe5";
}
.adminfont-form-dropdown:before {
  content: "\efe6";
}
.adminfont-form-email:before {
  content: "\efe7";
}
.adminfont-form-multi-select:before {
  content: "\efe8";
}
.adminfont-form-paypal-email:before {
  content: "\efe9";
}
.adminfont-form-phone:before {
  content: "\efea";
}
.adminfont-form-postcode:before {
  content: "\efeb";
}
.adminfont-form-radio:before {
  content: "\efec";
}
.adminfont-form-recaptcha:before {
  content: "\efed";
}
.adminfont-form-section:before {
  content: "\efee";
}
.adminfont-form-state:before {
  content: "\efef";
}
.adminfont-star-icon:before {
  content: "\eff0";
}
.adminfont-form-store-description:before {
  content: "\eff1";
}
.adminfont-folder-open:before {
  content: "\eff2";
}
.adminfont-undo:before {
  content: "\eff3";
}
.adminfont-dropdown-checklist:before {
  content: "\eff4";
}
.adminfont-multi-select:before {
  content: "\eff5";
}
.adminfont-captcha-automatic-code:before {
  content: "\eff6";
}
.adminfont-cloud-upload:before {
  content: "\eff7";
}
.adminfont-help:before {
  content: "\eff8";
}
.adminfont-t-letter-bold:before {
  content: "\eff9";
}
.adminfont-clock:before {
  content: "\effa";
}
.adminfont-alarm:before {
  content: "\effb";
}
.adminfont-thumbs-ok:before {
  content: "\effc";
}
.adminfont-preview:before {
  content: "\effd";
}
.adminfont-paid:before {
  content: "\effe";
}
.adminfont-order:before {
  content: "\efff";
}
.adminfont-multiple-inputs:before {
  content: "\f000";
}
.adminfont-global-community:before {
  content: "\f001";
}
.adminfont-experiment-results:before {
  content: "\f002";
}
.adminfont-copy:before {
  content: "\f003";
}
.adminfont-cogs-on-wheels:before {
  content: "\f004";
}
.adminfont-blocks:before {
  content: "\f005";
}
.adminfont-analytics:before {
  content: "\f006";
}
.adminfont-setting:before {
  content: "\f007";
}
.adminfont-star-o:before {
  content: "\f008";
}
.adminfont-star:before {
  content: "\f009";
}
.adminfont-pushpin:before {
  content: "\f00a";
}
.adminfont-arrow-left:before {
  content: "\f00b";
}
.adminfont-arrow-up:before {
  content: "\f00c";
}
.adminfont-arrow-down:before {
  content: "\f00d";
}
.adminfont-import:before {
  content: "\f00e";
}
.adminfont-export:before {
  content: "\f00f";
}
.adminfont-single-sign-on:before {
  content: "\f010";
}
.adminfont-gift-a-course:before {
  content: "\f011";
}
.adminfont-classroom-enrollment:before {
  content: "\f012";
}
.adminfont-bulk-course-sync:before {
  content: "\f013";
}
.adminfont-smart-course-sync1:before {
  content: "\f014";
}
.adminfont-web-page-website:before {
  content: "\f015";
}
.adminfont-keyboard-arrow-down:before {
  content: "\f016";
}
.adminfont-unread:before {
  content: "\f017";
}
.adminfont-eye:before {
  content: "\f018";
}
.adminfont-eye-blocked:before {
  content: "\f019";
}
.adminfont-subscription-details:before {
  content: "\f01a";
}
.adminfont-subscription-dashboard:before {
  content: "\f01b";
}
.adminfont-star-notifima:before {
  content: "\f01c";
}
.adminfont-recaptcha-support-copy:before {
  content: "\f01d";
}
.adminfont-export-subscribers:before {
  content: "\f01f";
}
.adminfont-export-import-stock-01:before {
  content: "\f020";
}
.adminfont-double-opt-in:before {
  content: "\f021";
}
.adminfont-ban-spam-mail:before {
  content: "\f022";
}
.adminfont-move:before {
  content: "\e5402";
}
.adminfont-delete:before {
  content: "\e5800";
}
.adminfont-more-vertical:before {
  content: "\e8051";
}
.adminfont-attachment:before {
  content: "\e8598";
}
.adminfont-dots-three-horizontal:before {
  content: "\e8eee";
}
.adminfont-credit-card:before {
  content: "\e9502";
}