$theme-color: #5007aa;
$accent-color: #e35047;
$light-accent-color: #e26f76;
$color-white: #fff;
$color-black: #181819;
$color-light-black: #2d2d2d;
$color-active: #5007aa;
$text-color: #000000c7;
$sub-text-color: #424242d0;
$menu-color: #f9f8fb;
$background-color: #e6e2e2f3;
$theme-background-color: #ece2f9f1;
$border-light-small: 0.063rem solid #dbdbdb;
$border-light-medium: 0.120rem solid #dbdbdb;
$border-black-small: 0.063rem solid #dbdbdb;
$border-black-medium: 0.115rem solid #111418;
$border-theme-small: 0.063rem solid #5007aa;
$border-theme-medium: 0.115rem solid #5007aa;
$border-theme-large: 0.125rem solid #5007aa;
$border-radius-small: 0.25rem;
$border-radius-medium: 0.438rem;
$border-radius-large: 0.5rem;
$border-radius-button: 8rem;
$color-palette: (
  red: (
    light-color: #fff3f1,
    color: #f7a79a
  ),
  green: (
    light-color: #e8fbea,
    color: #6bbf8f
  ),
  teal: (
    light-color: #e6fcf9,
    color: #5baab3
  ),
  orange: (
    light-color: #fff7ec,
    color: #d88c5c
  ),
  yellow: (
    light-color: #fffce8,
    color: #d4b86a
  ),
  blue: (
    light-color: #e6f4ff,
    color: #6e9fd1
  ),
  purple: (
    light-color: #f4eaff,
    color: #8a6fce
  ),
  indigo: (
    light-color: #e8efff,
    color: #6f78c7
  ),
  pink: (
    light-color: #ffe9f1,
    color: #d676a4
  ),

  
  facebook:(
    color: #1877F2,
  ),
  twitter:(
    color: #000,
  ),
  linkedin:(
    color: #0A66C2,
  ),
  youtube:(
    color: #F00,
  ),
  instagram:(
    color: #E4405F,
  )
);


// $icon-color-palette: (
//   red: (
//     light-color: #fde8e4,
//     color: #f06b4f
//   ),
//   green: (
//     light-color: #d9f5f0,
//     color: #06be9f
//   ),
//   yellow: (
//     light-color: #fff0e1,
//     color: #ff9f43
//   ),
//   blue: (
//     light-color: #bfdeed6e,
//     color: #003d66de
//   ),
  
// );