$theme-color: #5007aa;
$accent-color: #e35047;
$light-accent-color: #e26f76;
$color-white: #fff;
$color-black: #181819;
$color-light-black: #2d2d2d;
$color-active: #5007aa;
$text-color: #000000c7;
$menu-color: #f9f8fb;
$background-color: #f9f9f9;
$theme-background-color: #ece2f9f1;
$border-light-small: 0.063rem solid #e0e4e9;
$border-light-medium: 0.120rem solid #b4b6b9;
$border-black-small: 0.063rem solid #111418;
$border-black-medium: 0.115rem solid #111418;
$border-theme-small: 0.063rem solid #5007aa;
$border-theme-medium: 0.115rem solid #5007aa;
$border-theme-large: 0.125rem solid #5007aa;
$border-radius-small: 0.25rem;
$border-radius-medium: 0.438rem;
$border-radius-large: 0.5rem;
$border-radius-button: 8rem;
$button-color-palette: (
  red: (
    background: #fde8e4,
    color: #f06b4f
  ),
  green: (
    background: #d9f5f0,
    color: #06be9f
  ),
  yellow: (
    background: #fff0e1,
    color: #ff9f43
  ),
  blue: (
    background: #bfdeed6e,
    color: #003d66de
  )
);
$icon-color-palette: (
  red: (
    background: #fde8e4,
    color: #f06b4f
  ),
  green: (
    background: #d9f5f0,
    color: #06be9f
  ),
  yellow: (
    background: #fff0e1,
    color: #ff9f43
  ),
  blue: (
    background: #bfdeed6e,
    color: #003d66de
  )
);