$theme-color: #5007aa;
$accent-color: #e35047;
$light-accent-color: #e26f76;
$color-white: #fff;
$color-black: #181819;
$color-light-black: #2d2d2d;
$color-active: #5007aa;
$text-color: #000000c7;
$sub-text-color: #424242d0;
$menu-color: #f9f8fb;
$background-color: #e6e2e2f3;
$theme-background-color: #ece2f9f1;
$border-light-small: 0.063rem solid #dbdbdb;
$border-light-medium: 0.120rem solid #dbdbdb;
$border-black-small: 0.063rem solid #dbdbdb;
$border-black-medium: 0.115rem solid #111418;
$border-theme-small: 0.063rem solid #5007aa;
$border-theme-medium: 0.115rem solid #5007aa;
$border-theme-large: 0.125rem solid #5007aa;
$border-radius-small: 0.25rem;
$border-radius-medium: 0.438rem;
$border-radius-large: 0.5rem;
$border-radius-button: 8rem;


$color-palette: (
  red: (
    lightColor: #fde8e4,
    color: #f06b4f
  ),
  green: (
    lightColor: #c6f6d5,
    color: #276749
  ),
  teal: (
    lightColor: #b2f5ea,
    color: #285e61
  ),
  orange:(
  lightColor: #fff0e1,
    color: #9c4221
  ),
  yellow: (
    lightColor: #fefcbf,
    color: #975a16
  ),
  blue: (
    lightColor: #bee3f8,
    color: #2c5282
  ),
  purple: (
    lightColor: #e9d8fd,
    color: #553c9a
  ),
  indigo: (
    lightColor: #c3dafe,
    color: #434190
  ),
  pink: (
    lightColor: #fed7e2,
    color: #97266d
  ),
);
// $icon-color-palette: (
//   red: (
//     lightColor: #fde8e4,
//     color: #f06b4f
//   ),
//   green: (
//     lightColor: #d9f5f0,
//     color: #06be9f
//   ),
//   yellow: (
//     lightColor: #fff0e1,
//     color: #ff9f43
//   ),
//   blue: (
//     lightColor: #bfdeed6e,
//     color: #003d66de
//   ),
  
// );