  :root {
    --colorPrimary: #5007aa;
    --colorSecondary: #00eed0;
    --colorAccent: #0197af;
    --colorSupport: #02153d;

    --textColor: #000000c7;
    --subTextColor: #424242d0;

    --color-black: #181819;
    --colorWhite: #fff;

    --backgroundColor: #e6e2e2f3;
    --backgroundWhite: #fff;
    --backgroundPrimary: #ece2f9f1;

    --borderColor: #dbdbdb;

    --box-shadow: #dfdee16e;
    --box-shadow-theme: var(--colorPrimary) 15%, white;
  }

  $theme-color: var(--colorPrimary);

  $color-white: var(--colorWhite);
  $color-black: var(--color-black);
  $color-active: var(--colorPrimary);

  $text-color: var(--textColor);
  $sub-text-color: var(--subTextColor);

  $background-color: var(--backgroundColor);
  $background-white: var(--backgroundWhite);
  $theme-background-color: var(--backgroundPrimary);

  $border-light-small: 0.063rem solid var(--borderColor);
  $border-light-medium: 0.120rem solid var(--borderColor);
  $border-black-small: 0.063rem solid var(--borderColor);
  $border-theme-small: 0.063rem solid var(--colorPrimary);
  $border-theme-medium: 0.115rem solid var(--colorPrimary);

  $border-radius-small: 0.25rem;
  $accent-color: #e35047;
  
  $box-shadow: 0 0.125rem 0.5rem 0 var(--box-shadow);
  $box-shadow-theme: 0 0.125rem 0.5rem 0 var(--box-shadow-theme);

  $color-palette: (
    primary:(light-color: color-mix(in srgb, var(--colorPrimary) 15%, white),
      color: var(--colorPrimary)),
    secondary:(light-color: color-mix(in srgb, var(--colorSecondary) 15%, white),
      color: var(--colorSecondary)),
    accent:(light-color: color-mix(in srgb, var(--colorAccent) 15%, white),
      color: var(--colorAccent)),
    support:(light-color: color-mix(in srgb, var(--colorSupport) 15%, white),
      color: var(--colorSupport)),

    red: (light-color: #fff3f1,
      color: #f7a79a),
    green: (light-color: #e8fbea,
      color: #6bbf8f),
    teal: (light-color: #e6fcf9,
      color: #5baab3),
    orange: (light-color: #fff7ec,
      color: #d88c5c),
    yellow: (light-color: #fffce8,
      color: #d4b86a),
    blue: (light-color: #e6f4ff,
      color: #6e9fd1),
    purple: (light-color: #f4eaff,
      color: #8a6fce),
    indigo: (light-color: #e8efff,
      color: #6f78c7),
    pink: (light-color: #ffe9f1,
      color: #d676a4),

    facebook:(color: #1877F2,
    ),
    twitter:(color: #000,
    ),
    linkedin:(color: #0A66C2,
    ),
    youtube:(color: #F00,
    ),
    instagram:(color: #E4405F,
    )
  );

  
  $btn-color-palette: (
    purple:(light-color: color-mix(in srgb, var(--colorPrimary) 10%, white),
      color: var(--colorPrimary),
    ),
    red: (light-color: #fde8e4,
      color: #f06b4f),
    green: (light-color: #d9f5f0,
      color: #06be9f),
    yellow: (light-color: #fff0e1,
      color: #ff9f43),
    blue: (light-color: #bfdeed6e,
      color: #003d66de),
    )