@use '../../../global.scss' as *;

.analytics-container {
    display: flex;
    // justify-content: space-between;
    gap: 1rem;
    height: fit-content;

    .analytics-item {
        display: flex;
        gap: 1rem;
        align-items: start;
        background: $background-white;
        padding: 1rem;
        width: 100%;
        border-radius: 0.313rem;
        box-shadow: $box-shadow;
        box-sizing: border-box;

        .analytics-icon {
            i {
                border-radius: 0.313rem;
                font-size: 2.5rem;
                padding: 0.625rem;
                line-height: 1.5;
            }
        }

        .details {
            .number {
                font-size: 2.063rem;
                line-height: 0.9;
                font-weight: 600;
                color: $text-color;
            }

            .text {
                color: $sub-text-color;
                line-height: 1.713;
            }
        }
    }

    // admin Wallet Transaction table(common)
    // &[data-template="wallet"] {
    //     padding: 0 0 1rem;
    //     margin-bottom: 1rem;
    //     border-bottom: $border-light-small;
    // }
    // Wallet Transaction table

    // report
    &[data-template="small"] {
        .analytics-item {
            box-sizing: border-box;

            i {
                padding: 0.5rem;
                font-size: 1.625rem;
            }

            .details {
                .number {
                    font-size: 1.25rem;
                }
            }
        }
    }

    &.flex-wrap{
        flex-wrap: wrap;
        
    .col-6  {  flex: 1 1 calc(8.3333%  - 1rem); }
    .col-5  {  flex: 1 1 calc(16.6667% - 1rem); }
    .col-4  {  flex: 1 1 calc(25%      - 1rem); }
    .col-3  {  flex: 1 1 calc(33.3333% - 1rem); }
    .col-2  {  flex: 1 1 calc(41.6667% - 1rem); }
    .col-1  {  flex: 1 1 calc(50%      - 1rem); }
    }

    &[data-template="dashboard"] {
        .analytics-item {
            flex-direction: row-reverse;
            justify-content: space-between;

            .analytics-icon {
                margin-top: 0.45rem;

                i {
                    padding: 0.5rem;
                    font-size: 1.5rem;
                    border-radius: 0.313rem;
                    color: #fff;
                    margin-top: 0.625rem;
                }

                .text {
                    color: $sub-text-color;
                    padding-top: 0.313rem;
                }
            }

            .details {
                .text {
                    font-size: 1.063rem;
                    font-weight: 500;
                    color: $sub-text-color;
                }

                .number {
                    font-size: 1.813rem !important;
                    /* zyra style overwrite */
                    line-height: 2 !important;
                    /* zyra style overwrite */
                    font-weight: 600;
                }

                .report {
                    font-weight: 500;
                    color: $sub-text-color;

                    div {
                        line-height: 1.313rem;
                    }
                }
            }
        }
    }
}