@use '../../../global.scss' as *;

@each $name, $style in $btn-color-palette {
  // light background color btn
  .btn-#{$name} {
    background: map-get($style, light-color);
    color: map-get($style, color);

    &:hover {
      background: map-get($style, light-color);
      color: map-get($style, color);
    }
  }

  // dark background color btn
  .btn-#{$name}-bg {
    background: map-get($style, color);
    color: #fff;

    &:hover {
      background: map-get($style, color);
    }
  }

  // only text color with transparent background
  .btn-#{$name}-color {
    color: map-get($style, color);
    background: transparent;
  }
}

.buttons-wrapper {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 0.625rem;
  flex-wrap: wrap;

  &[data-position="center"] {
    justify-content: center;
  }

  &[data-position="left"] {
    justify-content: start;
  }

  &[data-position="right"] {
    justify-content: end;
  }
}

.admin-btn {
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: .65rem 1.5rem 0.65rem 1.4rem;
  border-radius: $border-radius-small;
  font-size: 0.85rem;
  transition: all 0.3s linear;
  width: fit-content;
  gap: 0.5rem;
  border: none;
  font-weight: 500;
  white-space: nowrap;


  &.btn-preview {
    padding: 0;
  }
}

.add-btn {
  display: flex;
  gap: 0.313rem;
  align-items: center;
  border-bottom: 0.063rem solid $theme-color;
  padding-bottom: 0.125rem;
  font-size: 0.813rem;
  color: $theme-color;
  cursor: pointer;
}