@use '../../../global.scss' as *;

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem 1rem;
    background: #efefef;
    border-radius: .313rem 0.313rem 0 0;
    align-items: start;

    .icon {
        font-size: 0.95rem;
        padding: 0.313rem;
        border-radius: 50%;
        transition: all 0.4s ease;
        cursor: pointer;
        margin-top: -0.5rem;
        color: $sub-text-color;

        &:hover {
            background: $background-color;
        }
    }

    .left {
        .title {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        .des {
            padding-top: 0.125rem;
        }
    }

    .right {
        display: flex;
        gap: 0.5rem;

        .field-wrapper,
        .field-wrapper .des {
            display: flex;
            align-items: center;
            gap: 0.313rem;

            .toggle-checkbox-header {
                margin: 0;
            }
        }

        span {
            font-size: 0.875rem;
            color: $sub-text-color;
        }

        .admin-btn {
            i {
                padding: 0;
                font-size: 1rem;
            }
        }
    }

    // add product page
    .arrow-icon {
        font-size: 1.313rem;
        transform: rotate(-90deg);
        padding: 0.125rem;
    }
}

.card-content {
    border-radius: 0.313rem;
    box-shadow: $box-shadow;
    background: $background-white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0.063rem solid #e5e5e5;

    .table-wrapper {
        border: $border-light-small;
    }

    .card-body {
        padding: 1rem;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .settings-metabox-note {
            padding: 0 0 1rem;
        }

        &.hide-body {
            display: none;
            /*for hide toggle hide body */
        }

        .card-header {
            // margin: 0;
            border-bottom: $border-light-small;
            // margin-bottom: 1rem;
        }
    }

    &.transparent {
        background: transparent;
        box-shadow: none;

        .card-body {
            padding: 0;
        }
    }

    &.content-width {
        width: fit-content;
    }

    &.content-height {
        height: fit-content;
    }

    &.theme-bg {
        .card-header {
            background: transparent;
        }

        background: $theme-background-color;
    }

    &:has(.hide-body) {
        .card-content {
            border: none;
        }
    }

    &:has(.card-header) {
        .card-body {
            border-top: $border-light-small;
        }
    }
}


// checklist start common and delete
.card-wrapper:has(.checklist-wrapper) {
    height: fit-content;
    position: sticky !important;
    top: 5rem;
    z-index: 9;
}
.card-wrapper:has(.checklist-wrapper.row) {
    top: 2.125rem;
}
.checklist-wrapper {
    .checklist-title {
        font-size: 1.25rem;
        color: $text-color;
        font-weight: 600;
    }

    ul {
        margin: 0;
        list-style-type: none;

        li {
            margin: 1.125rem 0;
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            gap: 0.45rem;
            color: $text-color;

            .check-icon {
                width: 1.5rem;

                span {
                    width: 0.95rem;
                    height: 0.95rem;
                    display: inline-block;
                    background: $background-color;
                    border-radius: 50%;
                    position: relative;
                    font-family: adminfonts, sans-serif;
                    padding: 0.063rem;
                }
            }

            .details {
                .title {
                    font-size: 1rem;
                    font-weight: 600;
                    margin-bottom: 0.313rem;
                }

                .des {
                    font-size: 0.813rem;
                }
            }

            &.checked {
                span {
                    background: $theme-color;


                    &::before {
                        position: absolute;
                        content: "\e809";
                        color: #fff;
                        font-size: 0.95rem;
                    }
                }
            }
        }
    }

    &.row {
        ul {
            display: flex;
            gap: 0.625rem;
            justify-content: center;

            li {
                margin: 0;
            }
        }
    }
}

// checklist end