@use '../../../global.scss' as *;

.card-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    align-items: start;

    .icon {
        font-size: 0.95rem;
        padding: 0.313rem;
        border-radius: 50%;
        transition: all 0.4s ease;
        cursor: pointer;
        margin-top: -0.5rem;
        color: $sub-text-color;

        &:hover {
            background: $background-color;
        }
    }

    .left {
        .title {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        .des {
            padding-top: 0.125rem;
        }
    }

    .right {
        display: flex;
        gap: 0.5rem;

        .field-wrapper,
        .field-wrapper .des {
            display: flex;
            align-items: center;
            gap: 0.313rem;
        }

        span {
            font-size: 0.875rem;
            color: $sub-text-color;
        }

        .admin-btn {
            i {
                padding: 0;
                font-size: 1rem;
            }
        }
    }

    // add product page
    .arrow-icon {
        font-size: 1.313rem;
        transform: rotate(-90deg);
        padding: 0.125rem;
    }
}

.card-content {
    border-radius: 0.313rem;
    box-shadow: $box-shadow;
    background: $background-white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .table-wrapper {
        border: $border-light-small;
    }

    .card-header {
        margin: 1.5rem;
        margin-bottom: 0;
    }

    .card-body {
        padding: 1.5rem;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .settings-metabox-note {
            padding: 0 0 1rem;
        }

        &.hide-body {
            display: none;
            /*for hide toggle hide body */
        }

        .card-header {
            margin: 0;
            border-bottom: $border-light-small;
            margin-bottom: 1rem;
        }
    }

    &.transparent {
        background: transparent;
        box-shadow: none;

        .card-body {
            padding: 0;
        }
    }
    &.content-width{
        width: fit-content;
    }
    &.content-height{
        height: fit-content;
    }
    &:has(.hide-body) {
        .card-content {
            border: none;
        }
    }

    &:has(.card-header) {
        .card-body {
            border-top: $border-light-small;
        }
    }
}