@use '../../../global.scss' as *;

.mini-card {
    border-radius: 0.313rem;
    width: 100%;

    &.border {
        border: $border-light-small;
        padding: 0.85rem;
    }

    &.background {
        padding: 0.85rem;
        background: #f8f9fa;
    }

    .mini-card-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.75rem;

        img {
            height: 1.75rem;
            width: auto;
        }

        .icon {
            padding: 0.5rem;
            font-size: 1.25rem;
            border-radius: 0.313rem;
        }

        a {
            font-size: 0.813rem;
            font-weight: 500;
            color: $theme-color;
        }

        .tag {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }
    }

    .mini-card-title {
        margin-bottom: 0.313rem;
        line-height: 1.125;
    }

    .mini-card-description {
        line-height: 1.25;
        word-wrap: break-word;

        .read-more{
            display: block;
            margin-top: 0.5rem;
            color: $theme-color;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .mini-card-value {
        font-size: 1.813rem;
        font-weight: 600;
        line-height: 2rem;
        margin: 0.5rem 0;
    }

    // feature card
    .mini-card-items {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: space-between;

        .mini-card-item {
            padding-top: 0.5rem;
            width: 31%;
            display: flex;
            gap: 0.625rem;
            align-items: start;

            i {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
                border-radius: 0.313rem;
            }

            h3 {
                font-size: 1rem;
                padding-bottom: 0.313rem;
            }

        }
    }
}