@use '../../../global.scss' as *;

.popover-wrapper {
    position: relative;

    .count {
        position: absolute;
        font-size: 0.75rem;
        right: -0.25rem;
        top: -0.45rem;
        padding: 0.125rem;
        background: $accent-color;
        border-radius: 50%;
        width: 0.75rem;
        height: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popover {
        position: absolute;
        top: 2rem;
        overflow: hidden;
        border: 0.063rem solid #e5e9f2;
        max-width: 14rem;
        min-width: 14rem;
        right: 0;
        background: #fff;
        border-radius: 0.313rem;
        transition: all 0.3s ease;
        z-index: 9999;

        .popover-body {
            margin: 0;

            .tabs-wrapper {
                padding: 0.75rem;
            }
        }

        .popover-header {
            .title {
                padding: 0.75rem;
                border-bottom: $border-light-small;
                display: flex;
                justify-content: space-between;
                font-size: 1.25rem;
                align-items: center;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0.5rem 0;

            li {
                margin: 0;

                .item {
                    display: flex;
                    align-items: end;
                    color: #526484;
                    font-size: 0.95rem;
                    line-height: 0.813;
                    font-weight: 500;
                    padding: .813rem 1.313rem;
                    position: relative;
                    gap: 0.5rem;
                    cursor: pointer;


                    // i {
                    //     font-size: 1.063rem;
                    // }

                    &:hover {
                        color: #854fff;
                        background: $theme-background-color;
                    }
                }

                &.delete {

                    .item {
                        color: $accent-color;
                        border-top: 0.063rem solid;

                        &:hover {
                            background: transparent;
                        }
                    }
                }
            }
        }

        .popover-footer {
            padding: 0.75rem;
            border: $border-light-small;
        }

        .notification,
        &.popover-notification {
            min-width: 25rem;

            ul {
                margin: 0;
                max-height: 20rem;
                overflow: auto;

                li {
                    margin: 0;
                }

                .item,
                a {
                    display: flex;
                    gap: 0.813rem;
                    padding: 0.75rem;
                    align-items: start;
                    border-bottom: $border-light-small;

                    &:hover {
                        background: #f3f3f3;
                    }

                    .icon {
                        padding: 0.313rem;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        i {
                            font-size: 1.5rem;
                        }
                    }

                    i {
                        font-size: 1.625rem;
                        padding: 0.45rem;
                        border-radius: 50%;
                    }

                    .details {
                        span {
                            display: block;
                        }

                        .heading {
                            font-size: 0.95rem;
                            color: #000;
                        }

                        .message {
                            color: #00000082;
                            padding: 0.313rem 0;
                        }

                        .time {
                            font-size: 0.813rem;
                            color: #0000004a;
                        }
                    }

                    .time {
                        position: absolute;
                        top: 0.5rem;
                        right: 0.5rem;
                    }
                }
            }
        }
    }
}

.popover-icon,
.admin-icon {
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 50%;
    // color: $theme-color;
    cursor: pointer;
    position: relative;

    &:hover {
        background: #e7e6e6cf;
    }
}