@use "../../../global.scss" as *;

.skeleton {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, var(--borderColor) 25%, var(--backgroundWhite) 37%, var(--borderColor) 63%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.4s ease infinite;
    font-size: inherit;
    line-height: inherit;

    &-text {
        height: 1em;
        border-radius: $border-radius-small;
    }

    &-rectangular {
        border-radius: $border-radius-small;
    }

    &-circular {
        border-radius: 50%;
    }
}

@keyframes skeleton-loading {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}
