@use '../../../global.scss' as *;

.info-item {
    display: flex;
    justify-content: space-between;
    padding: 0.45rem 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &.owner {
        flex-direction: column;
    }

    .details-wrapper {
        display: flex;
        gap: 0.75rem;

        .details {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .name {
                font-size: 1.125rem;
                line-height: 1rem;
                color: $text-color;
                font-weight: 500;
                position: relative;
                padding-right: 0.625rem;
                display: flex;
                align-items: end;
                gap: 0.625rem;
            }

            .des {
                font-size: 0.813rem;
            }

            .small-text {
                font-size: 0.875rem;
                color: $sub-text-color;
            }
        }
    }

    .right-details {
        text-align: right;

        .price {
            font-size: 1.063rem;
            font-weight: 600;
            line-height: 1.5rem;
            padding-bottom: 0.125rem;
            color: $text-color;
        }
    }

    .contact-details {
        flex-direction: column;
        gap: 0.5rem;
    }
}